Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

codecov.yml:

codecov:
  branch: next
  ci:
    - appveyor
  max_report_age: off
  
ignore:
  # as requested by MDoerner, because they aren't really testable
  - Rubberduck.VBEEditor
  # it makes no sense to track coverage on unit-tests
  - RubberduckTests
    
coverage:
  round: nearest
  precision: 2
  range: 40..80 
  status:
    # don't check patch coverage
    patch: off
    project:
      default:
        target: 0 # don't force a minimum coverage
        # allow decrease by up to 5 %
        threshold: 5
        base: auto
  
comment:
  layout: "flags, diff, files"
  behavior: once
  require_changes: yes

flags:
  core:
    paths:
      - Rubberduck.Parsing
      - Rubberduck.Core
      # Exclude UI from the core flag, that has a separate flag
      - !Rubberduck.Core/UI 
  ui:
    paths:
      - Rubberduck.Core/UI
  inspections:
    paths:
      - Rubberduck.Inspections
  tools:
     paths:
       - Rubberduck.SourceControl
       - Rubberduck.SmartIndenter
       - Rubberduck.RegexAssistant

Closes #4039
  Rubberduck.Parsing/ComReflection/ComProject.cs
Due: none

Update IMessageBox Api for Confirmation, see #4042
  Rubberduck.Core/UI/CodeExplorer/Commands/RemoveCommand.cs
  Rubberduck.Interaction/IMessageBox.cs
  RubberduckTests/CodeExplorer/CodeExplorerTests.cs
  RubberduckTests/Refactoring/ReorderParametersTests.cs
Due: ui

Revisions to the powershell script to improve the check for C++ build tools; checking for VsDevCmd.bat alone is not sufficient.
  Rubberduck.Deployment/BuildRegistryScript.ps1
Due: none

Add an explicit Import-Module as AppVeyor doesn't appear to have VSSetup module loaded by default.
  Rubberduck.Deployment/BuildRegistryScript.ps1
Due: none

Test to see if using PowerShellGet will enable us to import VSSetup module...
  appveyor.yml
Due: none

If there ain't no nuget package nor choolately package, we'll just provide our own.
  Rubberduck.Deployment/BuildRegistryScript.ps1
  Rubberduck.Deployment/OleWoo/VSSetup.zip
  Rubberduck.Deployment/Rubberduck.Deployment.csproj
  appveyor.yml
Due: none

Add Bypass setting for ExecutionPolicy
  Rubberduck.Deployment/Rubberduck.Deployment.csproj
Due: none

Major fixes
  Rubberduck.Core/Navigation/CodeMetrics/CodeMetricsViewModel.cs
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/CodeMetrics/CodeMetricsControl.xaml
  Rubberduck.Core/UI/Controls/GroupingGrid.xaml
  Rubberduck.Core/UI/Converters/DeclarationToMemberSignatureConverter.cs
Due: ui

Drop ConfirmYesNo without optional argument
  Rubberduck.Interaction/IMessageBox.cs
  RubberduckTests/Refactoring/IntroduceParameterTests.cs
  RubberduckTests/Refactoring/RemoveParametersTests.cs
  RubberduckTests/Refactoring/RenameTests.cs
  RubberduckTests/Refactoring/ReorderParametersTests.cs
Due: none

Auto-select first and track selection across parses
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerViewModel.cs
  Rubberduck.Core/Navigation/CodeMetrics/CodeMetricsViewModel.cs
Due: none

Fix merge a bit
  Rubberduck.CodeAnalysis/Rubberduck.CodeAnalysis.csproj
  Rubberduck.Core/UI/CodeMetrics/CodeMetricsWindow.cs
  Rubberduck.sln
Due: ui

Move my VM changes over
  Rubberduck.Core/CodeAnalysis/CodeMetrics/CodeMetricsViewModel.cs
Due: none

Drop Once-Used NotifyError
  Rubberduck.Core/App.cs
  Rubberduck.Interaction/IMessageBox.cs
Due: none

Refactor the base classes for refactoring presenter, dialog, and viewmodel Modify other supporting interfaces
  Rubberduck.Core/UI/Refactorings/IRefactoringDialog.cs
  Rubberduck.Core/UI/Refactorings/IRefactoringDialogFactory.cs
  Rubberduck.Core/UI/Refactorings/RefactoringDialogBase.Designer.cs
  Rubberduck.Core/UI/Refactorings/RefactoringDialogBase.cs
  Rubberduck.Core/UI/Refactorings/RefactoringDialogBase.resx
  Rubberduck.Core/UI/Refactorings/RefactoringPresenterBase.cs
  Rubberduck.Core/UI/Refactorings/RefactoringViewModelBase.cs
  Rubberduck.Refactorings/IRefactoring.cs
  Rubberduck.Refactorings/IRefactoringDialog.cs
  Rubberduck.Refactorings/IRefactoringPresenterFactory.cs
  Rubberduck.Refactorings/IRefactoringViewModel.cs
Due: ui

Update EncapsulateField implementation
  Rubberduck.Core/UI/Refactorings/EncapsulateField/EncapsulateFieldDialog.Designer.cs
  Rubberduck.Core/UI/Refactorings/EncapsulateField/EncapsulateFieldDialog.cs
  Rubberduck.Core/UI/Refactorings/EncapsulateField/EncapsulateFieldDialog.resx
  Rubberduck.Core/UI/Refactorings/EncapsulateField/EncapsulateFieldPresenter.cs
  Rubberduck.Core/UI/Refactorings/EncapsulateField/EncapsulateFieldPresenterFactory.cs
  Rubberduck.Core/UI/Refactorings/EncapsulateField/EncapsulateFieldViewModel.cs
Due: ui

Update ExtractInterface implementation
  Rubberduck.Core/UI/CodeExplorer/Commands/RenameCommand.cs
  Rubberduck.Core/UI/Refactorings/ExtractInterface/ExtractInterfaceDialog.Designer.cs
  Rubberduck.Core/UI/Refactorings/ExtractInterface/ExtractInterfaceDialog.cs
  Rubberduck.Core/UI/Refactorings/ExtractInterface/ExtractInterfaceDialog.resx
  Rubberduck.Core/UI/Refactorings/ExtractInterface/ExtractInterfacePresenter.cs
  Rubberduck.Core/UI/Refactorings/ExtractInterface/ExtractInterfacePresenterFactory.cs
  Rubberduck.Core/UI/Refactorings/ExtractInterface/ExtractInterfaceViewModel.cs
Due: ui

Update RemoveParameter implementation
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersDialog.Designer.cs
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersDialog.cs
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersDialog.resx
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersPresenter.cs
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersPresenterFactory.cs
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersViewModel.cs
Due: ui

Update Rename implementation
  Rubberduck.Core/UI/Refactorings/Rename/RenameDialog.Designer.cs
  Rubberduck.Core/UI/Refactorings/Rename/RenameDialog.cs
  Rubberduck.Core/UI/Refactorings/Rename/RenameDialog.resx
  Rubberduck.Core/UI/Refactorings/Rename/RenamePresenter.cs
  Rubberduck.Core/UI/Refactorings/Rename/RenamePresenterFactory.cs
  Rubberduck.Core/UI/Refactorings/Rename/RenameViewModel.cs
Due: ui

Update ReorderParameters implementation
  Rubberduck.Core/UI/Refactorings/ReorderParameters/ReorderParametersDialog.Designer.cs
  Rubberduck.Core/UI/Refactorings/ReorderParameters/ReorderParametersDialog.cs
  Rubberduck.Core/UI/Refactorings/ReorderParameters/ReorderParametersDialog.resx
  Rubberduck.Core/UI/Refactorings/ReorderParameters/ReorderParametersPresenter.cs
  Rubberduck.Core/UI/Refactorings/ReorderParameters/ReorderParametersPresenterFactory.cs
  Rubberduck.Core/UI/Refactorings/ReorderParameters/ReorderParametersViewModel.cs
Due: ui

Initial changes after merge
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeExpressionEvaluator.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseExpression.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/SelectCaseStmtContextWrapper.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/VBALogicOperators.cs
  Rubberduck.Inspections/Rubberduck.Inspections.csproj
  RubberduckTests/Inspections/ParseTreeExpressionEvaluatorTests.cs
  RubberduckTests/Inspections/ParseTreeValueTests.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: inspections

Get Environ fakes working and add integration tests
  Rubberduck.Main/ComClientLibrary/UnitTesting/FakeBase.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/Fakes/Environ.cs
  RubberduckTests/IntegrationTests/FakeTests.bas
Due: none

Fix CurDir fakes
  Rubberduck.Main/ComClientLibrary/Abstract/UnitTesting/IFakesProvider.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/Fakes/CurDir.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/FakesProvider.cs
  RubberduckTests/IntegrationTests/FakeTests.bas
Due: none

addressed review comments; enhanced caching and matching.
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteDoBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteEnumBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteForBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteIfBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteOnErrorResumeNextBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteSelectBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.Core/AutoComplete/AutoCompleteTypeBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteWhileBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteWithBlock.cs
  Rubberduck.Core/UI/IAutoCompleteService.cs
  Rubberduck.VBEEditor/Events/AutoCompleteEventArgs.cs
  Rubberduck.VBEEditor/Events/TypingCodeEventArgs.cs
  Rubberduck.VBEEditor/Events/VBENativeServices.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
Due: ui

Add second invocation test for Environ
  RubberduckTests/IntegrationTests/FakeTests.bas
Due: none

Refactor the OK/Cancel button down to the base
  Rubberduck.Core/UI/Refactorings/EncapsulateField/EncapsulateFieldViewModel.cs
  Rubberduck.Core/UI/Refactorings/ExtractInterface/ExtractInterfaceViewModel.cs
  Rubberduck.Core/UI/Refactorings/RefactoringViewModelBase.cs
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersViewModel.cs
  Rubberduck.Core/UI/Refactorings/Rename/RenameViewModel.cs
  Rubberduck.Core/UI/Refactorings/ReorderParameters/ReorderParametersViewModel.cs
Due: ui

consistency fixes; removed marker service interface
  Rubberduck.Core/AutoComplete/AutoCompleteBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteDoBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteEnumBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteForBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteIfBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteOnErrorResumeNextBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteSelectBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.Core/AutoComplete/AutoCompleteTypeBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteWhileBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteWithBlock.cs
  Rubberduck.Core/Common/RubberduckHooks.cs
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/IAutoCompleteService.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.VBEEditor/Events/VBENativeServices.cs
  Rubberduck.VBEEditor/Selection.cs
Due: ui

removed redundant ctor param, fixed inline-if behavior
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteIfBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteOnErrorResumeNextBlock.cs
Due: none

removed TypeLibApi ctor parameter
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteDoBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteEnumBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteForBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteIfBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteOnErrorResumeNextBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteSelectBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteTypeBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteWhileBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteWithBlock.cs
Due: none

implemented AutoCompleteSettings
  Rubberduck.Core/AutoComplete/AutoCompleteProvider.cs
  Rubberduck.Core/AutoComplete/IAutoComplete.cs
  Rubberduck.Core/Properties/Settings.Designer.cs
  Rubberduck.Core/Properties/Settings.settings
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/Settings/AutoCompleteConfigProvider.cs
  Rubberduck.Core/Settings/AutoCompleteSetting.cs
  Rubberduck.Core/Settings/AutoCompleteSettings.cs
  Rubberduck.Core/app.config
Due: none

implemented IsEnabled setter
  Rubberduck.Core/AutoComplete/AutoCompleteBase.cs
Due: none

Fixed broken tests
  Rubberduck.Core/Settings/ConfigurationLoader.cs
  Rubberduck.Core/Settings/UserSettings.cs
  RubberduckTests/CodeExplorer/CodeExplorerTests.cs
  RubberduckTests/Commands/UnitTestCommandTests.cs
  RubberduckTests/Inspections/InspectionsHelper.cs
  RubberduckTests/Settings/GeneralSettingsTests.cs
  RubberduckTests/Settings/IndenterSettingsTests.cs
  RubberduckTests/Settings/InspectionSettingsTests.cs
  RubberduckTests/Settings/TodoSettingsTests.cs
  RubberduckTests/Settings/UnitTestSettingsTests.cs
  RubberduckTests/TodoExplorer/TodoExplorerTests.cs
Due: none

Refine the presenters
  Rubberduck.Core/UI/Refactorings/EncapsulateField/EncapsulateFieldPresenter.cs
  Rubberduck.Core/UI/Refactorings/ExtractInterface/ExtractInterfacePresenter.cs
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersPresenter.cs
  Rubberduck.Core/UI/Refactorings/Rename/RenamePresenter.cs
  Rubberduck.Core/UI/Refactorings/ReorderParameters/ReorderParametersPresenter.cs
  Rubberduck.Refactorings/IRefactoringPresenterFactory.cs
  Rubberduck.Refactorings/ReorderParameters/IReorderParametersPresenter.cs
Due: ui

Update the Refactoring class to use factory
  Rubberduck.Refactorings/EncapsulateField/EncapsulateFieldRefactoring.cs
  Rubberduck.Refactorings/ExtractInterface/ExtractInterfaceRefactoring.cs
  Rubberduck.Refactorings/RemoveParameters/RemoveParametersRefactoring.cs
  Rubberduck.Refactorings/Rename/RenameRefactoring.cs
  Rubberduck.Refactorings/ReorderParameters/ReorderParametersRefactoring.cs
Due: none

Update the commands to invoke the refactoring with factory passed in
  Rubberduck.Core/UI/CodeExplorer/Commands/RenameCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/CodePaneRefactorRenameCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/FormDesignerRefactorRenameCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/ProjectExplorerRefactorRenameCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/RefactorEncapsulateFieldCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/RefactorExtractInterfaceCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/RefactorRemoveParametersCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/RefactorReorderParametersCommand.cs
Due: ui

Update the projects (moved files & references) Comment out unused presenter
  Rubberduck.Core/Refactorings/ExtractMethod/ExtractMethodPresenterFactory.cs
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Refactorings/Rubberduck.Refactorings.csproj
Due: none

Include missing call to InitializeComponent()
  Rubberduck.Core/UI/Refactorings/RefactoringDialogBase.cs
Due: ui

Fix up the Inspections project where there are references to refactoring.
  Rubberduck.Inspections/QuickFixes/EncapsulateFieldQuickFix.cs
  Rubberduck.Inspections/QuickFixes/RemoveUnusedParameterQuickFix.cs
  Rubberduck.Inspections/QuickFixes/RenameDeclarationQuickFix.cs
Due: inspections

Make the presenter factory non-generic and its method generic
  Rubberduck.Core/UI/CodeExplorer/Commands/RenameCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/CodePaneRefactorRenameCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/FormDesignerRefactorRenameCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/ProjectExplorerRefactorRenameCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/RefactorEncapsulateFieldCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/RefactorRemoveParametersCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/RefactorReorderParametersCommand.cs
  Rubberduck.Inspections/QuickFixes/EncapsulateFieldQuickFix.cs
  Rubberduck.Inspections/QuickFixes/RemoveUnusedParameterQuickFix.cs
  Rubberduck.Inspections/QuickFixes/RenameDeclarationQuickFix.cs
  Rubberduck.Refactorings/EncapsulateField/EncapsulateFieldRefactoring.cs
  Rubberduck.Refactorings/ExtractInterface/ExtractInterfaceRefactoring.cs
  Rubberduck.Refactorings/IRefactoringPresenterFactory.cs
  Rubberduck.Refactorings/RemoveParameters/RemoveParametersRefactoring.cs
  Rubberduck.Refactorings/Rename/RenameRefactoring.cs
  Rubberduck.Refactorings/ReorderParameters/ReorderParametersRefactoring.cs
Due: ui, inspections

Make dialog factory non-generic and its method generic
  Rubberduck.Core/UI/Command/Refactorings/RefactorExtractInterfaceCommand.cs
  Rubberduck.Core/UI/Refactorings/EncapsulateField/EncapsulateFieldPresenter.cs
  Rubberduck.Core/UI/Refactorings/ExtractInterface/ExtractInterfacePresenter.cs
  Rubberduck.Core/UI/Refactorings/IRefactoringDialogFactory.cs
  Rubberduck.Core/UI/Refactorings/RefactoringPresenterBase.cs
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersPresenter.cs
  Rubberduck.Core/UI/Refactorings/Rename/RenamePresenter.cs
  Rubberduck.Core/UI/Refactorings/ReorderParameters/ReorderParametersPresenter.cs
  Rubberduck.Refactorings/IRefactoringDialog.cs
  Rubberduck.Refactorings/IRefactoringViewModel.cs
Due: ui

First pass integrating RangeClauseExpression
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ExpressionFilter.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ExpressionFilterBoolean.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ExpressionFilterFactory.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ExpressionFilterIntegral.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/FilterLimits.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueVisitor.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/StringValueConverter.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspection.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspectionFactoryProvider.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspector.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspectorFactory.cs
  Rubberduck.Inspections/Rubberduck.Inspections.csproj
Due: inspections
