Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

Re-ignore unit test that had ignore decoration commented out. Ooops
  RubberduckTests/Inspections/MemberNotOnInterfaceInspectionTests.cs
Due: none

added failing tests (ignored for now)
  Rubberduck.Core/AutoComplete/Service/SelfClosingPairCompletionService.cs
  RubberduckTests/AutoComplete/SelfClosingPairCompletionTests.cs
Due: none

Remove unused resource
  Rubberduck.Core/UI/Inspections/InspectionResultsControl.xaml
Due: ui

Rename the installer script Add new graphic files/folders Modify the installer script to use the new graphics Move Ducky.ico to the new Graphics folder
  Rubberduck.Deployment/InnoSetup/Graphics/Ducky.ico
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.164x314.bmp
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.164x314.pdn
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.192x386.bmp
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.192x386.pdn
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.246x459.bmp
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.246x459.pdn
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.273x556.bmp
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.273x556.pdn
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.328x604.bmp
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.328x604.pdn
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.355x700.bmp
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.355x700.pdn
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.Small.110x106.bmp
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.Small.110x106.pdn
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.Small.119x123.bmp
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.Small.119x123.pdn
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.Small.138x140.bmp
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.Small.138x140.pdn
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.Small.55x55.bmp
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.Small.55x55.pdn
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.Small.64x68.bmp
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.Small.64x68.pdn
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.Small.83x80.bmp
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.Small.83x80.pdn
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.Small.92x97.bmp
  Rubberduck.Deployment/InnoSetup/Graphics/Rubberduck.Duck.Small.92x97.pdn
  Rubberduck.Deployment/InnoSetup/Graphics/readme.txt
  Rubberduck.Deployment/InnoSetup/Installer Build Script.iss
  Rubberduck.Deployment/InnoSetup/InstallerBitmap.bmp
  Rubberduck.Deployment/InnoSetup/Rubberduck.Installer.Build.iss
  Rubberduck.Resources/Graphics/Splash320x360.pdn
  appveyor.yml
Due: none

Cache deserialized ComProjects in the tests instead of declarations
  Rubberduck.Parsing/ComReflection/IComProjectDeserializer.cs
  Rubberduck.Parsing/ComReflection/IComProjectSerializationProvider.cs
  Rubberduck.Parsing/ComReflection/SerializedReferencedDeclarationsCollector.cs
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  RubberduckTests/Mocks/MockParser.cs
  RubberduckTests/Mocks/StaticCachingComDeserializerDecorator.cs
  RubberduckTests/Mocks/StaticCachingReferencedDeclarationsCollectorDecorator.cs
  RubberduckTests/RubberduckTests.csproj
Due: none

fixes wrongful bail-out
  Rubberduck.Core/AutoComplete/Service/SelfClosingPairHandler.cs
  RubberduckTests/AutoComplete/SelfClosingPairCompletionTests.cs
Due: none

Remove content hash from the QMN
  Rubberduck.VBEEditor/QualifiedModuleName.cs
Due: none

Add folder annotation to imported modules
  Rubberduck.Core/UI/CodeExplorer/Commands/ImportCommand.cs
Due: ui

Add Funnel.png to resource project as resource
  Rubberduck.Resources/Rubberduck.Resources.csproj
Due: none

Get extension via Path.GetExtension --Squash
  Rubberduck.Core/UI/CodeExplorer/Commands/ImportCommand.cs
Due: ui

Change parser context
  Rubberduck.Core/UI/CodeExplorer/Commands/ImportCommand.cs
Due: ui

Correct typo
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
Due: none

Add error logging
  Rubberduck.Core/UI/CodeExplorer/Commands/ImportCommand.cs
Due: ui

Working with Parser --Squash
  Rubberduck.Core/UI/CodeExplorer/Commands/ImportCommand.cs
Due: ui

Address PR review comments, add XML docs about DEBUG
  Rubberduck.Core/UI/Command/MenuItems/CommandBars/SerializeProjectsCommandMenuItem.cs
  Rubberduck.VBEEditor/ComManagement/ComSafeBase.cs
  Rubberduck.VBEEditor/ComManagement/IComSafe.cs
Due: ui

Reverse the condition on string.IsNullOrWhitespace (doh!)
  Rubberduck.Core/UI/Command/MenuItems/CommandBars/SerializeProjectsCommandMenuItem.cs
Due: ui

Fix leaks due to missing using or Dispose()
  Rubberduck.Core/Common/RubberduckHooks.cs
  Rubberduck.Core/Properties/Settings.Designer.cs
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/Command/ExportAllCommand.cs
  Rubberduck.Core/UI/Command/FindAllReferencesCommand.cs
  Rubberduck.Core/UI/Command/IndentCurrentProjectCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/CodePaneRefactorRenameCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/FormDesignerRefactorRenameCommand.cs
  Rubberduck.Core/UI/DockableToolwindowPresenter.cs
  Rubberduck.Core/UI/UnitTesting/Commands/AddTestModuleCommand.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
Due: ui

Use QMN for ComponentEventArgs instead of passing SCWs across events
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
  Rubberduck.VBEEditor/Events/ComponentEventArgs.cs
  Rubberduck.VBEEditor/Events/ComponentRenamedEventArgs.cs
  Rubberduck.VBEditor.VB6/SafeComWrappers/VB/VBComponents.cs
  Rubberduck.VBEditor.VBA/SafeComWrappers/VB/VBComponents.cs
Due: none

Make CommandBarButtonEventArgs safe by copying properties of button rather than marshaling the button across event boundaries.
  Rubberduck.Core/UI/Command/MenuItems/CommandBars/AppCommandBarBase.cs
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/ParentMenuItemBase.cs
  Rubberduck.VBEEditor/SafeComWrappers/Office/CommandBarButtonClickEventArgs.cs
  Rubberduck.VBEditor.VB6/SafeComWrappers/Office/CommandBarButton.cs
  Rubberduck.VBEditor.VBA/SafeComWrappers/Office/CommandBarButton.cs
Due: ui

Add launch settings to .gitignore
  .gitignore
Due: none

Plug leaks in code explorer
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerComponentViewModel.cs
Due: none

Maintain selection after indenting. Closes #4452
  Rubberduck.SmartIndenter/Indenter.cs
  Rubberduck.VBEEditor/Selection.cs
Due: tools

ignore launchSettings.json
  .gitignore
Due: none

Partial rollback of refactor pending reliable unit testing.
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnassignedVariableUsageInspection.cs
Due: none

Ignore tests (passing individually) pending concurrency fixes for unit testing.
  RubberduckTests/Inspections/MemberNotOnInterfaceInspectionTests.cs
  RubberduckTests/Inspections/UnassignedVariableUsageInspectionTests.cs
Due: none

reshaped AC settings
  Rubberduck.Core/AutoComplete/AutoCompleteBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteClosingBrace.cs
  Rubberduck.Core/AutoComplete/AutoCompleteClosingBracket.cs
  Rubberduck.Core/AutoComplete/AutoCompleteClosingParenthese.cs
  Rubberduck.Core/AutoComplete/AutoCompleteClosingString.cs
  Rubberduck.Core/AutoComplete/AutoCompleteDoBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteEnumBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteForBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteFunctionBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteIfBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteOnErrorResumeNextBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompletePrecompilerIfBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompletePropertyBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteProvider.cs
  Rubberduck.Core/AutoComplete/AutoCompleteSelectBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteSubBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteTypeBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteWhileBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteWithBlock.cs
  Rubberduck.Core/AutoComplete/IAutoComplete.cs
  Rubberduck.Core/AutoComplete/Service/SmartConcatenationHandler.cs
  Rubberduck.Core/Settings/AutoCompleteConfigProvider.cs
  Rubberduck.Core/Settings/AutoCompleteSetting.cs
  Rubberduck.Core/Settings/AutoCompleteSettings.cs
  Rubberduck.Core/UI/Settings/AutoCompleteSettings.xaml
  Rubberduck.Core/UI/Settings/AutoCompleteSettingsViewModel.cs
Due: ui

added missing resources
  Rubberduck.Core/UI/Settings/AutoCompleteSettings.xaml
  Rubberduck.Resources/Settings/AutoCompletesPage.resx
  Rubberduck.Resources/Settings/SettingsUI.resx
Due: ui

fixed build error
  Rubberduck.Core/Settings/ConfigurationLoader.cs
Due: none

removed IAutoComplete registration
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
Due: none

fixed broken tests
  RubberduckTests/Settings/AutoCompleteSettingsTests.cs
Due: none

fixed build errors
  Rubberduck.Core/UI/UnitTesting/TestExplorerViewModel.cs
  RubberduckTests/AutoComplete/SmartConcatCompletionTests.cs
Due: ui

Remove duplicate function calls in RubberduckHooks constructor
  Rubberduck.Core/Common/RubberduckHooks.cs
Due: none

Remove unused functions and clarify the naming of new member
  Rubberduck.VBEEditor/Events/ComponentEventArgs.cs
Due: none

Extract Rewrite out of the IModuleRewriter
  Rubberduck.CodeAnalysis/QuickFixes/AccessSheetUsingCodeNameQuickFix.cs
  Rubberduck.CodeAnalysis/QuickFixes/AddStepOneQuickFix.cs
  Rubberduck.CodeAnalysis/QuickFixes/AssignedByValParameterMakeLocalCopyQuickFix.cs
  Rubberduck.CodeAnalysis/QuickFixes/ChangeIntegerToLongQuickFix.cs
  Rubberduck.CodeAnalysis/QuickFixes/RemoveDuplicatedAnnotationQuickFix.cs
  Rubberduck.CodeAnalysis/QuickFixes/RemoveEmptyElseBlockQuickFix.cs
  Rubberduck.CodeAnalysis/QuickFixes/RemoveEmptyIfBlockQuickFix.cs
  Rubberduck.CodeAnalysis/QuickFixes/RemoveExplicitByRefModifierQuickFix.cs
  Rubberduck.CodeAnalysis/QuickFixes/RemoveStepOneQuickFix.cs
  Rubberduck.CodeAnalysis/QuickFixes/SpecifyExplicitByRefModifierQuickFix.cs
  Rubberduck.CodeAnalysis/QuickFixes/SplitMultipleDeclarationsQuickFix.cs
  Rubberduck.Parsing/Rewriter/IExecutableModuleRewriter.cs
  Rubberduck.Parsing/Rewriter/IModuleRewriter.cs
  Rubberduck.Parsing/Rewriter/IModuleRewriterFactory.cs
  Rubberduck.Parsing/Rewriter/ModuleRewriter.cs
  Rubberduck.Parsing/Rewriter/ModuleRewriterFactory.cs
  Rubberduck.Parsing/VBA/ModuleState.cs
  Rubberduck.Parsing/VBA/Parsing/IModuleParser.cs
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
  Rubberduck.Refactorings/EncapsulateField/EncapsulateFieldRefactoring.cs
  Rubberduck.Refactorings/ExtractInterface/ExtractInterfaceRefactoring.cs
  Rubberduck.Refactorings/ImplementInterface/ImplementInterfaceRefactoring.cs
  Rubberduck.Refactorings/IntroduceField/IntroduceFieldRefactoring.cs
  Rubberduck.Refactorings/IntroduceParameter/IntroduceParameterRefactoring.cs
  Rubberduck.Refactorings/MoveCloserToUsage/MoveCloserToUsageRefactoring.cs
  Rubberduck.Refactorings/RemoveParameters/RemoveParametersRefactoring.cs
  Rubberduck.Refactorings/ReorderParameters/ReorderParametersRefactoring.cs
Due: none

Inspection for public members with underscores in names in class modules
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnderscoreInPublicClassModuleMemberInspection.cs
  Rubberduck.Core/Properties/Settings.Designer.cs
  Rubberduck.Core/Properties/Settings.settings
  Rubberduck.Core/app.config
  Rubberduck.Resources/Inspections/InspectionInfo.Designer.cs
  Rubberduck.Resources/Inspections/InspectionInfo.resx
  Rubberduck.Resources/Inspections/InspectionNames.Designer.cs
  Rubberduck.Resources/Inspections/InspectionNames.resx
  Rubberduck.Resources/Inspections/InspectionResults.Designer.cs
  Rubberduck.Resources/Inspections/InspectionResults.resx
  RubberduckTests/Inspections/UnderscoreInPublicClassModuleMemberInspectionTests.cs
Due: none

Add quick fix
  Rubberduck.CodeAnalysis/QuickFixes/RenameDeclarationQuickFix.cs
Due: none

Ignore interface implementations
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnderscoreInPublicClassModuleMemberInspection.cs
  RubberduckTests/Inspections/UnderscoreInPublicClassModuleMemberInspectionTests.cs
Due: none

Address review
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnderscoreInPublicClassModuleMemberInspection.cs
  Rubberduck.Resources/Inspections/InspectionInfo.Designer.cs
  Rubberduck.Resources/Inspections/InspectionInfo.resx
  Rubberduck.Resources/Inspections/InspectionResults.Designer.cs
  Rubberduck.Resources/Inspections/InspectionResults.resx
  RubberduckTests/Inspections/UnderscoreInPublicClassModuleMemberInspectionTests.cs
Due: none

Handle array declarations in move closer to usage. Closes #3258
  Rubberduck.Refactorings/MoveCloserToUsage/MoveCloserToUsageRefactoring.cs
  RubberduckTests/Refactoring/MoveCloserToUsageTests.cs
Due: none

Improve handling of transient static sheet references. Closes #4329
  Rubberduck.CodeAnalysis/QuickFixes/AccessSheetUsingCodeNameQuickFix.cs
  RubberduckTests/QuickFixes/AccessSheetUsingCodeNameQuickFixTests.cs
Due: none

Path conditions:
  ui: any of: Rubberduck.Core/UI, but not: Rubberduck.VBEEditor, RubberduckTests
  inspections: any of: Rubberduck.Inspections, but not: Rubberduck.VBEEditor, RubberduckTests
  tools: any of: Rubberduck.SourceControl, Rubberduck.SmartIndenter, Rubberduck.RegexAssistant, but not: Rubberduck.VBEEditor, RubberduckTests
