Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

Several tweaks to the IoC installer, in particular regarding not loading experimental types
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.Main/Root/TypeExtensions.cs
Due: none

I changed the pre and post build events for Rubberduck.Deployment to address issue #3984
  Rubberduck.Deployment/Rubberduck.Deployment.csproj
Due: none

Revert "I changed the pre and post build events for Rubberduck.Deployment to address issue #3984"
  Rubberduck.Deployment/Rubberduck.Deployment.csproj
Due: none

Fully clickable social media icons.
  Rubberduck.Core/UI/About/AboutControl.xaml
Due: ui

Added DisabledAttribute to exclude types from registration in the IoC installer.
  Rubberduck.Core/UI/Command/MenuItems/RefactorExtractMethodCommandMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/RegexSearchReplaceCommandMenuItem.cs
  Rubberduck.Core/UI/Command/Refactorings/RefactorExtractMethodCommand.cs
  Rubberduck.Core/UI/Command/RegexSearchReplaceCommand.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.Main/Root/TypeExtensions.cs
  Rubberduck.Parsing/Common/DisabledAttribute.cs
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
Due: ui

FIXED: Social icons in About box aren't fully clickable #3983
  Rubberduck.Core/UI/About/AboutControl.xaml
Due: ui

Remove needless if block.
  Rubberduck.VBEEditor/Events/VbeEvents.cs
Due: none

Add try catch blocks; 2 for the initialization and cleanup, and then wrap them all in a generic try/catch, with logging enabled.
  Rubberduck.Core/UnitTesting/TestEngine.cs
Due: none

Closes #3951
  Rubberduck.Parsing/ComReflection/ComMember.cs
  Rubberduck.Parsing/ComReflection/ComParameter.cs
  Rubberduck.Parsing/VBA/COMReferenceSynchronizerBase.cs
Due: none

Changes based on PR comments
  Rubberduck.Parsing/ComReflection/ComMember.cs
Due: none

Closes #3950
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerComponentViewModel.cs
  Rubberduck.Core/Resources/Custom/PNG/MdiForm.png
  Rubberduck.Core/Resources/document-block.png
  Rubberduck.Core/Resources/document-globe.png
  Rubberduck.Core/Resources/pencil-ruler.png
  Rubberduck.Core/Resources/ui-scroll-pane-form.png
  Rubberduck.Core/Resources/ui-tab-content.png
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/CodeExplorer/CodeExplorer.Designer.cs
  Rubberduck.Core/UI/CodeExplorer/CodeExplorer.resx
  Rubberduck.Parsing/Symbols/DeclarationType.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB/Enums/ComponentType.cs
Due: ui

Resource files now display as 'Resources' in Code Explorer
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerComponentViewModel.cs
Due: none

Moved localisable string to resources
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerComponentViewModel.cs
  Rubberduck.Core/UI/RubberduckUI.Designer.cs
  Rubberduck.Core/UI/RubberduckUI.resx
Due: ui

Added default icon for components of unexpected DeclarationType
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerComponentViewModel.cs
  Rubberduck.Core/Resources/status-offline.png
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/CodeExplorer/CodeExplorer.Designer.cs
  Rubberduck.Core/UI/CodeExplorer/CodeExplorer.resx
Due: ui

Changed icon files from Content to Resource
  Rubberduck.Core/Rubberduck.Core.csproj
Due: none

changed the overload used of ExecuteCode to pass IVBProject rather than the project name.
  Rubberduck.Core/UnitTesting/TestMethod.cs
  Rubberduck.Core/UnitTesting/UnitTestUtils.cs
Due: none

reordered RubberduckParserState param to before Declaration
  Rubberduck.Core/UnitTesting/TestMethod.cs
  Rubberduck.Core/UnitTesting/UnitTestUtils.cs
Due: none

removed legacy resource file, extracted AboutUI.cs.resx
  Rubberduck.Resources/About/AboutUI.cs.Designer.cs
  Rubberduck.Resources/About/AboutUI.cs.resx
  Rubberduck.Resources/Rubberduck.Resources.csproj
  Rubberduck.Resources/RubberduckUI.cs.resx
Due: none

Extracted AssertMessages
  Rubberduck.Resources/Rubberduck.Resources.csproj
  Rubberduck.Resources/RubberduckUI.Designer.cs
  Rubberduck.Resources/RubberduckUI.de.resx
  Rubberduck.Resources/RubberduckUI.fr.resx
  Rubberduck.Resources/RubberduckUI.resx
  Rubberduck.Resources/UnitTesting/AssertMessages.Designer.cs
  Rubberduck.Resources/UnitTesting/AssertMessages.cs.resx
  Rubberduck.Resources/UnitTesting/AssertMessages.de.Designer.cs
  Rubberduck.Resources/UnitTesting/AssertMessages.de.resx
  Rubberduck.Resources/UnitTesting/AssertMessages.fr.Designer.cs
  Rubberduck.Resources/UnitTesting/AssertMessages.fr.resx
  Rubberduck.Resources/UnitTesting/AssertMessages.resx
Due: none

extracted TestExplorer resources
  Rubberduck.Resources/Rubberduck.Resources.csproj
  Rubberduck.Resources/RubberduckUI.Designer.cs
  Rubberduck.Resources/RubberduckUI.cs.resx
  Rubberduck.Resources/RubberduckUI.de.resx
  Rubberduck.Resources/RubberduckUI.fr.resx
  Rubberduck.Resources/RubberduckUI.resx
  Rubberduck.Resources/Settings/UnitTesting.Designer.cs
  Rubberduck.Resources/Settings/UnitTesting.cs.resx
  Rubberduck.Resources/Settings/UnitTesting.de.Designer.cs
  Rubberduck.Resources/Settings/UnitTesting.de.resx
  Rubberduck.Resources/Settings/UnitTesting.fr.Designer.cs
  Rubberduck.Resources/Settings/UnitTesting.fr.resx
  Rubberduck.Resources/Settings/UnitTesting.resx
  Rubberduck.Resources/UnitTesting/TestExplorer.Designer.cs
  Rubberduck.Resources/UnitTesting/TestExplorer.cs.resx
  Rubberduck.Resources/UnitTesting/TestExplorer.de.Designer.cs
  Rubberduck.Resources/UnitTesting/TestExplorer.de.resx
  Rubberduck.Resources/UnitTesting/TestExplorer.fr.Designer.cs
  Rubberduck.Resources/UnitTesting/TestExplorer.fr.resx
  Rubberduck.Resources/UnitTesting/TestExplorer.resx
Due: none

implemented unit testing resources
  Rubberduck.Core/UI/Command/AddTestMethodCommand.cs
  Rubberduck.Core/UI/Command/AddTestMethodExpectedErrorCommand.cs
  Rubberduck.Core/UI/Command/AddTestModuleCommand.cs
  Rubberduck.Core/UI/Settings/Converters/AssertModeValueToTextConverter.cs
  Rubberduck.Core/UI/Settings/Converters/BindingModeValueToTextConverter.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerWindow.cs
  Rubberduck.Core/UnitTesting/AssertHandler.cs
  Rubberduck.Core/UnitTesting/TestEngine.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/AssertClass.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/Fakes/CurDir.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/Fakes/Environ.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/Fakes/InputBox.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/Fakes/MsgBox.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/Stubs/SendKeys.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/Verifier.cs
  Rubberduck.Resources/Rubberduck.Resources.csproj
  Rubberduck.Resources/RubberduckUI.Designer.cs
  Rubberduck.Resources/RubberduckUI.de.resx
  Rubberduck.Resources/RubberduckUI.fr.resx
  Rubberduck.Resources/RubberduckUI.resx
  Rubberduck.Resources/Settings/UnitTesting.de.Designer.cs
  Rubberduck.Resources/Settings/UnitTesting.fr.Designer.cs
  Rubberduck.Resources/Settings/UnitTestingPage.Designer.cs
  Rubberduck.Resources/Settings/UnitTestingPage.cs.resx
  Rubberduck.Resources/Settings/UnitTestingPage.de.Designer.cs
  Rubberduck.Resources/Settings/UnitTestingPage.de.resx
  Rubberduck.Resources/Settings/UnitTestingPage.fr.Designer.cs
  Rubberduck.Resources/Settings/UnitTestingPage.fr.resx
  Rubberduck.Resources/Settings/UnitTestingPage.resx
  Rubberduck.Resources/UnitTesting/TestExplorer.Designer.cs
  Rubberduck.Resources/UnitTesting/TestExplorer.cs.resx
  Rubberduck.Resources/UnitTesting/TestExplorer.de.resx
  Rubberduck.Resources/UnitTesting/TestExplorer.fr.resx
  Rubberduck.Resources/UnitTesting/TestExplorer.resx
Due: ui

consolidated/updated nuget packages
  Rubberduck.Core/NLog.xsd
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/packages.config
  Rubberduck.Inspections/NLog.xsd
  Rubberduck.Inspections/Rubberduck.Inspections.csproj
  Rubberduck.Inspections/packages.config
  Rubberduck.Main/NLog.xsd
  Rubberduck.Main/Rubberduck.Main.csproj
  Rubberduck.Main/packages.config
  Rubberduck.Parsing/NLog.xsd
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  Rubberduck.Parsing/packages.config
  Rubberduck.RegexAssistant/NLog.xsd
  Rubberduck.RegexAssistant/Rubberduck.RegexAssistant.csproj
  Rubberduck.RegexAssistant/packages.config
  Rubberduck.SettingsProvider/NLog.xsd
  Rubberduck.SettingsProvider/Rubberduck.SettingsProvider.csproj
  Rubberduck.SettingsProvider/packages.config
  Rubberduck.SmartIndenter/NLog.xsd
  Rubberduck.SmartIndenter/Rubberduck.SmartIndenter.csproj
  Rubberduck.SmartIndenter/packages.config
  Rubberduck.VBEEditor/NLog.xsd
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
  Rubberduck.VBEEditor/packages.config
  Rubberduck.VBEditor.VB6/NLog.xsd
  Rubberduck.VBEditor.VB6/Rubberduck.VBEditor.VB6.csproj
  Rubberduck.VBEditor.VB6/packages.config
  Rubberduck.VBEditor.VBA/NLog.xsd
  Rubberduck.VBEditor.VBA/Rubberduck.VBEditor.VBA.csproj
  Rubberduck.VBEditor.VBA/packages.config
  RubberduckTests/NLog.xsd
  RubberduckTests/RubberduckTests.csproj
  RubberduckTests/app.config
  RubberduckTests/packages.config
Due: inspections, tools

fixed about dialog resx lookups
  Rubberduck.Core/UI/About/AboutControl.xaml
Due: ui

fixed packuri for Rubberduck.png
  Rubberduck.Core/UI/About/AboutControl.xaml
Due: ui

extracted styles, added borders, adjusted colors & margins
  Rubberduck.Core/UI/About/AboutControl.xaml
  Rubberduck.Resources/About/AboutUI.Designer.cs
  Rubberduck.Resources/About/AboutUI.cs.resx
  Rubberduck.Resources/About/AboutUI.de.resx
  Rubberduck.Resources/About/AboutUI.fr.resx
  Rubberduck.Resources/About/AboutUI.resx
Due: ui

resized dialog, added hover feedback on report button
  Rubberduck.Core/UI/About/AboutControl.xaml
  Rubberduck.Core/UI/About/AboutDialog.Designer.cs
Due: ui

fixed resx bindings, changed icon relative paths to pack uri's
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerControl.xaml
  Rubberduck.Core/UI/CodeMetrics/CodeMetricsControl.xaml
  Rubberduck.Core/UI/Controls/EmptyUIRefresh.xaml
  Rubberduck.Core/UI/Controls/SearchView.xaml
  Rubberduck.Core/UI/FindSymbol/FindSymbolControl.xaml
  Rubberduck.Core/UI/Inspections/InspectionResultsControl.xaml
  Rubberduck.Core/UI/Refactorings/ExtractInterface/ExtractInterfaceView.xaml
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersView.xaml
  Rubberduck.Core/UI/Refactorings/Rename/RenameView.xaml
  Rubberduck.Core/UI/RegexAssistant/RegexAssistant.xaml
  Rubberduck.Core/UI/Settings/GeneralSettings.xaml
  Rubberduck.Core/UI/Settings/IndenterSettings.xaml
  Rubberduck.Core/UI/Settings/InspectionSettings.xaml
  Rubberduck.Core/UI/Settings/SettingsControl.xaml
  Rubberduck.Core/UI/Settings/UnitTestSettings.xaml
  Rubberduck.Core/UI/Settings/WindowSettings.xaml
Due: ui

re-added resource project
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.sln
Due: none

re-added reference to resources project, added missing usings
  Rubberduck.Inspections/Concrete/IntegerDataTypeInspection.cs
  Rubberduck.Inspections/Concrete/MultilineParameterInspection.cs
  Rubberduck.Inspections/Concrete/ShadowedDeclarationInspection.cs
  Rubberduck.Inspections/Concrete/UseMeaningfulNameInspection.cs
  Rubberduck.Inspections/Inspector.cs
  Rubberduck.Inspections/QuickFixes/RenameDeclarationQuickFix.cs
Due: inspections

added custom tool for .cs resources
  Rubberduck.Resources/Rubberduck.Resources.csproj
  Rubberduck.Resources/RubberduckUI.cs.Designer.cs
Due: none

re-removed Rubberduck.Parsing.Inspection.Resources namespace
  Rubberduck.Core/Settings/CodeInspectionSettings.cs
  Rubberduck.Inspections/Inspector.cs
  Rubberduck.Parsing/Inspections/Abstract/IInspectionModel.cs
  Rubberduck.Parsing/Inspections/CodeInspectionSeverity.cs
  Rubberduck.Parsing/Inspections/CodeInspectionType.cs
  Rubberduck.Parsing/Inspections/Resources/InspectionsUI.cs.resx
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  Rubberduck.Resources/Inspections/InspectionsUI.Designer.cs
  Rubberduck.Resources/Inspections/InspectionsUI.de.Designer.cs
  Rubberduck.Resources/Inspections/InspectionsUI.de.resx
  Rubberduck.Resources/Inspections/InspectionsUI.fr.Designer.cs
  Rubberduck.Resources/Inspections/InspectionsUI.fr.resx
  Rubberduck.Resources/Inspections/InspectionsUI.resx
  Rubberduck.Resources/Rubberduck.Resources.csproj
Due: inspections

Clear all collections in OnErrorResumeNext inspection's context clearing
  Rubberduck.Inspections/Concrete/UnhandledOnErrorResumeNextInspection.cs
Due: inspections

Fixed label number for OnErrorResumeNext inspection
  Rubberduck.Inspections/Concrete/UnhandledOnErrorResumeNextInspection.cs
  RubberduckTests/QuickFixes/RestoreErrorHandlingQuickFixTests.cs
Due: inspections

Simplified finding body element for issue in OnErrorResumeNext inspection
  Rubberduck.Inspections/Concrete/UnhandledOnErrorResumeNextInspection.cs
  Rubberduck.Inspections/QuickFixes/RestoreErrorHandlingQuickFix.cs
Due: inspections

Include olewoo in Deployment project
  Rubberduck.Deployment/OleWoo/olewoo.dll
  Rubberduck.Deployment/OleWoo/olewoo.dll.config
  Rubberduck.Deployment/OleWoo/olewoo_interop.dll
  Rubberduck.Deployment/Rubberduck.Deployment.csproj
Due: none

Closes #1505
  Rubberduck.Parsing/Grammar/VBAParser.g4
  Rubberduck.Parsing/Symbols/IdentifierReferenceListener.cs
  Rubberduck.Parsing/Symbols/IdentifierReferenceResolver.cs
  RubberduckTests/Grammar/ResolverTests.cs
  RubberduckTests/Grammar/VBAParserTests.cs
Due: none

Fixed formatting issue
  Rubberduck.Parsing/Grammar/VBAParser.g4
Due: none

re-added inspection resources from 3001b2d0430d09f67e66182bcbcfc42248b16a4f
  Rubberduck.Resources/Inspections/InspectionInfo.Designer.cs
  Rubberduck.Resources/Inspections/InspectionInfo.de.Designer.cs
  Rubberduck.Resources/Inspections/InspectionInfo.de.resx
  Rubberduck.Resources/Inspections/InspectionInfo.fr.Designer.cs
  Rubberduck.Resources/Inspections/InspectionInfo.fr.resx
  Rubberduck.Resources/Inspections/InspectionInfo.resx
  Rubberduck.Resources/Inspections/InspectionNames.Designer.cs
  Rubberduck.Resources/Inspections/InspectionNames.de.Designer.cs
  Rubberduck.Resources/Inspections/InspectionNames.de.resx
  Rubberduck.Resources/Inspections/InspectionNames.fr.Designer.cs
  Rubberduck.Resources/Inspections/InspectionNames.fr.resx
  Rubberduck.Resources/Inspections/InspectionNames.resx
  Rubberduck.Resources/Inspections/InspectionResults.Designer.cs
  Rubberduck.Resources/Inspections/InspectionResults.de.Designer.cs
  Rubberduck.Resources/Inspections/InspectionResults.de.resx
  Rubberduck.Resources/Inspections/InspectionResults.fr.Designer.cs
  Rubberduck.Resources/Inspections/InspectionResults.fr.resx
  Rubberduck.Resources/Inspections/InspectionResults.resx
  Rubberduck.Resources/Inspections/InspectionsUI.Designer.cs
  Rubberduck.Resources/Inspections/InspectionsUI.de.resx
  Rubberduck.Resources/Inspections/InspectionsUI.fr.resx
  Rubberduck.Resources/Inspections/QuickFixes.Designer.cs
  Rubberduck.Resources/Inspections/QuickFixes.de.Designer.cs
  Rubberduck.Resources/Inspections/QuickFixes.de.resx
  Rubberduck.Resources/Inspections/QuickFixes.fr.Designer.cs
  Rubberduck.Resources/Inspections/QuickFixes.fr.resx
  Rubberduck.Resources/Inspections/QuickFixes.resx
Due: none

re-added RegexAssistantUI resources from 3001b2d0430d09f67e66182bcbcfc42248b16a4f
  Rubberduck.Resources/RegexAssistant/RegexAssistantUI.Designer.cs
  Rubberduck.Resources/RegexAssistant/RegexAssistantUI.de.Designer.cs
  Rubberduck.Resources/RegexAssistant/RegexAssistantUI.de.resx
  Rubberduck.Resources/RegexAssistant/RegexAssistantUI.resx
Due: none

replaced more relative paths -> pack uri's, replaced Rubberduck.UI -> Rubberduck.Resources
  Rubberduck.Core/Common/DeclarationIconCache.cs
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerControl.xaml
  Rubberduck.Core/UI/CodeMetrics/CodeMetricsControl.xaml
  Rubberduck.Core/UI/Controls/EmptyUIRefresh.xaml
  Rubberduck.Core/UI/Controls/SearchView.xaml
  Rubberduck.Core/UI/Inspections/InspectionResultsControl.xaml
  Rubberduck.Core/UI/Refactorings/EncapsulateField/EncapsulateFieldView.xaml
  Rubberduck.Core/UI/Refactorings/ExtractInterface/ExtractInterfaceView.xaml
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersView.xaml
  Rubberduck.Core/UI/Refactorings/Rename/RenameView.xaml
  Rubberduck.Core/UI/Refactorings/ReorderParameters/ReorderParametersView.xaml
  Rubberduck.Core/UI/Settings/InspectionSettings.xaml
  Rubberduck.Core/UI/Settings/TodoSettings.xaml
  Rubberduck.Core/UI/ToDoItems/ToDoExplorerControl.xaml
  Rubberduck.Core/UI/UnitTesting/TestExplorerControl.xaml
Due: ui

Path conditions:
  ui: any of: Rubberduck.Core/UI, but not: Rubberduck.VBEEditor, RubberduckTests
  inspections: any of: Rubberduck.Inspections, but not: Rubberduck.VBEEditor, RubberduckTests
  tools: any of: Rubberduck.SourceControl, Rubberduck.SmartIndenter, Rubberduck.RegexAssistant, but not: Rubberduck.VBEEditor, RubberduckTests
