Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

Move CodeMetrics Core classes into separate files
  Rubberduck.Core/CodeAnalysis/CodeMetrics/AggregationLevel.cs
  Rubberduck.Core/CodeAnalysis/CodeMetrics/CodeMetric.cs
  Rubberduck.Core/CodeAnalysis/CodeMetrics/ICodeMetricResult.cs
  Rubberduck.Core/CodeAnalysis/CodeMetrics/ICodeMetricsParseTreeListener.cs
Due: none

Start work on CodeMetricsViewModel,
  Rubberduck.Core/CodeAnalysis/CodeMetrics/AggregationLevel.cs
  Rubberduck.Core/CodeAnalysis/CodeMetrics/CodeMetricsViewModel.cs
  Rubberduck.Core/UI/CodeMetrics/CodeMetricsControl.xaml
Due: ui

Major fixes
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/CodeMetrics/CodeMetricsControl.xaml
  Rubberduck.Core/UI/Controls/GroupingGrid.xaml
  Rubberduck.Core/UI/Converters/DeclarationToMemberSignatureConverter.cs
Due: ui

Add the non-optional Model parameter to factory's Create method
  Rubberduck.Refactorings/EncapsulateField/EncapsulateFieldRefactoring.cs
  Rubberduck.Refactorings/ExtractInterface/ExtractInterfaceRefactoring.cs
  Rubberduck.Refactorings/IRefactoringPresenterFactory.cs
  Rubberduck.Refactorings/RemoveParameters/RemoveParametersRefactoring.cs
  Rubberduck.Refactorings/Rename/RenameRefactoring.cs
  Rubberduck.Refactorings/ReorderParameters/ReorderParametersRefactoring.cs
Due: none

Auto-select first and track selection across parses
  Rubberduck.CodeAnalysis/Inspections/Concrete/SheetAccessedUsingStringInspection.cs
  Rubberduck.CodeAnalysis/QuickFixes/AccessSheetUsingCodeNameQuickFix.cs
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerViewModel.cs
  Rubberduck.Core/Navigation/CodeMetrics/CodeMetricsViewModel.cs
  Rubberduck.StaticCodeAnalysis/Inspector.cs
Due: none

Move my VM changes over
  Rubberduck.Core/CodeAnalysis/CodeMetrics/CodeMetricsViewModel.cs
Due: none

Fix merge a bit
  Rubberduck.CodeAnalysis/Rubberduck.CodeAnalysis.csproj
  Rubberduck.sln
Due: none

UI might work
  Rubberduck.Core/CodeAnalysis/CodeMetrics/CodeMetricsViewModel.cs
  Rubberduck.Core/UI/CodeMetrics/CodeMetricsControl.xaml
Due: ui

Fix remaining Rubberduck.Inspections references, Fix incorrectly named ClassId on IDockableUserControl
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerWindow.cs
  Rubberduck.Core/UI/CodeMetrics/CodeMetricsWindow.cs
  Rubberduck.Core/UI/Controls/SearchResultWindow.cs
  Rubberduck.Core/UI/DockableToolwindowPresenter.cs
  Rubberduck.Core/UI/IDockableUserControl.cs
  Rubberduck.Core/UI/Inspections/InspectionResultsWindow.cs
  Rubberduck.Core/UI/SimpleListControl.cs
  Rubberduck.Core/UI/ToDoItems/ToDoExplorerWindow.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerWindow.cs
  Rubberduck.Deployment/Rubberduck.Deployment.csproj
  Rubberduck.Main/Rubberduck.Main.csproj
  Rubberduck.sln
  RubberduckTests/RubberduckTests.csproj
Due: ui

Fix remaining Rubberduck.Inspections references, Fix incorrectly named ClassId on IDockableUserControl
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerWindow.cs
  Rubberduck.Core/UI/Controls/SearchResultWindow.cs
  Rubberduck.Core/UI/ToDoItems/ToDoExplorerWindow.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerWindow.cs
Due: ui

Use a sensible registration strategy
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
Due: none

Fix displaying signatures twice
  Rubberduck.Core/UI/CodeMetrics/CodeMetricsControl.xaml
Due: ui

Register CodeMetric implementations with MetricAnalyst to actually provide results
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
Due: none

Couple tweaks to the UI
  Rubberduck.Core/UI/CodeMetrics/CodeMetricsControl.xaml
Due: ui

Refactor the IMessageBox out of models and into view models
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersViewModel.cs
  Rubberduck.Core/UI/Refactorings/ReorderParameters/ReorderParametersViewModel.cs
  Rubberduck.Refactorings/RefactoringConfirmEventArgs.cs
  Rubberduck.Refactorings/RemoveParameters/RemoveParametersModel.cs
  Rubberduck.Refactorings/RemoveParameters/RemoveParametersRefactoring.cs
  Rubberduck.Refactorings/Rename/RenameModel.cs
  Rubberduck.Refactorings/ReorderParameters/ReorderParametersModel.cs
  Rubberduck.Refactorings/Rubberduck.Refactorings.csproj
Due: ui

Handle model creation within refactoring classes
  Rubberduck.Core/UI/Command/Refactorings/RefactorEncapsulateFieldCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/RefactorExtractInterfaceCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/RefactorRemoveParametersCommand.cs
  Rubberduck.Core/UI/Command/Refactorings/RefactorReorderParametersCommand.cs
  Rubberduck.Inspections/QuickFixes/EncapsulateFieldQuickFix.cs
  Rubberduck.Inspections/QuickFixes/RemoveUnusedParameterQuickFix.cs
  Rubberduck.Refactorings/EncapsulateField/EncapsulateFieldRefactoring.cs
  Rubberduck.Refactorings/ExtractInterface/ExtractInterfaceRefactoring.cs
  Rubberduck.Refactorings/RemoveParameters/RemoveParametersRefactoring.cs
  Rubberduck.Refactorings/Rename/RenameRefactoring.cs
  Rubberduck.Refactorings/ReorderParameters/ReorderParametersRefactoring.cs
Due: ui, inspections

Broke out unit tests - created dedicated namespace
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ExpressionFilter.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueVisitor.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspectionFactoryProvider.cs
  RubberduckTests/Inspections/UnreachableCase/ExpressionFilterUnitTests.cs
  RubberduckTests/Inspections/UnreachableCase/ParseTreeExpressionEvaluatorUnitTests.cs
  RubberduckTests/Inspections/UnreachableCase/ParseTreeValueUnitTests.cs
  RubberduckTests/Inspections/UnreachableCase/UnreachableCaseInspectionTests.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests2.cs
  RubberduckTests/RubberduckTests.csproj
Due: inspections

Renamed to identify as unit tests
  RubberduckTests/RubberduckTests.csproj
Due: none

Verified migration of all prior tests
  RubberduckTests/Inspections/UnreachableCase/UnreachableCaseInspectionTests.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests2.cs
Due: none

Update the constraints to ease the typecasting
  Rubberduck.Core/UI/Refactorings/IRefactoringDialogFactory.cs
  Rubberduck.Core/UI/Refactorings/RefactoringDialogBase.cs
  Rubberduck.Core/UI/Refactorings/RefactoringPresenterBase.cs
  Rubberduck.Refactorings/IRefactoringDialog.cs
  Rubberduck.Refactorings/IRefactoringPresenterFactory.cs
  Rubberduck.Refactorings/IRefactoringViewModel.cs
Due: ui

Adress Review Concerns
  Rubberduck.CodeAnalysis/Inspections/Inspector.cs
  Rubberduck.Core/CodeAnalysis/CodeMetrics/CodeMetricsViewModel.cs
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerWindow.cs
  Rubberduck.Core/UI/CodeMetrics/CodeMetricsWindow.cs
  Rubberduck.Core/UI/Controls/SearchResultWindow.cs
  Rubberduck.Core/UI/Converters/DeclarationToMemberSignatureConverter.cs
  Rubberduck.Core/UI/DockableToolwindowPresenter.cs
  Rubberduck.Core/UI/IDockableUserControl.cs
  Rubberduck.Core/UI/Inspections/InspectionResultsWindow.cs
  Rubberduck.Core/UI/SimpleListControl.cs
  Rubberduck.Core/UI/ToDoItems/ToDoExplorerWindow.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerWindow.cs
Due: ui

Replace skipped As with {Tokens.As}
  Rubberduck.Core/UI/Converters/DeclarationToMemberSignatureConverter.cs
Due: ui

fixes #4064
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.Core/Settings/AutoCompleteConfigProvider.cs
  Rubberduck.Core/Settings/AutoCompleteSetting.cs
  Rubberduck.Core/Settings/ConfigurationLoader.cs
  Rubberduck.Core/UI/Settings/AutoCompleteSettings.xaml
  Rubberduck.Core/UI/Settings/AutoCompleteSettingsViewModel.cs
  Rubberduck.Core/UI/Settings/GeneralSettingsViewModel.cs
  Rubberduck.Inspections/Inspector.cs
  Rubberduck.Resources/Settings/SettingsUI.Designer.cs
  Rubberduck.Resources/Settings/SettingsUI.cs.resx
  Rubberduck.Resources/Settings/SettingsUI.de.resx
  Rubberduck.Resources/Settings/SettingsUI.fr.resx
  Rubberduck.Resources/Settings/SettingsUI.resx
Due: ui, inspections

load indenter settings on execute
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteDoBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteEnumBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteForBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteIfBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteOnErrorResumeNextBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompletePrecompilerIfBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteSelectBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteTypeBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteWhileBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteWithBlock.cs
Due: none

wired keyhook
  Rubberduck.Core/App.cs
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.Core/Common/KeyHookEventArgs.cs
  Rubberduck.Core/Common/RubberduckHooks.cs
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/Settings/AutoCompleteConfigProvider.cs
  Rubberduck.VBEEditor/Events/AutoCompleteEventArgs.cs
  Rubberduck.VBEEditor/Events/VBENativeServices.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
  Rubberduck.VBEEditor/WindowsApi/CodePaneSubclass.cs
  Rubberduck.VBEEditor/WindowsApi/FocusSource.cs
  Rubberduck.VBEEditor/WindowsApi/IWindowEventProvider.cs
  Rubberduck.VBEEditor/WindowsApi/SubclassingWindow.cs
  Rubberduck.VBEEditor/WindowsApi/WindowsHook.cs
Due: none

fixed deletion & backspacing. todo: adjust completion to work before the character is written to codepane.
  Rubberduck.Core/AutoComplete/AutoCompleteBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.Core/Common/RubberduckHooks.cs
  Rubberduck.VBEEditor/Events/AutoCompleteEventArgs.cs
  Rubberduck.VBEEditor/Events/VBENativeServices.cs
  Rubberduck.VBEEditor/WindowsApi/CodePaneSubclass.cs
Due: none

fixed backspacing & deleting
  Rubberduck.Core/AutoComplete/AutoCompleteBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.Core/AutoComplete/IAutoComplete.cs
  Rubberduck.VBEEditor/Events/AutoCompleteEventArgs.cs
  Rubberduck.VBEEditor/Events/VBENativeServices.cs
  Rubberduck.VBEEditor/WindowsApi/CodePaneSubclass.cs
Due: none

fixed inline AC at column 1
  Rubberduck.Core/AutoComplete/AutoCompleteBase.cs
Due: none

refuctoring block AC
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
Due: none

Removed DeploymentItemAttripute and references the original test files in the tests instead.
  Rubberduck.Parsing/Grammar/VBAParser.g4
  RubberduckTests/Common/DeploymentItemAttribute.cs
  RubberduckTests/Grammar/VBAParserValidityTests.cs
  RubberduckTests/Inspections/ApplicationWorksheetFunctionInspectionTests.cs
  RubberduckTests/Inspections/HostSpecificExpressionInspectionTests.cs
  RubberduckTests/Inspections/ImplicitActiveSheetReferenceInspectionTests.cs
  RubberduckTests/Inspections/ImplicitActiveWorkbookReferenceInspectionTests.cs
  RubberduckTests/Inspections/MemberNotOnInterfaceInspectionTests.cs
  RubberduckTests/Inspections/ObjectVariableNotSetInspectionTests.cs
  RubberduckTests/Mocks/MockParser.cs
  RubberduckTests/Preprocessing/VBAPreprocessorTests.cs
  RubberduckTests/QuickFixes/ApplicationWorksheetFunctionQuickFixTests.cs
  RubberduckTests/QuickFixes/IgnoreOnceQuickFixTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: none

Added failing parser tests for For and For Each blocks with combined Next statements closing them.
  RubberduckTests/Grammar/VBAParserTests.cs
Due: none

Adapted grammar to cope with combined next statements for For and For Each loops.
  Rubberduck.CodeAnalysis/Inspections/Concrete/EmptyBlockInspectionListenerBase.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/EmptyForEachBlockInspection.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/EmptyForLoopBlockInspection.cs
  Rubberduck.Parsing/Grammar/VBAParser.g4
Due: none

Initial changes for Now fake
  Rubberduck.Main/ComClientLibrary/Abstract/UnitTesting/IFakesProvider.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/Fakes/Now.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/FakesProvider.cs
  Rubberduck.Main/Rubberduck.Main.csproj
Due: none

Let TrySetReturnValue be called from derived classes
  Rubberduck.Main/ComClientLibrary/UnitTesting/FakeBase.cs
Due: none

Handle return value for override and passthrough in Now fake
  Rubberduck.Main/ComClientLibrary/UnitTesting/Fakes/Now.cs
Due: none

Add integration tests for Now fake
  RubberduckTests/IntegrationTests/FakeTests.bas
Due: none

removed extraneous using scope
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
Due: none

fix block completion
  Rubberduck.Core/AutoComplete/AutoCompleteBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.VBEEditor/Events/AutoCompleteEventArgs.cs
  Rubberduck.VBEEditor/Events/VBENativeServices.cs
  Rubberduck.VBEditor.VBA/SafeComWrappers/VB/CodeModule.cs
Due: none

Revise the locking scheme
  Rubberduck.Parsing/VBA/ParseCoordinator.cs
Due: none

Update unit tests, handle recursion
  Rubberduck.Parsing/VBA/ParseCoordinator.cs
  RubberduckTests/ParserState/ParserStateTests.cs
Due: none

Path conditions:
  ui: any of: Rubberduck.Core/UI, but not: Rubberduck.VBEEditor, RubberduckTests
  inspections: any of: Rubberduck.Inspections, but not: Rubberduck.VBEEditor, RubberduckTests
  tools: any of: Rubberduck.SourceControl, Rubberduck.SmartIndenter, Rubberduck.RegexAssistant, but not: Rubberduck.VBEEditor, RubberduckTests
