Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

codecov.yml:

codecov:
  branch: next
  ci:
    - appveyor
  max_report_age: off
  
ignore:
  # as requested by MDoerner, because they aren't really testable
  - Rubberduck.VBEEditor
  # it makes no sense to track coverage on unit-tests
  - RubberduckTests
    
coverage:
  round: nearest
  precision: 2
  range: 40..80 
  status:
    # don't check patch coverage
    patch: off
    changes:
      base: auto
    project:
      default:
        target: 0 # don't force a minimum coverage
        # allow decrease by up to 5 %
        threshold: 5
        base: auto
      core:
        # restrict core decrease to 1.5%
        threshold: 1.5
        flags: core
      ui:
        flags: ui
      inspections:
        flags: inspections
      tools:
        flags: tools
  
comment:
  layout: "flags, diff, files"
  behavior: new
  require_changes: yes

flags:
  core:
    paths:
      - Rubberduck.Parsing
      - RetailCoder.VBE
      # Exclude UI from the core flag, that has a separate flag
      - !RetailCoder.VBE/UI 
  ui:
    paths:
      - RetailCoder.VBE/UI
  inspections:
    paths:
      - Rubberduck.Inspections
  tools:
     paths:
       - Rubberduck.SourceControl
       - Rubberduck.SmartIndenter
       - Rubberduck.RegexAssistant

Made the ProjectsRepository ignore protected projects.
  Rubberduck.VBEEditor/ComManagement/ProjectsRepository.cs
Due: none

Postponed loading od the ProjectsRepository to the first refresh to avoid race conditions with the VBE loading.
  Rubberduck.VBEEditor/ComManagement/ProjectsRepository.cs
  RubberduckTests/VBEditor/ProjectsRepositoryTests.cs
Due: none

adds some XML documentation to TypeLibsAbstract
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibsAbstract.cs
Due: none

makes the VBETypeLibsAPI_Object only available in debug builds
  RetailCoder.VBE/Extension.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibsAPI.cs
Due: none

Removed all references to ProjectRepository.CodeModeul because this is going to die.
  RetailCoder.VBE/Refactorings/ImplementInterface/ImplementInterfaceRefactoring.cs
  RetailCoder.VBE/Refactorings/IntroduceField/IntroduceFieldRefactoring.cs
  RetailCoder.VBE/Refactorings/RemoveParameters/RemoveParametersRefactoring.cs
  RetailCoder.VBE/Refactorings/Rename/RenameRefactoring.cs
  RetailCoder.VBE/Refactorings/ReorderParameters/ReorderParametersRefactoring.cs
  RetailCoder.VBE/UI/CodeExplorer/Commands/PrintCommand.cs
  RetailCoder.VBE/UI/Command/AddTestMethodCommand.cs
  RetailCoder.VBE/UI/Command/AddTestMethodExpectedErrorCommand.cs
  RetailCoder.VBE/UI/Command/FindAllImplementationsCommand.cs
  RetailCoder.VBE/UI/Command/FindAllReferencesCommand.cs
  RetailCoder.VBE/UI/Command/NavigateCommand.cs
  RetailCoder.VBE/UI/IdentifierReferences/IdentifierReferencesListDockablePresenter.cs
  RetailCoder.VBE/UI/IdentifierReferences/ImplementationsListDockablePresenter.cs
  RetailCoder.VBE/UI/ToDoItems/ToDoExplorerViewModel.cs
  RetailCoder.VBE/UnitTesting/UnitTestUtils.cs
  Rubberduck.Inspections/Concrete/ObsoleteCallStatementInspection.cs
  Rubberduck.Inspections/QuickFixes/IgnoreOnceQuickFix.cs
  Rubberduck.Parsing/Symbols/DeclarationSymbolsListener.cs
  Rubberduck.Parsing/VBA/ComponentParseTask.cs
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
  RubberduckTests/Mocks/TestAttributeParser.cs
Due: ui, inspections

Removed caching of code modules from ProjectsRepository because it caused bugs on the VBE side.
  Rubberduck.VBEEditor/ComManagement/IProjectsProvider.cs
  Rubberduck.VBEEditor/ComManagement/ProjectsRepository.cs
  RubberduckTests/VBEditor/ProjectsRepositoryTests.cs
Due: none

Split up evaluating whether 'Set' is required and evaluating whether 'Set' needs to be added. Reduced scope of inspection.
  Rubberduck.Inspections/Concrete/ObjectVariableNotSetInspection.cs
  Rubberduck.Inspections/QuickFixes/AssignedByValParameterMakeLocalCopyQuickFix.cs
  Rubberduck.Inspections/VariableRequiresSetAssignmentEvaluator.cs
  Rubberduck.Parsing/Symbols/Declaration.cs
  Rubberduck.Parsing/Symbols/DeclarationFinder.cs
  RubberduckTests/Inspections/ObjectVariableNotSetInspectionTests.cs
  RubberduckTests/QuickFixes/AssignedByValParameterMakeLocalCopyQuickFixTests.cs
Due: inspections

reorganized
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeInfos.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibs.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibsAPI.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibsAbstract.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibsSupport.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
Due: none

return immediately if Set keyword is already present
  Rubberduck.Inspections/VariableRequiresSetAssignmentEvaluator.cs
Due: inspections

added test involving UDT. closes #3727
  RubberduckTests/Inspections/ObjectVariableNotSetInspectionTests.cs
Due: none

added test for default member assignment (ref. #3712)
  RubberduckTests/Inspections/ObjectVariableNotSetInspectionTests.cs
Due: none

renamed wrongly named test
  Rubberduck.Inspections/Concrete/ObjectVariableNotSetInspection.cs
  RubberduckTests/Inspections/ObjectVariableNotSetInspectionTests.cs
Due: inspections

account for default members when evaluating RHS
  Rubberduck.Inspections/VariableRequiresSetAssignmentEvaluator.cs
Due: inspections

account for default members in RHS analysis of variant assignment
  Rubberduck.Inspections/VariableRequiresSetAssignmentEvaluator.cs
  RubberduckTests/Inspections/ObjectVariableNotSetInspectionTests.cs
Due: inspections

fixed default member logic
  Rubberduck.Inspections/VariableRequiresSetAssignmentEvaluator.cs
  Rubberduck.Parsing/ComReflection/ReferencedDeclarationsCollector.cs
Due: inspections

Some extension methods and a QualifiedModuleName property on Declaration to remove clutter
  RetailCoder.VBE/UI/Command/AddTestMethodCommand.cs
  RetailCoder.VBE/UI/Command/AddTestMethodExpectedErrorCommand.cs
  RetailCoder.VBE/UnitTesting/UnitTestUtils.cs
  Rubberduck.Parsing/ProjectsProviderExtensions.cs
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  Rubberduck.Parsing/Symbols/Declaration.cs
  Rubberduck.VBEEditor/Extensions/VBComponentExtensions.cs
  Rubberduck.VBEEditor/Extensions/VbProjectExtensions.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
Due: ui

Addressed comments to PR #3735.
  RetailCoder.VBE/UI/Command/AddTestMethodCommand.cs
  Rubberduck.Parsing/Symbols/DeclarationSymbolsListener.cs
  Rubberduck.Parsing/VBA/ParseRunnerBase.cs
  Rubberduck.Parsing/VBA/ReferenceResolveRunnerBase.cs
  Rubberduck.VBEEditor/ComManagement/ProjectsRepository.cs
Due: ui

corrected and clarified refcounts in TypeLibWrapper and TypeInfoWrapper constructors
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeInfos.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibs.cs
Due: none

Small tweak to getting the module hash in RubberduchParserState
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
Due: none

Fix RemoveStepOneQuickFix tests after changing stepDefinition in Grammar
  RubberduckTests/QuickFixes/RemoveStepOneQuickFixTests.cs
Due: none

Ignore EOF tokens in EndColumn and count lines correctly
  Rubberduck.Parsing/TokenExtensions.cs
  RubberduckTests/Grammar/SelectionExtensionsTests.cs
Due: none

Use Length on Arrays instead of Count()
  RetailCoder.VBE/Refactorings/ReorderParameters/ReorderParametersRefactoring.cs
  Rubberduck.Inspections/Concrete/MultipleDeclarationsInspection.cs
  Rubberduck.Parsing/Preprocessing/VBAPreprocessorVisitor.cs
  Rubberduck.Parsing/Rewriter/RewriterInfo/ArgumentRewriterInfoFinder.cs
  Rubberduck.Parsing/Rewriter/RewriterInfo/ConstantRewriterInfoFinder.cs
  Rubberduck.Parsing/Rewriter/RewriterInfo/ParameterRewriterInfoFinder.cs
  Rubberduck.Parsing/Rewriter/RewriterInfo/VariableRewriterInfoFinder.cs
  Rubberduck.Parsing/Symbols/IdentifierReferenceResolver.cs
Due: inspections

Cosmetic changes to the ComWrapperEnumerator.
  Rubberduck.VBEEditor/SafeComWrappers/ComWrapperEnumerator.cs
Due: none

annotate default member
  Rubberduck.Parsing/Symbols/TypeAnnotationPass.cs
Due: none

handle LHS arrays
  Rubberduck.Inspections/VariableRequiresSetAssignmentEvaluator.cs
  RubberduckTests/Inspections/ObjectVariableNotSetInspectionTests.cs
Due: inspections

Add codecov flags to upload
  appveyor.yml
Due: none

Inspections will have their InspectionType assigned from application settings.
  RetailCoder.VBE/Settings/CodeInspectionConfigProvider.cs
  RetailCoder.VBE/Settings/CodeInspectionSettings.cs
  RubberduckTests/Settings/CodeInspectionConfigProviderTests.cs
Due: none

Added failing test for subtraction expressions that look like letter ranges.
  RubberduckTests/Grammar/VBAParserTests.cs
Due: none

Pushed letter range back into the parser and fixed IDENTIFIER.
  Rubberduck.Parsing/Grammar/VBALexer.g4
  Rubberduck.Parsing/Grammar/VBAParser.g4
  RubberduckTests/Grammar/VBAParserTests.cs
Due: none

intermediately stop ignoring *.ymls in commits
  appveyor.yml
Due: none

Introduced InspectionProvider
  RetailCoder.VBE/Inspections/IInspectionProvider.cs
  RetailCoder.VBE/Inspections/InspectionProvider.cs
  RetailCoder.VBE/Rubberduck.csproj
  RetailCoder.VBE/Settings/CodeInspectionConfigProvider.cs
  Rubberduck.Inspections/Inspector.cs
  RubberduckTests/Inspections/InspectionProviderTests.cs
  RubberduckTests/Inspections/InspectionsHelper.cs
  RubberduckTests/RubberduckTests.csproj
  RubberduckTests/Settings/CodeInspectionConfigProviderTests.cs
Due: inspections

Fix a couple SC issues
  RetailCoder.VBE/Root/RubberduckIoCInstaller.cs
  RetailCoder.VBE/UI/SourceControl/SourceControlViewViewModel.cs
Due: ui

Settings for experimental inspections will not be displayed
  RetailCoder.VBE/Settings/CodeInspectionConfigProvider.cs
  RubberduckTests/Settings/CodeInspectionConfigProviderTests.cs
Due: none

Moved StepIsNotSpecifiedInspection and StepOneIsRedundantInspection to `.settings` file
  RetailCoder.VBE/Properties/Settings.Designer.cs
  RetailCoder.VBE/Properties/Settings.settings
  RetailCoder.VBE/app.config
  Rubberduck.Inspections/Concrete/StepIsNotSpecifiedInspection.cs
  Rubberduck.Inspections/Concrete/StepOneIsRedundantInspection.cs
  Rubberduck.Inspections/QuickFixes/AddStepOneQuickFix.cs
  Rubberduck.Inspections/QuickFixes/RemoveStepOneQuickFix.cs
Due: inspections

WIP Redesign
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/CaseClauseWrapper.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/ContextExtents.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/ContextValueResults.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/ContextValueVisitor.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/RangeClauseWrapper.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/SelectExpressionContextVisitor.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/SelectStatementInspectionWrapper.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/SummaryClauseBase.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/SummaryClauseIs.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/SummaryClauseRange.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/SummaryClauseRanges.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/SummaryCoverage.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/SummaryCoverageSingleValues.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/UnreachableCaseInspection.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/UnreachableCaseInspectionValue.cs
  Rubberduck.Inspections/Rubberduck.Inspections.csproj
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Changes to recompile afrter merge
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/UnreachableCaseInspection.cs
Due: inspections

Added retry approach to VBComponent on accessing the the CodeModule property.
  Rubberduck.VBEEditor/SafeComWrappers/VBA/VBComponent.cs
Due: none

Made IsNewOrModified always compute the content hash in order to make the access to CodeModules during a parsing run more like before the introduction of the ProjectsRepository.
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
Due: none
