Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

codecov.yml:

codecov:
  branch: next
  ci:
    - appveyor
  max_report_age: off
  
ignore:
  # as requested by MDoerner, because they aren't really testable
  - Rubberduck.VBEEditor
  # it makes no sense to track coverage on unit-tests
  - RubberduckTests
    
coverage:
  round: nearest
  precision: 2
  range: 40..80 
  status:
    # don't check patch coverage
    patch: off
    project:
      default:
        target: 0 # don't force a minimum coverage
        # allow decrease by up to 5 %
        threshold: 5
        base: auto
  
comment:
  layout: "flags, diff, files"
  behavior: once
  require_changes: yes

flags:
  core:
    paths:
      - Rubberduck.Parsing
      - Rubberduck.Core
      # Exclude UI from the core flag, that has a separate flag
      - !Rubberduck.Core/UI 
  ui:
    paths:
      - Rubberduck.Core/UI
  inspections:
    paths:
      - Rubberduck.Inspections
  tools:
     paths:
       - Rubberduck.SourceControl
       - Rubberduck.SmartIndenter
       - Rubberduck.RegexAssistant

Remove silly warnings about nothing
  RubberduckCodeAnalysis/ComVisibleTypeAnalyzer.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.csproj
  RubberduckCodeAnalysis/packages.config
Due: none

A pitiful attempt at cleaning up
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
Due: none

Closes #3994
  Rubberduck.Parsing/Rewriter/MemberAttributesRewriter.cs
  Rubberduck.Parsing/VBA/AttributeParser.cs
  Rubberduck.VBEEditor/Extensions/IDEExtensions.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
  Rubberduck.VBEEditor/SafeComWrappers/VB/Abstract/IVBComponent.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB/Abstract/IVBE.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB/Enums/VBEKind.cs
  Rubberduck.VBEditor.VB6/SafeComWrappers/VB/VBComponent.cs
  Rubberduck.VBEditor.VB6/SafeComWrappers/VB/VBComponents.cs
  Rubberduck.VBEditor.VB6/SafeComWrappers/VB/VBE.cs
  Rubberduck.VBEditor.VBA/SafeComWrappers/VB/VBComponent.cs
  Rubberduck.VBEditor.VBA/SafeComWrappers/VB/VBE.cs
Due: none

Fixed off-by-1 error
  Rubberduck.VBEditor.VB6/SafeComWrappers/VB/VBComponent.cs
Due: none

Bug fixes around the IDL generation / listeners and update the OleWoo including additional bug fixes
  Rubberduck.API/Properties/AssemblyInfo.cs
  Rubberduck.API/VBA/Parser.cs
  Rubberduck.Deployment/IdlGeneration/IdlGenerator.cs
  Rubberduck.Deployment/IdlGeneration/IdlListener.cs
  Rubberduck.Deployment/OleWoo/olewoo.dll
  Rubberduck.Deployment/OleWoo/olewoo_interop.dll
Due: none

Some tweaks and exclude the new files from the installer build
  Rubberduck.Deployment/IdlGeneration/IdlListener.cs
  Rubberduck.Deployment/InnoSetup/Installer Build Script.iss
  Rubberduck.Resources/Registration/RubberduckProgId.cs
Due: none

Fix failing local tests and update appveyor.yml to include the new test project
  RubberduckCodeAnalysis/ComVisibleTypeAnalyzer.cs
  RubberduckTestsCodeAnalysis/RubberduckTestsCodeAnalysis.csproj
  RubberduckTestsCodeAnalysis/app.config
  RubberduckTestsCodeAnalysis/packages.config
  appveyor.yml
Due: none

Update the version check on the installer
  Rubberduck.Deployment/InnoSetup/Includes/English.CustomMessages.iss
  Rubberduck.Deployment/InnoSetup/Includes/French.CustomMessages.iss
  Rubberduck.Deployment/InnoSetup/Includes/German.CustomMessages.iss
  Rubberduck.Deployment/InnoSetup/Installer Build Script.iss
Due: none

Post merge cleanup (wrong reference to resx)
  Rubberduck.Core/UnitTesting/TestEngine.cs
Due: none

Address thread safety concerns; move suspend activity to ParseCoordinator and allow the state to fire an event instead. Refactor the parser states out from command into engine.
  Rubberduck.Core/UI/Command/RunAllTestsCommand.cs
  Rubberduck.Core/UnitTesting/ITestEngine.cs
  Rubberduck.Core/UnitTesting/TestEngine.cs
  Rubberduck.Parsing/VBA/ParseCoordinator.cs
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
  RubberduckTests/ParserState/ParserStateTests.cs
Due: ui

Redesign of UnhandledOnErrorResumeNext inspection
  Rubberduck.Inspections/Concrete/UnhandledOnErrorResumeNextInspection.cs
  Rubberduck.Inspections/QuickFixes/RestoreErrorHandlingQuickFix.cs
  RubberduckTests/QuickFixes/RestoreErrorHandlingQuickFixTests.cs
Due: inspections

Closes #3993
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerComponentViewModel.cs
  Rubberduck.Parsing/VBA/ParseRunner.cs
  Rubberduck.Parsing/VBA/ReferenceResolveRunnerBase.cs
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.Designer.cs
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.resx
  Rubberduck.Resources/Icons/Fugue/document-import.png
  Rubberduck.Resources/Rubberduck.Resources.csproj
  Rubberduck.VBEEditor/QualifiedModuleName.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB/Abstract/IVBComponent.cs
  Rubberduck.VBEditor.VB6/SafeComWrappers/VB/VBComponent.cs
  Rubberduck.VBEditor.VBA/SafeComWrappers/VB/VBComponent.cs
Due: none

Fixed tests
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerComponentViewModel.cs
  RubberduckTests/Mocks/MockProjectBuilder.cs
Due: none

Stop removing new line when removing an expression with a line number
  Rubberduck.Parsing/Rewriter/RewriterInfo/VariableRewriterInfoFinder.cs
  RubberduckTests/Refactoring/MoveCloserToUsageTests.cs
Due: none

Tidy up code and comments
  Rubberduck.Parsing/Rewriter/RewriterInfo/VariableRewriterInfoFinder.cs
Due: none

extracted RubberduckMenus.resx
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/Settings/InspectionSettings.xaml
  Rubberduck.Resources/Menus/RubberduckMenus.Designer.cs
  Rubberduck.Resources/Menus/RubberduckMenus.cs.Designer.cs
  Rubberduck.Resources/Menus/RubberduckMenus.cs.resx
  Rubberduck.Resources/Menus/RubberduckMenus.de.Designer.cs
  Rubberduck.Resources/Menus/RubberduckMenus.de.resx
  Rubberduck.Resources/Menus/RubberduckMenus.fr.Designer.cs
  Rubberduck.Resources/Menus/RubberduckMenus.fr.resx
  Rubberduck.Resources/Menus/RubberduckMenus.resx
  Rubberduck.Resources/Rubberduck.Resources.csproj
  Rubberduck.Resources/RubberduckUI.Designer.cs
  Rubberduck.Resources/RubberduckUI.cs.resx
  Rubberduck.Resources/RubberduckUI.de.resx
  Rubberduck.Resources/RubberduckUI.fr.resx
  Rubberduck.Resources/RubberduckUI.resx
  Rubberduck.Resources/UnitTesting/TestExplorer.Designer.cs
  Rubberduck.Resources/UnitTesting/TestExplorer.cs.resx
  Rubberduck.Resources/UnitTesting/TestExplorer.fr.resx
  Rubberduck.Resources/UnitTesting/TestExplorer.resx
Due: ui

fixed resx key refs. fixes #4011, fixes #4023
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerControl.xaml
  Rubberduck.Core/UI/Command/MenuItems/CommandMenuItemBase.cs
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/ParentMenuItemBase.cs
  Rubberduck.Main/Resources/Ducky.ico
  Rubberduck.Main/Rubberduck.Main.csproj
Due: ui

fixed resource bindings
  Rubberduck.Core/UI/Inspections/InspectionResultsControl.xaml
  Rubberduck.Core/UI/Inspections/InspectionResultsViewModel.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerControl.xaml
Due: ui

added missing resx files
  Rubberduck.Core/App.cs
Due: none

Add missing resource string
  Rubberduck.Resources/UnitTesting/TestExplorer.Designer.cs
  Rubberduck.Resources/UnitTesting/TestExplorer.resx
Due: none

Correctly preface resource string.
  Rubberduck.Core/UI/UnitTesting/TestExplorerControl.xaml
  Rubberduck.Resources/UnitTesting/TestExplorer.Designer.cs
  Rubberduck.Resources/UnitTesting/TestExplorer.resx
Due: ui

renamed LoadConfig to ApplyCultureConfig
  Rubberduck.Core/App.cs
Due: none

formatting
  Rubberduck.Inspections/Concrete/ObsoleteGlobalInspection.cs
Due: inspections

implemented groundwork for autocompletes
  Rubberduck.Core/Common/RubberduckHooks.cs
  Rubberduck.Core/UI/SelectionChangeService.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.VBEEditor/Events/TypingCodeEventArgs.cs
  Rubberduck.VBEEditor/Events/VBENativeServices.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
  Rubberduck.VBEEditor/Selection.cs
Due: ui

Move UserInteraction to separate project, Stop leaking Windows Forms from IMessageBox
  Rubberduck.Core/App.cs
  Rubberduck.Core/Common/DeclarationExtensions.cs
  Rubberduck.Core/Common/DeclarationIconCache.cs
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/Command/AddTestModuleCommand.cs
  Rubberduck.Core/UI/Command/FindAllImplementationsCommand.cs
  Rubberduck.Core/UI/Command/FindAllReferencesCommand.cs
  Rubberduck.Core/UI/Command/VersionCheckCommand.cs
  Rubberduck.Core/UI/IMessageBox.cs
  Rubberduck.Interaction/IDialogView.cs
  Rubberduck.Interaction/IMessageBox.cs
  Rubberduck.Interaction/Properties/AssemblyInfo.cs
  Rubberduck.Interaction/Rubberduck.Interaction.csproj
  Rubberduck.VBEditor.VB6/Rubberduck.VBEditor.VB6.csproj
  Rubberduck.sln
  RubberduckTests/Refactoring/IntroduceParameterTests.cs
  RubberduckTests/Refactoring/RemoveParametersTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: ui

Fix compilation errors that VS was quite quiet about
  Rubberduck.Core/App.cs
  Rubberduck.Core/UI/Refactorings/RemoveParameters/ParameterViewModel.cs
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersDialog.cs
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersPresenter.cs
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersPresenterFactory.cs
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersView.xaml.cs
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersViewModel.cs
  Rubberduck.Inspections/QuickFixes/MoveFieldCloserToUsageQuickFix.cs
  Rubberduck.Inspections/QuickFixes/RemoveUnusedParameterQuickFix.cs
  Rubberduck.Inspections/QuickFixes/RenameDeclarationQuickFix.cs
  Rubberduck.Inspections/Rubberduck.Inspections.csproj
  Rubberduck.Refactorings/IntroduceField/IntroduceFieldRefactoring.cs
  RubberduckTests/CodeExplorer/CodeExplorerTests.cs
  RubberduckTests/Commands/FindAllImplementationsTests.cs
  RubberduckTests/Commands/FindAllReferencesTests.cs
  RubberduckTests/Commands/RefactorCommandTests.cs
  RubberduckTests/Commands/UnitTestCommandTests.cs
  RubberduckTests/QuickFixes/MoveFieldCloserToUsageQuickFixTests.cs
  RubberduckTests/QuickFixes/RemoveUnusedParameterQuickFixTests.cs
  RubberduckTests/Refactoring/ExtractInterfaceTests.cs
  RubberduckTests/Refactoring/IntroduceFieldTests.cs
  RubberduckTests/Refactoring/MoveCloserToUsageTests.cs
  RubberduckTests/Refactoring/RemoveParametersTests.cs
  RubberduckTests/Refactoring/RenameTests.cs
  RubberduckTests/Refactoring/ReorderParametersTests.cs
  RubberduckTests/RubberduckTests.csproj
  RubberduckTests/Settings/GeneralSettingsTests.cs
Due: ui, inspections

Re-Fix CW Proxy types, Make Core internals visible to Castle Proxy Generation
  Rubberduck.Core/Properties/AssemblyInfo.cs
  RubberduckTests/app.config
Due: none

Fix incorrectly set up unit-tests
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersPresenter.cs
  Rubberduck.Refactorings/ReorderParameters/ReorderParametersModel.cs
  RubberduckTests/CodeExplorer/CodeExplorerTests.cs
  RubberduckTests/Refactoring/IntroduceParameterTests.cs
  RubberduckTests/Refactoring/RemoveParametersTests.cs
  RubberduckTests/Refactoring/RenameTests.cs
  RubberduckTests/Refactoring/ReorderParametersTests.cs
Due: ui

Update RemoveParametersRefactoring to use a separate Removal collection
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersPresenter.cs
  Rubberduck.Refactorings/RemoveParameters/RemoveParametersModel.cs
  Rubberduck.Refactorings/RemoveParameters/RemoveParametersRefactoring.cs
  RubberduckTests/Refactoring/RemoveParametersTests.cs
  RubberduckTests/Refactoring/ReorderParametersTests.cs
Due: ui

Correctly set up last two unit test failures
  RubberduckTests/Refactoring/RemoveParametersTests.cs
  RubberduckTests/Refactoring/ReorderParametersTests.cs
Due: none

Incorporate Feedback,
  Rubberduck.Core/App.cs
  Rubberduck.Core/UI/CodeExplorer/Commands/RemoveCommand.cs
  Rubberduck.Core/UI/Command/AddTestModuleCommand.cs
  Rubberduck.Core/UI/Command/ReparseCommand.cs
  Rubberduck.Core/UI/Command/VersionCheckCommand.cs
  Rubberduck.Core/UI/Settings/GeneralSettingsViewModel.cs
  Rubberduck.Core/UI/Settings/SettingsControlViewModel.cs
  Rubberduck.Interaction/IMessageBox.cs
  Rubberduck.Interaction/Rubberduck.Interaction.csproj
  Rubberduck.Refactorings/RemoveParameters/RemoveParametersModel.cs
  Rubberduck.Refactorings/Rename/RenameRefactoring.cs
  Rubberduck.Refactorings/ReorderParameters/ReorderParametersModel.cs
  Rubberduck.Refactorings/Rubberduck.Refactorings.csproj
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.Designer.cs
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.resx
  RubberduckTests/CodeExplorer/CodeExplorerTests.cs
  RubberduckTests/Refactoring/IntroduceParameterTests.cs
  RubberduckTests/Refactoring/RemoveParametersTests.cs
  RubberduckTests/Refactoring/RenameTests.cs
  RubberduckTests/Refactoring/ReorderParametersTests.cs
Due: ui

Fixed assembly loading on fall back in deployment.
  Rubberduck.Deployment/BuildRegistryScript.ps1
Due: none

extracted Rubberduck.Core.AutoComplete namespace
  Rubberduck.Core/AutoComplete/AutoCompleteBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteClosingBrace.cs
  Rubberduck.Core/AutoComplete/AutoCompleteClosingBracket.cs
  Rubberduck.Core/AutoComplete/AutoCompleteClosingParenthese.cs
  Rubberduck.Core/AutoComplete/AutoCompleteClosingString.cs
  Rubberduck.Core/AutoComplete/AutoCompleteEndIf.cs
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.Core/AutoComplete/IAutoComplete.cs
  Rubberduck.Core/Common/RubberduckHooks.cs
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/IAutoCompleteService.cs
  Rubberduck.Core/UI/SelectionChangeService.cs
  Rubberduck.VBEEditor/Events/TypingCodeEventArgs.cs
  Rubberduck.VBEEditor/Events/VBENativeServices.cs
Due: ui

implemented base class
  Rubberduck.Core/AutoComplete/AutoCompleteBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteClosingBrace.cs
  Rubberduck.Core/AutoComplete/AutoCompleteClosingBracket.cs
  Rubberduck.Core/AutoComplete/AutoCompleteClosingParenthese.cs
  Rubberduck.Core/AutoComplete/AutoCompleteClosingString.cs
  Rubberduck.Core/AutoComplete/AutoCompleteEndIf.cs
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.VBEEditor/Events/TypingCodeEventArgs.cs
  Rubberduck.VBEEditor/Events/VBENativeServices.cs
Due: none

extracted autocomplete classes
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteClosingBrace.cs
  Rubberduck.Core/AutoComplete/AutoCompleteClosingBracket.cs
  Rubberduck.Core/AutoComplete/AutoCompleteClosingString.cs
  Rubberduck.Core/AutoComplete/AutoCompleteDoBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteEnumBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteForBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteIfBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteOnErrorResumeNextBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteSelectBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.Core/AutoComplete/AutoCompleteTypeBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteWhileBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteWithBlock.cs
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
Due: none

adjusted inputstrings to include a whitespace
  Rubberduck.Core/AutoComplete/AutoCompleteDoBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteEnumBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteForBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteIfBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteTypeBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteWhileBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteWithBlock.cs
Due: none

removed newline in inputstring
  Rubberduck.Core/AutoComplete/AutoCompleteIfBlock.cs
Due: none

constructor-inject IAutoComplete implementations
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
Due: none
