Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

Add generated Equals and HashCode to Atoms and Expressions
  Rubberduck.RegexAssistant/Atoms/CharacterClass.cs
  Rubberduck.RegexAssistant/Atoms/Group.cs
  Rubberduck.RegexAssistant/Atoms/Literal.cs
  Rubberduck.RegexAssistant/Expressions/AlternativesExpression.cs
  Rubberduck.RegexAssistant/Expressions/ConcatenatedExpression.cs
  Rubberduck.RegexAssistant/Expressions/ErrorExpression.cs
  Rubberduck.RegexAssistant/Expressions/SingleAtomExpression.cs
Due: tools

Add simple incorrect group specification test
  RubberduckTests/RegexAssistant/RegularExpressionTests.cs
Due: none

Changes per PR comments
  Rubberduck.VBEEditor/Events/VBENativeServices.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
  Rubberduck.VBEEditor/Utility/EnumHelper.cs
  Rubberduck.VBEEditor/WindowsApi/SubclassingWindow.cs
  Rubberduck.VBEEditor/WindowsApi/WM.cs
  Rubberduck.VBEEditor/WindowsApi/WinEvent.cs
Due: none

Fixed assert
  Rubberduck.VBEEditor/Utility/EnumHelper.cs
Due: none

Use HashCode utility to compute HashCodes in RegexAssistant
  Rubberduck.RegexAssistant/Atoms/CharacterClass.cs
  Rubberduck.RegexAssistant/Atoms/Group.cs
  Rubberduck.RegexAssistant/Atoms/Literal.cs
  Rubberduck.RegexAssistant/Expressions/AlternativesExpression.cs
  Rubberduck.RegexAssistant/Expressions/ConcatenatedExpression.cs
  Rubberduck.RegexAssistant/Expressions/ErrorExpression.cs
  Rubberduck.RegexAssistant/Quantifier.cs
Due: tools

Fix escaping behavior in DescendGroup and throw some tests at it
  Rubberduck.RegexAssistant/Rubberduck.RegexAssistant.csproj
  Rubberduck.RegexAssistant/VBRegexParser.cs
  RubberduckTests/RegexAssistant/RegularExpressionTests.cs
Due: tools

Make TestEngine check VBE Design mode
  Rubberduck.Core/UI/Command/RunAllTestsCommand.cs
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
  RubberduckTests/UnitTesting/EngineTests.cs
Due: ui

Minor cleanup
  Rubberduck.Core/UI/UnitTesting/Commands/AddTestMethodCommand.cs
  Rubberduck.Core/UI/UnitTesting/Commands/AddTestMethodExpectedErrorCommand.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerControl.xaml
  Rubberduck.UnitTesting/UnitTesting/ITestEngine.cs
  Rubberduck.VBEEditor/SafeComWrappers/SafeComWrapper.cs
Due: ui

Clarify Event semantics for TestRunCompleted
  Rubberduck.Core/UI/UnitTesting/TestExplorerModel.cs
  Rubberduck.UnitTesting/UnitTesting/ITestEngine.cs
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
Due: ui

Simplify introduced GetHashCode and Equals
  Rubberduck.Core/UI/UnitTesting/ViewModels/TestMethodViewModel.cs
  Rubberduck.UnitTesting/UnitTesting/TestMethod.cs
  Rubberduck.UnitTesting/UnitTesting/TestResult.cs
Due: ui

move AV project over to /rubberduck-vba AV account
  appveyor.yml
Due: none

Bandaid-fix Version requirement in VBEInteraction
  Rubberduck.Core/UI/UnitTesting/Commands/AddTestModuleCommand.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.UnitTesting/Rubberduck.UnitTesting.csproj
  Rubberduck.UnitTesting/UnitTesting/IVBEInteraction.cs
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
  Rubberduck.UnitTesting/UnitTesting/VBEInteraction.cs
  RubberduckTests/CodeExplorer/CodeExplorerTests.cs
  RubberduckTests/Commands/UnitTestCommandTests.cs
  RubberduckTests/UnitTesting/EngineTests.cs
Due: ui

Fix VBEInteraction registration
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
Due: none

Band-Aid Design-Mode query for CanRun evaluation of UnitTests
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
Due: none

Force refresh on Projects property
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerViewModel.cs
Due: none

Add failing test reproducing #4355
  RubberduckTests/Refactoring/MoveCloserToUsageTests.cs
Due: none

Revert "Add failing test reproducing #4355"
  RubberduckTests/Refactoring/MoveCloserToUsageTests.cs
Due: none

Check MemberAccess actually acesses rewritten member
  Rubberduck.Refactorings/MoveCloserToUsage/MoveCloserToUsageRefactoring.cs
  RubberduckTests/Refactoring/MoveCloserToUsageTests.cs
Due: none

Resolves 4349 and related
  Rubberduck.Parsing/Symbols/DeclarationFinder.cs
  RubberduckTests/Refactoring/RenameTests.cs
Due: none

Duplicated annotation enhancements
  Rubberduck.CodeAnalysis/Inspections/Concrete/DuplicatedAnnotationInspection.cs
  Rubberduck.CodeAnalysis/QuickFixes/RemoveDuplicatedAnnotationQuickFix.cs
  Rubberduck.Parsing/Annotations/AnnotationType.cs
  RubberduckTests/Inspections/DuplicatedAnnotationInspectionTests.cs
  RubberduckTests/QuickFixes/RemoveDuplicatedAnnotationQuickFixTests.cs
Due: none

Updated auth token
  appveyor.yml
Due: none

Some consolidation
  Rubberduck.Parsing/Symbols/DeclarationFinder.cs
Due: none

Add encrypted token from Vogel612 to publish RD releases via AV
  appveyor.yml
Due: none

Minor cleanup
  RubberduckTests/Refactoring/RenameTests.cs
Due: none

Better test names
  RubberduckTests/Refactoring/RenameTests.cs
Due: none

Inject ReparseCommand into ReparseCommandMenuItem, see #4370
  Rubberduck.Core/UI/Command/MenuItems/CommandBars/ReparseCommandMenuItem.cs
Due: ui

added IgnoreAttribute, ref.#4377
  RubberduckTestsCodeAnalysis/RubberduckCodeAnalysisUnitTests.cs
Due: none

added missing InspectionInfo resource key; fixed wording of "obsolete call statement" InspectionResults resource.
  Rubberduck.Resources/Inspections/InspectionInfo.Designer.cs
  Rubberduck.Resources/Inspections/InspectionInfo.resx
  Rubberduck.Resources/Inspections/InspectionResults.Designer.cs
  Rubberduck.Resources/Inspections/InspectionResults.resx
Due: none

extracted test class
  Rubberduck.Parsing/Binding/Bindings/SimpleNameDefaultBinding.cs
  Rubberduck.Parsing/Symbols/Declaration.cs
  RubberduckTests/QuickFixes/IntroduceLocalReDimVariableQuickFixTests.cs
  RubberduckTests/QuickFixes/IntroduceLocalVariableQuickFixTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: none

Move AppVeyor Releases to rubberduck-vba-releasebot
  appveyor.yml
Due: none

Fix leftover CommandBase ctor injections
  Rubberduck.Core/UI/Command/MenuItems/CommandBars/SerializeDeclarationsCommandMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/CommandBars/ShowParserErrorsCommandMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/FormDesignerFindAllReferencesCommandMenuItem.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
Due: ui

Update DockablePresenter injection mechanism
  Rubberduck.Core/UI/Command/CodeExplorerCommand.cs
  Rubberduck.Core/UI/Command/CodeMetricsCommand.cs
  Rubberduck.Core/UI/Command/InspectionResultsCommand.cs
  Rubberduck.Core/UI/Command/MenuItems/TestExplorerCommandMenuItem.cs
  Rubberduck.Core/UI/Command/TestExplorerCommand.cs
  Rubberduck.Core/UI/Command/ToDoExplorerCommand.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
Due: ui

Fix goof with vbe design mode, fixes #4370
  Rubberduck.Core/UI/Command/MenuItems/RunAllTestsCommandMenuItem.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
Due: ui

Update codecov.yml
  codecov.yml
Due: none

Kill the RetailCoder.VBE folder ... again
  RetailCoder.VBE/Resources/Custom/PNG/MdiForm.png
Due: none

Fix stoopid enumerable test.
  Rubberduck.SmartIndenter/LogicalCodeLine.cs
Due: tools

Ignore vertical spacing when indenting a procedure. Closes #4357
  Rubberduck.SmartIndenter/Indenter.cs
  RubberduckTests/SmartIndenter/VerticalSpacingTests.cs
Due: tools

Refactored Tests to remove duplicated code blocks
  RubberduckTests/Refactoring/RemoveParametersTests.cs
Due: none

Add options for "empty" line handling. Closes #4363
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/Settings/Converters/EmptyLineHandlingToTextConverter.cs
  Rubberduck.Core/UI/Settings/Converters/EmptyLineHandlingValueTextToEnumValueConverter.cs
  Rubberduck.Core/UI/Settings/Converters/EnumToBooleanConverter.cs
  Rubberduck.Core/UI/Settings/IndenterSettings.xaml
  Rubberduck.Core/UI/Settings/IndenterSettingsViewModel.cs
  Rubberduck.Resources/RubberduckUI.Designer.cs
  Rubberduck.Resources/RubberduckUI.resx
  Rubberduck.SmartIndenter/AbsoluteCodeLine.cs
  Rubberduck.SmartIndenter/IIndenterSettings.cs
  Rubberduck.SmartIndenter/IndenterSettings.cs
  RubberduckTests/Settings/IndenterSettingsTests.cs
  RubberduckTests/SmartIndenter/SpecificSettingTests.cs
Due: ui, tools

Path conditions:
  ui: any of: Rubberduck.Core/UI, but not: Rubberduck.VBEEditor, RubberduckTests
  inspections: any of: Rubberduck.Inspections, but not: Rubberduck.VBEEditor, RubberduckTests
  tools: any of: Rubberduck.SourceControl, Rubberduck.SmartIndenter, Rubberduck.RegexAssistant, but not: Rubberduck.VBEEditor, RubberduckTests
