Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

fixed resource key refs
  Rubberduck.Core/Settings/CodeInspectionSettings.cs
  Rubberduck.Core/UI/Settings/InspectionSettings.xaml
  Rubberduck.Inspections/Concrete/HungarianNotationInspection.cs
  Rubberduck.Inspections/Concrete/IntegerDataTypeInspection.cs
  Rubberduck.Inspections/Concrete/MultilineParameterInspection.cs
  Rubberduck.Inspections/Concrete/ShadowedDeclarationInspection.cs
  Rubberduck.Inspections/Concrete/UseMeaningfulNameInspection.cs
Due: ui, inspections

re-added assemblyinfo
  Rubberduck.Resources/Properties/AssemblyInfo.cs
Due: none

re-added registration static classes
  Rubberduck.Resources/Registration/RubberduckGuid.cs
  Rubberduck.Resources/Registration/RubberduckProgId.cs
Due: none

re-added .designer files
  Rubberduck.Resources/About/AboutUI.de.Designer.cs
  Rubberduck.Resources/About/AboutUI.fr.Designer.cs
Due: none

removed Core.UI.CodeExplorer.CodeExplorer.resx
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/CodeExplorer/CodeExplorer.Designer.cs
  Rubberduck.Core/UI/CodeExplorer/CodeExplorer.resx
Due: ui

re-added missing CodeExplorer icon resources
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerComponentViewModel.cs
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerMemberViewModel.cs
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerProjectViewModel.cs
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.Designer.cs
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.resx
Due: none

added reference to Rubberduck.Resources, restored EasyHook nuget dependency
  Rubberduck.Main/EasyHook32.dll
  Rubberduck.Main/EasyHook32Svc.exe
  Rubberduck.Main/EasyHook64.dll
  Rubberduck.Main/EasyHook64Svc.exe
  Rubberduck.Main/EasyLoad32.dll
  Rubberduck.Main/EasyLoad64.dll
  Rubberduck.Main/Rubberduck.Main.csproj
Due: none

fixed resource refs
  Rubberduck.Main/Extension.cs
Due: none

fixed resource refs
  RubberduckTests/ConfigurationTests.cs
  RubberduckTests/Inspections/GeneralInspectionTests.cs
  RubberduckTests/Inspections/InspectionProviderTests.cs
  RubberduckTests/Inspections/RedundantByRefModifierInspectionTests.cs
  RubberduckTests/Inspections/StepNotSpecifiedInspectionTests.cs
  RubberduckTests/Inspections/StepOneIsRedundantInspectionTests.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
  RubberduckTests/QuickFixes/AddStepOneQuickFixTests.cs
  RubberduckTests/QuickFixes/IgnoreOnceQuickFixTests.cs
  RubberduckTests/QuickFixes/RemoveExplicitByRefModifierQuickFixTests.cs
  RubberduckTests/QuickFixes/RemoveStepOneQuickFixTests.cs
  RubberduckTests/RubberduckTests.csproj
  RubberduckTests/Settings/CodeInspectionConfigProviderTests.cs
  RubberduckTests/Settings/InspectionSettingsTests.cs
Due: none

Moq wants Castle.Core 4.0
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/packages.config
  Rubberduck.Main/Rubberduck.Main.csproj
  Rubberduck.Main/packages.config
  RubberduckTests/RubberduckTests.csproj
  RubberduckTests/app.config
  RubberduckTests/packages.config
Due: none

updated Moq/Castle.Core in RubberduckTests
  RubberduckTests/RubberduckTests.csproj
  RubberduckTests/packages.config
Due: none

switched to absolute uri
  Rubberduck.Core/Common/DeclarationIconCache.cs
Due: none

fixed relative path
  Rubberduck.Core/Common/DeclarationIconCache.cs
Due: none

fixed broken tests
  RubberduckTests/Inspections/GeneralInspectionTests.cs
Due: none

removed AboutWindow resource keys
  Rubberduck.Resources/RubberduckUI.Designer.cs
  Rubberduck.Resources/RubberduckUI.de.resx
  Rubberduck.Resources/RubberduckUI.fr.resx
  Rubberduck.Resources/RubberduckUI.resx
Due: none

extracted CodeExplorerUI strings; added missing CS keys
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerComponentViewModel.cs
  Rubberduck.Core/UI/About/AboutControl.xaml.cs
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerWindow.cs
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.Designer.cs
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.cs.Designer.cs
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.cs.resx
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.de.Designer.cs
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.de.resx
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.fr.Designer.cs
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.fr.resx
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.resx
  Rubberduck.Resources/Rubberduck.Resources.csproj
  Rubberduck.Resources/RubberduckUI.Designer.cs
  Rubberduck.Resources/RubberduckUI.resx
Due: ui

cleaned up usings
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerComponentViewModel.cs
  Rubberduck.Core/UI/About/AboutControl.xaml.cs
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerWindow.cs
Due: ui

extracted ToDoExplorerUI resources; added missing CS keys
  Rubberduck.Resources/Rubberduck.Resources.csproj
  Rubberduck.Resources/ToDoExplorer/ToDoExplorerUI.Designer.cs
  Rubberduck.Resources/ToDoExplorer/ToDoExplorerUI.cs.Designer.cs
  Rubberduck.Resources/ToDoExplorer/ToDoExplorerUI.cs.resx
  Rubberduck.Resources/ToDoExplorer/ToDoExplorerUI.de.Designer.cs
  Rubberduck.Resources/ToDoExplorer/ToDoExplorerUI.de.resx
  Rubberduck.Resources/ToDoExplorer/ToDoExplorerUI.fr.Designer.cs
  Rubberduck.Resources/ToDoExplorer/ToDoExplorerUI.fr.resx
  Rubberduck.Resources/ToDoExplorer/ToDoExplorerUI.resx
Due: none

implemented CodeExplorer resources
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerControl.xaml
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.Designer.cs
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.cs.resx
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.de.resx
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.fr.resx
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.resx
  Rubberduck.Resources/RubberduckUI.Designer.cs
  Rubberduck.Resources/RubberduckUI.cs.resx
  Rubberduck.Resources/RubberduckUI.de.resx
  Rubberduck.Resources/RubberduckUI.fr.resx
  Rubberduck.Resources/RubberduckUI.resx
Due: ui

implemented todo explorer resources
  Rubberduck.Core/UI/ToDoItems/ToDoExplorerControl.xaml
  Rubberduck.Core/UI/ToDoItems/ToDoExplorerViewModel.cs
Due: ui

extracted todo explorer settings; added prompt before resetting settings (key for prompt message was not used)
  Rubberduck.Core/UI/Settings/GeneralSettings.xaml
  Rubberduck.Core/UI/Settings/IndenterSettings.xaml
  Rubberduck.Core/UI/Settings/InspectionSettings.xaml
  Rubberduck.Core/UI/Settings/SettingsControl.xaml
  Rubberduck.Core/UI/Settings/SettingsControlViewModel.cs
  Rubberduck.Core/UI/Settings/SettingsForm.cs
  Rubberduck.Core/UI/Settings/SettingsView.cs
  Rubberduck.Core/UI/Settings/TodoSettings.xaml
  Rubberduck.Core/UI/Settings/UnitTestSettings.xaml
  Rubberduck.Core/UI/Settings/WindowSettings.xaml
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.cs.resx
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.fr.resx
  Rubberduck.Resources/Rubberduck.Resources.csproj
  Rubberduck.Resources/RubberduckUI.Designer.cs
  Rubberduck.Resources/RubberduckUI.cs.resx
  Rubberduck.Resources/RubberduckUI.de.resx
  Rubberduck.Resources/RubberduckUI.fr.resx
  Rubberduck.Resources/RubberduckUI.resx
  Rubberduck.Resources/Settings/SettingsUI.Designer.cs
  Rubberduck.Resources/Settings/SettingsUI.cs.resx
  Rubberduck.Resources/Settings/SettingsUI.de.Designer.cs
  Rubberduck.Resources/Settings/SettingsUI.de.resx
  Rubberduck.Resources/Settings/SettingsUI.fr.Designer.cs
  Rubberduck.Resources/Settings/SettingsUI.fr.resx
  Rubberduck.Resources/Settings/SettingsUI.resx
  Rubberduck.Resources/Settings/ToDoExplorerPage.Designer.cs
  Rubberduck.Resources/Settings/ToDoExplorerPage.cs.Designer.cs
  Rubberduck.Resources/Settings/ToDoExplorerPage.cs.resx
  Rubberduck.Resources/Settings/ToDoExplorerPage.de.Designer.cs
  Rubberduck.Resources/Settings/ToDoExplorerPage.de.resx
  Rubberduck.Resources/Settings/ToDoExplorerPage.fr.Designer.cs
  Rubberduck.Resources/Settings/ToDoExplorerPage.fr.resx
  Rubberduck.Resources/Settings/ToDoExplorerPage.resx
  Rubberduck.Resources/Settings/UnitTestingPage.Designer.cs
  Rubberduck.Resources/Settings/UnitTestingPage.cs.resx
  Rubberduck.Resources/Settings/UnitTestingPage.de.resx
  Rubberduck.Resources/Settings/UnitTestingPage.fr.resx
  Rubberduck.Resources/Settings/UnitTestingPage.resx
Due: ui

Introduce Olewoo IDL generation and listener, implement the first version of listener
  Rubberduck.Deployment/BuildRegistryScript.ps1
  Rubberduck.Deployment/IdlGeneration/IdlGenerator.cs
  Rubberduck.Deployment/IdlGeneration/IdlListener.cs
  Rubberduck.Deployment/OleWoo/olewoo.dll
  Rubberduck.Deployment/OleWoo/olewoo.dll.config
  Rubberduck.Deployment/OleWoo/olewoo_interop.dll
  Rubberduck.Deployment/Rubberduck.Deployment.csproj
  Rubberduck.Deployment/app.config
Due: none

VB6 Project ID now saves as a GUID to VBP file
  Rubberduck.Core/UI/Command/Refactorings/ProjectExplorerRefactorRenameCommand.cs
  Rubberduck.VBEditor.VB6/SafeComWrappers/VB/VBProject.cs
Due: ui

Tweak
  Rubberduck.VBEditor.VB6/SafeComWrappers/VB/VBProject.cs
Due: none

Update registry script to use midl, some bug fixes
  Rubberduck.Deployment/BuildRegistryScript.ps1
  Rubberduck.Deployment/Builders/RegistryEntryBuilder.cs
  Rubberduck.Deployment/IdlGeneration/IdlGenerator.cs
  Rubberduck.Deployment/Rubberduck.Deployment.csproj
Due: none

Include Windows SDK in AV
  appveyor.yml
Due: none

Add debug/verbose flags to diagnose errors on AV
  appveyor.yml
Due: none

Trying 7 SDK since 10 SDK likes dem random errors....
  appveyor.yml
Due: none

Try a different package
  appveyor.yml
Due: none

Testing to see if AV has the same path for midl.exe up there
  Rubberduck.Deployment/BuildRegistryScript.ps1
  appveyor.yml
Due: none

Reset to working local build
  Rubberduck.Deployment/BuildRegistryScript.ps1
Due: none

Try to get more data from AV about its environment
  Rubberduck.Deployment/BuildRegistryScript.ps1
Due: none

Try and set the CPP target in yml....
  appveyor.yml
Due: none

Rearrange the order of commands pre builds
  appveyor.yml
Due: none

fix Run overload to handle ambigous named VBA projects
  Rubberduck.Core/UnitTesting/TestEngine.cs
Due: none

Test if Resolve-Path will help us....
  Rubberduck.Deployment/BuildRegistryScript.ps1
  Rubberduck.Deployment/Rubberduck.Deployment.csproj
  appveyor.yml
Due: none

Rearrange the execution to avoid unnecessary work when falling back
  Rubberduck.Deployment/BuildRegistryScript.ps1
Due: none

Path conditions:
  ui: any of: Rubberduck.Core/UI, but not: Rubberduck.VBEEditor, RubberduckTests
  inspections: any of: Rubberduck.Inspections, but not: Rubberduck.VBEEditor, RubberduckTests
  tools: any of: Rubberduck.SourceControl, Rubberduck.SmartIndenter, Rubberduck.RegexAssistant, but not: Rubberduck.VBEEditor, RubberduckTests
