Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

codecov.yml:

codecov:
  branch: next
  ci:
    - appveyor
  max_report_age: off
  
ignore:
  # as requested by MDoerner, because they aren't really testable
  - Rubberduck.VBEEditor
  # it makes no sense to track coverage on unit-tests
  - RubberduckTests
    
coverage:
  round: nearest
  precision: 2
  range: 40..80 
  status:
    # don't check patch coverage
    patch: off
    project:
      default:
        target: 0 # don't force a minimum coverage
        # allow decrease by up to 5 %
        threshold: 5
        base: auto
  
comment:
  layout: "flags, diff, files"
  behavior: once
  require_changes: yes

flags:
  core:
    paths:
      - Rubberduck.Parsing
      - Rubberduck.Core
      # Exclude UI from the core flag, that has a separate flag
      - !Rubberduck.Core/UI 
  ui:
    paths:
      - Rubberduck.Core/UI
  inspections:
    paths:
      - Rubberduck.Inspections
  tools:
     paths:
       - Rubberduck.SourceControl
       - Rubberduck.SmartIndenter
       - Rubberduck.RegexAssistant

fix encoding for installer i18n
  Rubberduck.Deployment/InnoSetup/Includes/German.CustomMessages.iss
Due: none

Test to see if we can get more diagnostics from AppVeyor
  RubberduckTests/Refactoring/MoveCloserToUsageTests.cs
Due: none

Add failing recursive call unit tests to ensure we cover those cases.
  RubberduckTests/Symbols/DeclarationFinderTests.cs
Due: none

Fixes newly discovered bugs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueVisitor.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseFilter.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspection.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Update MoveCloserToUsageTests.cs
  RubberduckTests/Refactoring/MoveCloserToUsageTests.cs
Due: none

updated splash screen
  Rubberduck.Core/Properties/Resources.Designer.cs
  Rubberduck.Core/Properties/Resources.resx
  Rubberduck.Core/Resources/RD-300x250-base.png
  Rubberduck.Core/Resources/RD2018-Splash.png
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/Splash.Designer.cs
  Rubberduck.Inspections/Rubberduck.Inspections.csproj.DotSettings
Due: ui, inspections

Reviewed all resx entries with ResX manager. Left SourceControl entries untouched.
  RetailCoder.VBE/UI/RubberduckUI.fr.resx
Due: none

update splash screen
  Rubberduck.Core/Properties/Resources.Designer.cs
  Rubberduck.Core/Properties/Resources.resx
  Rubberduck.Core/Resources/RD2018-Splash.png
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/Splash.Designer.cs
Due: ui

remove old splash resource
  Rubberduck.Core/Resources/RD-300x250-base.png
  Rubberduck.Core/Rubberduck.Core.csproj
Due: none

update version to 2.2
  Rubberduck.Core/Properties/AssemblyInfo.cs
  Rubberduck.Main/Properties/AssemblyInfo.cs
Due: none

Update appveyor.yml
  appveyor.yml
Due: none

Add unit tests for recursive calls, check, the LHS, RHS and the property assignment.
  RubberduckTests/Symbols/DeclarationFinderTests.cs
Due: none

Remove the unused optional parameter
  Rubberduck.Parsing/Symbols/DeclarationFinder.cs
Due: none

Ununignore tests. Turn out they are broken after all. Doh.
  RubberduckTests/QuickFixes/IgnoreOnceQuickFixTests.cs
  RubberduckTests/QuickFixes/UntypedFunctionUsageQuickFixTests.cs
Due: none

added missing translations
  Rubberduck.Core/UI/RubberduckUI.Designer.cs
  Rubberduck.Core/UI/RubberduckUI.fr.resx
  Rubberduck.Core/UI/RubberduckUI.resx
  Rubberduck.Parsing/Inspections/Resources/InspectionsUI.Designer.cs
  Rubberduck.Parsing/Inspections/Resources/InspectionsUI.fr.resx
  Rubberduck.Parsing/Inspections/Resources/InspectionsUI.resx
Due: ui

added French.CustomMessages.iss
  Rubberduck.Deployment/InnoSetup/Includes/French.CustomMessages.iss
Due: none

fixed ���� encoding
  Rubberduck.Deployment/InnoSetup/Includes/French.CustomMessages.iss
Due: none

Correct the ordering for the MemberAccessTypeBinding Update SimpleNameTypeBinding to check for ambiguous matches and return a ResolutionFailedExpression
  Rubberduck.Parsing/Binding/Bindings/MemberAccessTypeBinding.cs
  Rubberduck.Parsing/Binding/Bindings/SimpleNameTypeBinding.cs
  RubberduckTests/Symbols/DeclarationFinderTests.cs
Due: none

Enable french translation now that we have the french custom message file.
  Rubberduck.Deployment/InnoSetup/Installer Build Script.iss
Due: none

Add new unit tests to cover the cases reported in #3499 and #3551
  RubberduckTests/Symbols/DeclarationFinderTests.cs
Due: none

closes #3910
  Rubberduck.Inspections/Concrete/LineLabelNotUsedInspection.cs
  Rubberduck.Inspections/Concrete/UnhandledOnErrorResumeNextInspection.cs
  Rubberduck.Parsing/Grammar/VBALexer.g4
  Rubberduck.Parsing/Grammar/VBAParser.g4
  Rubberduck.Parsing/Symbols/DeclarationSymbolsListener.cs
  Rubberduck.Parsing/Symbols/Identifier.cs
  RubberduckTests/Grammar/VBAParserTests.cs
Due: inspections

de-stupidify semantic predicate for line labels
  Rubberduck.Parsing/Grammar/VBAParser.g4
Due: none

define extension method to expose Enumerable.Contains to semantic predicates
  Rubberduck.Parsing/SelectionExtensions.cs
Due: none

Tighten down the requirement for elevation to only admins, not power users.
  Rubberduck.Deployment/InnoSetup/Installer Build Script.iss
Due: none

Set up manual event registration and management of buttons via the factory. Add disposing event to notify the factory to release the buttons.
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/CommandBarButtonFactory.cs
  Rubberduck.VBEEditor/SafeComWrappers/Office.Core/CommandBarButton.cs
Due: ui

Update the base class to use the modified factory.
  Rubberduck.Core/UI/Command/MenuItems/CommandBars/AppCommandBarBase.cs
  Rubberduck.Core/UI/Command/MenuItems/CommandBars/RubberduckCommandBar.cs
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/ParentMenuItemBase.cs
Due: ui

Make the factory a part of DI.
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
Due: none

Update all child classes' constructor arguments.
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/CodePaneContextParentMenu.cs
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/FormDesignerContextParentMenu.cs
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/NavigateParentMenu.cs
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/ProjectWindowContextParentMenu.cs
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/RefactoringsParentMenu.cs
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/RubberduckParentMenu.cs
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/SmartIndenterParentMenu.cs
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/ToolsParentMenu.cs
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/UnitTestingParentMenu.cs
Due: ui

Cleanup and logic correction
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/CommandBarButtonFactory.cs
  Rubberduck.VBEEditor/SafeComWrappers/Office.Core/CommandBarButton.cs
Due: ui

Added and corrected tests for indexed default member access.
  RubberduckTests/Binding/IndexDefaultBindingTests.cs
Due: none

Fixed chained indexed default member access reolution.
  Rubberduck.Parsing/Binding/Bindings/IndexDefaultBinding.cs
Due: none

Create License
  docs/License
Due: none

Create LICENSE
  LICENSE
Due: none

Bug fixing, add hash code caching, and prevent exceptions at exiting
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/CommandBarButtonFactory.cs
  Rubberduck.VBEEditor/SafeComWrappers/Office.Core/Abstract/ICommandBarButton.cs
  Rubberduck.VBEEditor/SafeComWrappers/Office.Core/CommandBarButton.cs
  Rubberduck.VBEEditor/SafeComWrappers/Office.Core/CommandBarControl.cs
  Rubberduck.VBEEditor/SafeComWrappers/SafeEventedComWrapper.cs
Due: ui

Fixed default member determination for referenced libraries.
  Rubberduck.Parsing/ComReflection/ReferencedDeclarationsCollector.cs
Due: none

Enhanced the DisposalActionContainer to execute its action on the value is stores on disposal.
  Rubberduck.VBEEditor/Utility/DisposalActionContainer.cs
  RubberduckTests/VBEditor/Utility/DisposalActionContainerTests.cs
Due: none

Injected FakesProvider into TestEngine via a concrete factory instead of an auto-magic one.
  Rubberduck.Core/UnitTesting/IFakes.cs
  Rubberduck.Core/UnitTesting/TestEngine.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/FakesProviderFactory.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.Main/Rubberduck.Main.csproj
Due: none
