Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

Dial in the overzealous parameter renaming. Closes #4202
  Rubberduck.Refactorings/Rename/RenameRefactoring.cs
Due: none

Rearrange and add failing tests for #4197
  RubberduckTests/Inspections/ProcedureShouldBeFunctionInspectionTests.cs
  RubberduckTests/QuickFixes/ChangeProcedureToFunctionQuickFixTests.cs
  RubberduckTests/QuickFixes/IgnoreOnceQuickFixTests.cs
Due: none

Ignore ByRef parameters that are never assigned to. Closes #4197
  Rubberduck.CodeAnalysis/Inspections/Concrete/ProcedureCanBeWrittenAsFunctionInspection.cs
Due: none

Fix test module numbering. Closes #4221
  Rubberduck.Core/UI/Command/AddTestModuleCommand.cs
  RubberduckTests/Commands/UnitTestCommandTests.cs
Due: ui

commented-out block completion, refactored (FindMatchingTokenPosition still broken)
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.Core/AutoComplete/BlockCompletion/BlockCompletion.cs
  Rubberduck.Core/AutoComplete/BlockCompletion/BlockCompletionService.cs
  Rubberduck.Core/AutoComplete/SelfClosingPairCompletion/SelfClosingPairCompletionService.cs
  Rubberduck.Core/Common/RubberduckHooks.cs
  Rubberduck.VBEEditor/Events/AutoCompleteEventArgs.cs
  Rubberduck.VBEEditor/Events/KeyPressEventArgs.cs
  Rubberduck.VBEEditor/Events/VBENativeServices.cs
  Rubberduck.VBEEditor/WindowsApi/CodePaneSubclass.cs
  Rubberduck.VBEEditor/WindowsApi/User32.cs
  RubberduckTests/AutoComplete/BlockCompletionTests.cs
  RubberduckTests/AutoComplete/SelfClosingPairCompletionTests.cs
Due: none

finished czech translation
  Rubberduck.RegexAssistant/Rubberduck.RegexAssistant.csproj
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.cs.resx
  Rubberduck.Resources/Inspections/InspectionInfo.cs.resx
  Rubberduck.Resources/Inspections/InspectionNames.cs.resx
  Rubberduck.Resources/Inspections/InspectionResults.cs.resx
  Rubberduck.Resources/RubberduckUI.cs.resx
  Rubberduck.Resources/UnitTesting/TestExplorer.cs.resx
  Rubberduck.Resources/UnitTesting/TestExplorer.fr.resx
  RubberduckCodeAnalysis/Resources.resx
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.csproj
Due: tools

Recovered changes from prior revert operation
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ComparableDateValue.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ExpressionFilter.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ExpressionFilterBoolean.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ExpressionFilterDate.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ExpressionFilterFactory.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ExpressionFilterIntegral.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/LetCoercer.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/OperatorTypesProvider.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ParseTreeExpressionEvaluator.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ParseTreeValue.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueFactory.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueVisitor.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/TokenParser.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/TokenTypeResolver.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspector.cs
  Rubberduck.CodeAnalysis/Rubberduck.CodeAnalysis.csproj
  RubberduckTests/Inspections/UnreachableCase/ParseTreeValueUnitTests.cs
Due: none

Added Czech Translation for InnoSetup
  Rubberduck.Deployment/InnoSetup/Includes/Czech.CustomMessages.iss
  Rubberduck.Deployment/InnoSetup/Installer Build Script.iss
Due: none

Made the SerializableProjectBuilder build the trees with the children in a predictable order (DeclarationType, IdentifierName).
  Rubberduck.Parsing/ComReflection/SerializableDeclaration.cs
  Rubberduck.Parsing/ComReflection/SerializableProjectBuilder.cs
Due: none

Sort children of serializable declarations at a better place.
  Rubberduck.Parsing/ComReflection/SerializableDeclaration.cs
  Rubberduck.Parsing/ComReflection/SerializableProjectBuilder.cs
Due: none

Fix GetNextTestMethodName functions, add testing.
  Rubberduck.Core/UI/Command/AddTestMethodCommand.cs
  Rubberduck.Core/UI/Command/AddTestMethodExpectedErrorCommand.cs
  Rubberduck.Core/UI/Command/AddTestModuleCommand.cs
  RubberduckTests/Commands/UnitTestCommandTests.cs
Due: ui

fixed broken tests
  Rubberduck.Core/AutoComplete/SelfClosingPairCompletion/SelfClosingPairCompletionService.cs
  RubberduckTests/AutoComplete/SelfClosingPairCompletionTests.cs
Due: none

Trim alignment token before measuring it (duh!) - Closes #3800.
  Rubberduck.SmartIndenter/AbsoluteCodeLine.cs
  RubberduckTests/SmartIndenter/SpecificSettingTests.cs
Due: tools

explicitly handle when input string only contains opening+closing characters
  Rubberduck.Core/AutoComplete/SelfClosingPairCompletion/SelfClosingPairCompletionService.cs
  Rubberduck.Core/Common/CodeString.cs
  RubberduckTests/AutoComplete/SelfClosingPairCompletionTests.cs
Due: none

return early given multiple characters selection
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.Core/AutoComplete/SelfClosingPairCompletion/SelfClosingPairCompletionService.cs
Due: none

Find property implementations based on type. Closes #4241
  Rubberduck.Core/UI/Command/FindAllImplementationsCommand.cs
  Rubberduck.Refactorings/Common/DeclarationExtensions.cs
  RubberduckTests/Commands/FindAllImplementationsTests.cs
  RubberduckTests/Symbols/DeclarationExtensionTests.cs
Due: ui

split string literal at cursor position
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.Core/AutoComplete/SelfClosingPairCompletion/CodeStringPrettifier.cs
  Rubberduck.Core/AutoComplete/SelfClosingPairCompletion/ICodeStringPrettifier.cs
  Rubberduck.Core/AutoComplete/SelfClosingPairCompletion/SelfClosingPairCompletionService.cs
  Rubberduck.Core/AutoComplete/ShowIntelliSenseCommand.cs
  Rubberduck.Core/Common/CodeString.cs
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.VBEEditor/Events/VBENativeServices.cs
Due: none

Conditionally add diagnostics.
  Rubberduck.VBEEditor/Events/VBENativeServices.cs
  Rubberduck.VBEEditor/WindowsApi/DesignerWindowSubclass.cs
Due: none

Check declarationi types for already implemented members. Closes #4179
  Rubberduck.Refactorings/ImplementInterface/ImplementInterfaceRefactoring.cs
  RubberduckTests/Refactoring/ImplementInterfaceTests.cs
Due: none

TestExplorer fixes
  Rubberduck.Core/UI/UnitTesting/TestExplorerControl.xaml
  Rubberduck.Core/UI/UnitTesting/TestExplorerControl.xaml.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerViewModel.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
Due: ui

Made the string Scope distinct between property get, let and set for the same property.
  Rubberduck.Parsing/ComReflection/LibraryReferencedDeclarationsCollector.cs
  Rubberduck.Parsing/Symbols/Declaration.cs
  Rubberduck.Parsing/Symbols/DeclarationFinder.cs
  Rubberduck.Parsing/Symbols/ParameterDeclaration.cs
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
  RubberduckTests/Refactoring/IntroduceParameterTests.cs
Due: none

Add filtering for inspection severities
  Rubberduck.Core/UI/Settings/GeneralSettings.xaml
  Rubberduck.Core/UI/Settings/InspectionSettings.xaml
  Rubberduck.Core/UI/Settings/InspectionSettingsViewModel.cs
  Rubberduck.Resources/Inspections/InspectionsUI.Designer.cs
  Rubberduck.Resources/Inspections/InspectionsUI.resx
Due: ui

Add filter icon & update resource strings
  Rubberduck.Core/UI/Settings/InspectionSettings.xaml
  Rubberduck.Resources/RubberduckUI.Designer.cs
  Rubberduck.Resources/RubberduckUI.resx
Due: ui

Make static left navigation pane width
  Rubberduck.Core/UI/Settings/SettingsControl.xaml
Due: ui

Fixed introduce and remove parameter refactoring relying on the scope for property get, let and set to agree.
  Rubberduck.Refactorings/IntroduceParameter/IntroduceParameterRefactoring.cs
  Rubberduck.Refactorings/RemoveParameters/RemoveParametersRefactoring.cs
  RubberduckTests/Refactoring/IntroduceParameterTests.cs
  RubberduckTests/Refactoring/RemoveParametersTests.cs
Due: none

Correct filtering logic
  Rubberduck.Core/UI/Settings/InspectionSettingsViewModel.cs
Due: ui

Fixed stupid oversight when changing the scope strings.
  Rubberduck.Parsing/Symbols/Declaration.cs
Due: none

Allow Option Explicit inspection to be ignored. Closes #4013
  Rubberduck.CodeAnalysis/Inspections/Concrete/OptionExplicitInspection.cs
  RubberduckTests/Inspections/OptionExplicitInspectionTests.cs
Due: none

Move INavigateSource and related classes to Rubberduck.Interaction
  Rubberduck.CodeAnalysis/Inspections/Abstract/InspectionResultBase.cs
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/ToDoItems/ToDoItem.cs
  Rubberduck.Core/UI/CodeExplorer/Commands/IndentCommand.cs
  Rubberduck.Core/UI/CodeExplorer/Commands/OpenCommand.cs
  Rubberduck.Core/UI/Command/FindAllImplementationsCommand.cs
  Rubberduck.Core/UI/Command/FindAllReferencesCommand.cs
  Rubberduck.Core/UI/Command/FindSymbolCommand.cs
  Rubberduck.Core/UI/Command/NavigateCommand.cs
  Rubberduck.Core/UI/Command/ShowParserErrorsCommand.cs
  Rubberduck.Core/UI/Command/SyntaxErrorExtensions.cs
  Rubberduck.Core/UI/Controls/GroupingGrid.xaml.cs
  Rubberduck.Core/UI/Controls/SearchResultItem.cs
  Rubberduck.Core/UI/Controls/SearchResultsViewModel.cs
  Rubberduck.Core/UI/FindSymbol/FindSymbolDialog.cs
  Rubberduck.Core/UI/FindSymbol/FindSymbolViewModel.cs
  Rubberduck.Core/UI/Inspections/InspectionResultsViewModel.cs
  Rubberduck.Core/UI/ToDoItems/ToDoExplorerViewModel.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerViewModel.cs
  Rubberduck.Interaction/Input/IDialogView.cs
  Rubberduck.Interaction/Input/IMessageBox.cs
  Rubberduck.Interaction/Navigation/INavigateCommand.cs
  Rubberduck.Interaction/Navigation/INavigateSelection.cs
  Rubberduck.Interaction/Navigation/NavigateCodeEventArgs.cs
  Rubberduck.Interaction/Rubberduck.Interaction.csproj
  Rubberduck.Interaction/packages.config
  RubberduckTests/Commands/FindAllImplementationsTests.cs
  RubberduckTests/Commands/FindAllReferencesTests.cs
Due: ui

Extract UnitTesting into separate project
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/Command/MenuItems/RefactorExtractMethodCommandMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/RegexSearchReplaceCommandMenuItem.cs
  Rubberduck.Core/UI/Command/RunAllTestsCommand.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerModel.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerViewModel.cs
  Rubberduck.Core/UI/UnitTesting/ViewModels/TestMethodViewModel.cs
  Rubberduck.Core/UnitTesting/AssertCompletedEventArgs.cs
  Rubberduck.Main/Rubberduck.Main.csproj
  Rubberduck.UnitTesting/Properties/AssemblyInfo.cs
  Rubberduck.UnitTesting/Rubberduck.UnitTesting.csproj
  Rubberduck.UnitTesting/UnitTesting/AssertCompletedEventArgs.cs
  Rubberduck.UnitTesting/UnitTesting/AssertHandler.cs
  Rubberduck.UnitTesting/UnitTesting/IFakes.cs
  Rubberduck.UnitTesting/UnitTesting/ITestEngine.cs
  Rubberduck.UnitTesting/UnitTesting/PermissiveObjectComparer.cs
  Rubberduck.UnitTesting/UnitTesting/ProjectTestExtensions.cs
  Rubberduck.UnitTesting/UnitTesting/ReturnTypeConverter.cs
  Rubberduck.UnitTesting/UnitTesting/TestCategory.cs
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
  Rubberduck.UnitTesting/UnitTesting/TestMethod.cs
  Rubberduck.UnitTesting/UnitTesting/TestOutcome.cs
  Rubberduck.UnitTesting/UnitTesting/TestResult.cs
  Rubberduck.UnitTesting/UnitTesting/UnitTestUtils.cs
  Rubberduck.UnitTesting/packages.config
  Rubberduck.sln
  RubberduckTests/CodeExplorer/CodeExplorerTests.cs
  RubberduckTests/RubberduckTests.csproj
  RubberduckTests/UnitTesting/ViewModelTests.cs
Due: ui

Cleanup, Juggling members around a bit
  Rubberduck.Core/UI/Command/RunAllTestsCommand.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerModel.cs
  Rubberduck.Core/UI/UnitTesting/ViewModels/TestMethodViewModel.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/Fakes/DoEvents.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/Fakes/MsgBox.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/Fakes/Shell.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/Fakes/Timer.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/PermissiveAssertClass.cs
  Rubberduck.UnitTesting/ComClientHelpers/PermissiveObjectComparer.cs
  Rubberduck.UnitTesting/ComClientHelpers/ReturnTypeConverter.cs
  Rubberduck.UnitTesting/ProjectTestExtensions.cs
  Rubberduck.UnitTesting/Rubberduck.UnitTesting.csproj
  Rubberduck.UnitTesting/UnitTesting/ITestEngine.cs
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
  Rubberduck.UnitTesting/UnitTesting/TestMethod.cs
  Rubberduck.UnitTesting/UnitTesting/TestResult.cs
Due: ui

Drop unnused _vbe field from TestMethod
  Rubberduck.UnitTesting/UnitTesting/TestMethod.cs
Due: none

Expose setters on CodeExplorer CommandProperties to actually inject them
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerViewModel.cs
Due: none

Pass data with TestCompleted event raising
  Rubberduck.Core/UI/UnitTesting/TestExplorerModel.cs
  Rubberduck.UnitTesting/UnitTesting/ITestEngine.cs
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
Due: ui

Update UnitTests with correct command wiring
  RubberduckTests/CodeExplorer/CodeExplorerTests.cs
Due: none

Rename UnitTestingUtils to TestDiscovery
  Rubberduck.Core/UI/UnitTesting/TestExplorerModel.cs
  Rubberduck.Resources/UnitTesting/AssertMessages.Designer.cs
  Rubberduck.Resources/UnitTesting/AssertMessages.resx
  Rubberduck.UnitTesting/Rubberduck.UnitTesting.csproj
  Rubberduck.UnitTesting/UnitTesting/TestDiscovery.cs
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
  RubberduckTests/UnitTesting/DiscoveryTests.cs
Due: ui

Mark duplicated code as Obsolete to get a warning for later fixing
  Rubberduck.Core/UI/UnitTesting/Commands/AddTestMethodCommand.cs
  Rubberduck.Core/UI/UnitTesting/Commands/AddTestMethodExpectedErrorCommand.cs
Due: ui

Delineate TestExplorerModel responsibilities away from dealing with parserState
  Rubberduck.Core/UI/Command/RunAllTestsCommand.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerModel.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerViewModel.cs
  Rubberduck.UnitTesting/UnitTesting/ITestEngine.cs
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
Due: ui

Path conditions:
  ui: any of: Rubberduck.Core/UI, but not: Rubberduck.VBEEditor, RubberduckTests
  inspections: any of: Rubberduck.Inspections, but not: Rubberduck.VBEEditor, RubberduckTests
  tools: any of: Rubberduck.SourceControl, Rubberduck.SmartIndenter, Rubberduck.RegexAssistant, but not: Rubberduck.VBEEditor, RubberduckTests
