Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

Simplify targetClass retrieval in ImplementInterfaceCommand
  Rubberduck.Core/UI/Command/Refactorings/RefactorImplementInterfaceCommand.cs
  Rubberduck.Core/UnitTesting/ProjectTestExtensions.cs
Due: ui

Stop prematurely disposing of Project in AddTestModuleCommand, see #3877
  Rubberduck.Core/UI/Command/AddTestModuleCommand.cs
Due: ui

Correct filtering behaviour in CodeInspection Settings
  Rubberduck.Core/UI/RubberduckUI.Designer.cs
  Rubberduck.Core/UI/RubberduckUI.resx
  Rubberduck.Core/UI/Settings/InspectionSettings.xaml
  Rubberduck.Core/UI/Settings/InspectionSettingsViewModel.cs
Due: ui

Replace ExecutingAssembly assumptions with EntryAssembly assumptions,
  Rubberduck.Core/UnitTesting/ProjectTestExtensions.cs
Due: none

Make UnitTest tests assume LateBinding
  RubberduckTests/Commands/UnitTestCommandTests.cs
Due: none

Set up MessageBox Mock without verifying it to fix MoveCloser test fluking
  RubberduckTests/Refactoring/MoveCloserToUsageTests.cs
Due: none

Use Lexer for symbol values
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UCIParseTreeValueVisitor.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UCIRangeClauseFilter.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UCIValueExpressionEvaluator.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UCIValueResults.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspectionSelectStmt.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Removed unused method
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UCIValueResults.cs
Due: inspections

Resolving comments
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UCIParseTreeValueVisitor.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspectionRange.cs
  Rubberduck.Parsing/ParserRuleContextExtensions.cs
Due: inspections

Removed unused/redundant PRCExtension methods
  Rubberduck.Parsing/ParserRuleContextExtensions.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: none

New names for everyone!
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ContextWrapperBase.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeExpressionEvaluator.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValue.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueConverter.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueFactory.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueVisitor.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueVisitorFactory.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeVisitorResults.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseContextWrapper.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseContextWrapperFactory.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseFilter.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseFilterFactory.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/SelectCaseStmtContextWrapper.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/SelectCaseStmtContextWrapperFactory.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UCIParseTreeValueVisitorFactory.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UCIValueFactory.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspection.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspectionContext.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspectionFactoryFactory.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspectionFactoryProvider.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspectionRangeFactory.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspectionSelectStmtFactory.cs
  Rubberduck.Inspections/Rubberduck.Inspections.csproj
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Eliminated converter class
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValue.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueConverter.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueFactory.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseFilter.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseFilterFactory.cs
  Rubberduck.Inspections/Rubberduck.Inspections.csproj
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Added Eqv and Imp operator support
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ContextWrapperBase.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeExpressionEvaluator.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseContextWrapper.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseFilter.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/SelectCaseStmtContextWrapper.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspection.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspectionFactoryProvider.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Added Integer Division
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeExpressionEvaluator.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Addressing comments
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeExpressionEvaluator.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueVisitor.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseContextWrapper.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseFilter.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseFilterFactory.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Removed app.config and ref in RD.Deployment.csproj
  Rubberduck.Deployment/Rubberduck.Deployment.csproj
  Rubberduck.Deployment/app.config
Due: none

Setup messageBox Mock Show
  RubberduckTests/Refactoring/MoveCloserToUsageTests.cs
Due: none

Thanks Wayne!
  Rubberduck.Core/UI/About/AboutControl.xaml
Due: ui

Update README.md
  README.md
Due: none

redo message-box setup
  RubberduckTests/Refactoring/MoveCloserToUsageTests.cs
Due: none

Update Font for filtering label
  Rubberduck.Core/UI/Settings/InspectionSettings.xaml
Due: ui

Strengthened value resolution code
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueVisitor.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/SelectCaseStmtContextWrapper.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

some cleanup
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueVisitor.cs
Due: inspections

Remove user settings deletion
  Rubberduck.Deployment/InnoSetup/Installer Build Script.iss
Due: none

Revert the changes made - we don't need the assembly at all....
  Rubberduck.API/API/VBA/ParserState.cs
  Rubberduck.Core/App.cs
  Rubberduck.Main/Extension.cs
  Rubberduck.VBEEditor/Utility/UiContext.cs
Due: none

Remove a unneeded using statement
  Rubberduck.Core/App.cs
Due: none

Refit the EnsureReferenceToAddInLibrary to use registry lookup instead of playing Assembly circus
  Rubberduck.Core/UnitTesting/ProjectTestExtensions.cs
Due: none

Add abort logic
  Rubberduck.Core/UnitTesting/ProjectTestExtensions.cs
  Rubberduck.Core/UnitTesting/TestEngine.cs
Due: none

Fix the sily bug due to CreateObject being treated as a variable because we didn't include the standard library.... Heisenbug!
  RubberduckTests/Refactoring/MoveCloserToUsageTests.cs
Due: none

Add a new IsError function to ParseProgressEventArgs to simplify the check for error state.
  Rubberduck.Core/UnitTesting/TestEngine.cs
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
Due: none

Proposed fixes to french translation
  RetailCoder.VBE/UI/RubberduckUI.fr.resx
Due: none

Fix move closer UT again... using `Single` instead of `First` maybe that'll make AppVeyor happy?
  RubberduckTests/Refactoring/MoveCloserToUsageTests.cs
Due: none

Fixes for SheetAccessedUsingString inspection after code review
  Rubberduck.Inspections/Concrete/SheetAccessedUsingStringInspection.cs
  Rubberduck.Inspections/Inspector.cs
  Rubberduck.Inspections/QuickFixes/AccessSheetUsingCodeNameQuickFix.cs
  RubberduckTests/Inspections/SheetAccessedUsingStringInspectionTests.cs
  RubberduckTests/Mocks/MockProjectBuilder.cs
  RubberduckTests/QuickFixes/AccessSheetUsingCodeNameQuickFixTests.cs
Due: inspections

Removed redundant null check + whitespace cleanup in tests
  Rubberduck.Inspections/Concrete/SheetAccessedUsingStringInspection.cs
  RubberduckTests/Inspections/SheetAccessedUsingStringInspectionTests.cs
  RubberduckTests/QuickFixes/AccessSheetUsingCodeNameQuickFixTests.cs
Due: inspections

Addressed some comments
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeExpressionEvaluator.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueVisitor.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseFilter.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/SelectCaseStmtContextWrapper.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspection.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Fix the scope problem in the skipped resolver tests; ensuring that smaller scope takes priority over the enclosing procedure.
  Rubberduck.Parsing/Symbols/DeclarationFinder.cs
  RubberduckTests/Symbols/DeclarationFinderTests.cs
Due: none

German i18n adjustments for Release 2.2.0
  Rubberduck.Core/UI/RubberduckUI.de.resx
  Rubberduck.Parsing/Inspections/Resources/InspectionsUI.de.resx
Due: ui

Add failing RefEdit tests (ignored for PR review)
  RubberduckTests/Symbols/DeclarationFinderTests.cs
Due: none

Add German translation to Installer
  Rubberduck.Deployment/InnoSetup/Includes/German.CustomMessages.iss
  Rubberduck.Deployment/InnoSetup/Installer Build Script.iss
Due: none

Path conditions:
  ui: any of: Rubberduck.Core/UI, but not: Rubberduck.VBEEditor, RubberduckTests
  inspections: any of: Rubberduck.Inspections, but not: Rubberduck.VBEEditor, RubberduckTests
  tools: any of: Rubberduck.SourceControl, Rubberduck.SmartIndenter, Rubberduck.RegexAssistant, but not: Rubberduck.VBEEditor, RubberduckTests
