Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

implemented CodeString.SnippetPosition and CodeStringPrettifier
  Rubberduck.Core/AutoComplete/SelfClosingPairCompletion/CodeStringPrettifier.cs
  Rubberduck.Core/AutoComplete/SelfClosingPairCompletion/ICodeStringPrettifier.cs
  Rubberduck.Core/AutoComplete/SelfClosingPairCompletion/SelfClosingPairCompletionService.cs
  Rubberduck.Core/Common/CodeString.cs
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.VBEEditor/Selection.cs
  RubberduckTests/AutoComplete/CodeStringTests.cs
  RubberduckTests/AutoComplete/SelfClosingPairCompletionTests.cs
Due: none

add failing tests for #3981
  Rubberduck.SmartIndenter/AlignmentToken.cs
  Rubberduck.SmartIndenter/LogicalCodeLine.cs
  RubberduckTests/SmartIndenter/LineContinuationTests.cs
Due: tools

Redesign of MockIoC to support mocking of dialogs & views.
  Rubberduck.Core/UI/Refactorings/EncapsulateField/EncapsulateFieldPresenter.cs
  Rubberduck.Core/UI/Refactorings/ExtractInterface/ExtractInterfacePresenter.cs
  Rubberduck.Core/UI/Refactorings/IRefactoringDialogFactory.cs
  Rubberduck.Core/UI/Refactorings/RefactoringPresenterBase.cs
  Rubberduck.Core/UI/Refactorings/RefactoringViewModelBase.cs
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersPresenter.cs
  Rubberduck.Core/UI/Refactorings/Rename/RenamePresenter.cs
  Rubberduck.Core/UI/Refactorings/ReorderParameters/ReorderParametersPresenter.cs
  Rubberduck.Refactorings/Rename/RenameRefactoring.cs
  RubberduckTests/Properties/AssemblyInfo.cs
  RubberduckTests/Refactoring/MockIoC/AutoMoqResolver.cs
  RubberduckTests/Refactoring/MockIoC/MockRefactoringContainer.cs
  RubberduckTests/Refactoring/MockIoC/MockRefactoringContainerTests.cs
  RubberduckTests/Refactoring/MockIoC/RefactoringDialogStub.cs
  RubberduckTests/Refactoring/MockIoC/RefactoringViewStub.cs
  RubberduckTests/Refactoring/RenameTests.cs
Due: ui

Remove some dead code, add needed comments and update references.
  RubberduckTests/Properties/AssemblyInfo.cs
  RubberduckTests/Refactoring/MockIoC/MockRefactoringContainer.cs
  RubberduckTests/Refactoring/MockIoC/MockRefactoringContainerTests.cs
  RubberduckTests/Refactoring/MockIoC/RefactoringDialogStub.cs
Due: none

A bit of tuple deconstruction in thee ComponentParseTask
  Rubberduck.Parsing/VBA/ComponentParseTask.cs
Due: none

Pushed acquiring the user defined compilation constants to the start of the parsing process and added reparsing of projects with compilation constant that changed since the last successful parse.
  Rubberduck.API/VBA/Parser.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.Parsing/Preprocessing/CompilationArgumentsCache.cs
  Rubberduck.Parsing/Preprocessing/CompilationArgumentsProvider.cs
  Rubberduck.Parsing/Preprocessing/ICompilationArgumentsCache.cs
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  Rubberduck.Parsing/Symbols/DeclarationFinder.cs
  Rubberduck.Parsing/VBA/IParsingCacheService.cs
  Rubberduck.Parsing/VBA/IProjectManager.cs
  Rubberduck.Parsing/VBA/ParseCoordinator.cs
  Rubberduck.Parsing/VBA/ParsingCacheService.cs
  Rubberduck.Parsing/VBA/RepositoryProjectManager.cs
  Rubberduck.Parsing/VBA/StateProjectManager.cs
  Rubberduck.Parsing/VBA/StateProjectManagerBase.cs
  Rubberduck.Parsing/VBA/SynchronousStateProjectManager.cs
  Rubberduck.VBEEditor/Extensions/DictionaryExtensions.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
  RubberduckTests/Mocks/MockParser.cs
Due: none

Pushed acquiring the attributes code out of the AttributesParser and adjusted the IoC installer so that RD can be wired up again.
  Rubberduck.API/VBA/Parser.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.Parsing/VBA/AttributeParser.cs
  Rubberduck.Parsing/VBA/ComponentParseTask.cs
  Rubberduck.Parsing/VBA/IAttributeParser.cs
  RubberduckTests/Mocks/MockParser.cs
  RubberduckTests/Mocks/TestAttributeParser.cs
Due: none

Fixed tests, moved commandbar locations to AddIn
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB/Abstract/IAddIn.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB/Abstract/IVBE.cs
  Rubberduck.VBEditor.VB6/SafeComWrappers/VB/AddIn.cs
  Rubberduck.VBEditor.VB6/SafeComWrappers/VB/VBE.cs
  Rubberduck.VBEditor.VBA/SafeComWrappers/VB/AddIn.cs
  Rubberduck.VBEditor.VBA/SafeComWrappers/VB/VBE.cs
  RubberduckTests/IoCContainer/IoCRegistrationTests.cs
  RubberduckTests/Mocks/MockAddinBuilder.cs
  RubberduckTests/Mocks/MockVbeBuilder.cs
  RubberduckTests/RubberduckTests.csproj
Due: none

Track nesting depth, fix incorrect test not ignoring operators. Closes #3981
  Rubberduck.SmartIndenter/LogicalCodeLine.cs
  RubberduckTests/SmartIndenter/LineContinuationTests.cs
Due: tools

Handle special case `Else:`, closes #3943
  Rubberduck.SmartIndenter/AbsoluteCodeLine.cs
  RubberduckTests/SmartIndenter/MiscAndCornerCaseTests.cs
Due: tools

Fixed unit test for the IoC registration.
  RubberduckTests/IoCContainer/IoCRegistrationTests.cs
  RubberduckTests/IoCContainer/IoCResolvingTests.cs
Due: none

Changed ParsePass to CodeKind and added SnippetCode; restructured the parse error listener and syntax exception hierarchy.
  Rubberduck.CodeAnalysis/Inspections/Abstract/ParseTreeInspectionBase.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/MissingAnnotationArgumentInspection.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/MissingAttributeInspection.cs
  Rubberduck.CodeAnalysis/Inspections/Inspector.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.Parsing/Inspections/Abstract/IParseTreeInspection.cs
  Rubberduck.Parsing/Preprocessing/VBAPrecompilationParser.cs
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  Rubberduck.Parsing/Symbols/ParsingExceptions/ExceptionErrorListener.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/ExceptionErrorListenerFactory.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/IParsePassErrorListenerFactory.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/IRubberduckParseErrorListener.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/IRubberduckParserErrorListenerFactory.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/MainParseErrorListenerFactory.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/MainParseExceptionErrorListener.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/MainParseSyntaxErrorException.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/ParsePassErrorListenerBase.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/ParsePassExceptionErrorListener.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/ParsePassSyntaxErrorException.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/ParsePassSyntaxErrorInfo.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/PreprocessingParseErrorListenerFactory.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/PreprocessorExceptionErrorListener.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/PreprosessorSyntaxErrorException.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/RubberduckParseErrorListenerBase.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/SyntaxErrorException.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/SyntaxErrorInfo.cs
  Rubberduck.Parsing/Symbols/ParsingExceptions/SyntaxErrorNotificationListener.cs
  Rubberduck.Parsing/VBA/AttributeParser.cs
  Rubberduck.Parsing/VBA/CodeKind.cs
  Rubberduck.Parsing/VBA/ComponentParseTask.cs
  Rubberduck.Parsing/VBA/IParseTreeProvider.cs
  Rubberduck.Parsing/VBA/ModuleState.cs
  Rubberduck.Parsing/VBA/ParsePass.cs
  Rubberduck.Parsing/VBA/ParseRunnerBase.cs
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
  Rubberduck.Parsing/VBA/VBACodeStringParser.cs
  Rubberduck.Parsing/VBA/VBADateLiteralParser.cs
  Rubberduck.Parsing/VBA/VBAModuleParser.cs
  RubberduckTests/Mocks/TestAttributeParser.cs
  RubberduckTests/Parsing/VBACodeStringParserTests.cs
Due: none

Reorganised how the internals of the parser setup.
  Rubberduck.API/VBA/Parser.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.Parsing/Preprocessing/ITokenStreamPreprocessor.cs
  Rubberduck.Parsing/Preprocessing/IVBAPreprocessor.cs
  Rubberduck.Parsing/Preprocessing/VBAPreprocessor.cs
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  Rubberduck.Parsing/VBA/AttributeParser.cs
  Rubberduck.Parsing/VBA/ComponentParseTask.cs
  Rubberduck.Parsing/VBA/IAttributeParser.cs
  Rubberduck.Parsing/VBA/ParseRunner.cs
  Rubberduck.Parsing/VBA/ParseRunnerBase.cs
  Rubberduck.Parsing/VBA/Parsing/ICommonTokenStreamProvider.cs
  Rubberduck.Parsing/VBA/Parsing/IStringParser.cs
  Rubberduck.Parsing/VBA/Parsing/ITokenStreamParser.cs
  Rubberduck.Parsing/VBA/Parsing/ParserMode.cs
  Rubberduck.Parsing/VBA/Parsing/TokenStreamParserBase.cs
  Rubberduck.Parsing/VBA/Parsing/TokenStreamParserStringParserAdapter.cs
  Rubberduck.Parsing/VBA/Parsing/TokenStreamParserStringParserAdapterWithPreprocessing.cs
  Rubberduck.Parsing/VBA/Parsing/VBAPreprocessorParser.cs
  Rubberduck.Parsing/VBA/Parsing/VBATokenStreamParser.cs
  Rubberduck.Parsing/VBA/SimpleVBAModuleTokenStreamProvider.cs
  Rubberduck.Parsing/VBA/SynchronousParseRunner.cs
  RubberduckTests/Mocks/MockParser.cs
  RubberduckTests/Mocks/MockVbeBuilder.cs
  RubberduckTests/Mocks/TestAttributeParser.cs
  RubberduckTests/RubberduckTests.csproj
Due: none

Simplify method signature.
  Rubberduck.Core/UI/Inspections/InspectionResultsViewModel.cs
Due: ui

Consolidate filter logic into single method
  Rubberduck.Core/UI/Inspections/InspectionResultsViewModel.cs
Due: ui

Use styles for height and width of Icons and add funnel icon.
  Rubberduck.Core/UI/Inspections/InspectionResultsControl.xaml
  Rubberduck.Resources/Icons/Fugue/Funnel.png
  Rubberduck.Resources/Rubberduck.Resources.csproj
Due: ui

Pushed the predefined compilation constants from the VBAPreprocessor to the ICompilationArgumentsProvider and made them defined as the shorts they are.
  Rubberduck.API/VBA/Parser.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.Parsing/Preprocessing/CompilationArgumentsCache.cs
  Rubberduck.Parsing/Preprocessing/CompilationArgumentsProvider.cs
  Rubberduck.Parsing/Preprocessing/ICompilationArgumentsProvider.cs
  Rubberduck.Parsing/Preprocessing/VBAPredefinedCompilationConstants.cs
  Rubberduck.Parsing/Preprocessing/VBAPreprocessor.cs
  Rubberduck.Parsing/Preprocessing/VBAPreprocessorVisitor.cs
  Rubberduck.Parsing/VBA/ParsingCacheService.cs
  RubberduckTests/Mocks/MockParser.cs
Due: none

Removed the events construct around the Component parse task and turned it into an IModuleParser.
  Rubberduck.API/VBA/Parser.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  Rubberduck.Parsing/VBA/Parsing/ComponentParseTask.cs
  Rubberduck.Parsing/VBA/Parsing/IModuleParser.cs
  Rubberduck.Parsing/VBA/Parsing/ModuleParser.cs
  Rubberduck.Parsing/VBA/Parsing/ParseRunner.cs
  Rubberduck.Parsing/VBA/Parsing/ParseRunnerBase.cs
  Rubberduck.Parsing/VBA/Parsing/SynchronousParseRunner.cs
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
  RubberduckTests/Mocks/MockParser.cs
Due: none

Actually throw the postponed parse exception.
  Rubberduck.Parsing/VBA/Parsing/TokenStreamParserBase.cs
Due: none

Correction of comment in VBAPredefinedCompilationConstants
  Rubberduck.Parsing/Preprocessing/VBAPredefinedCompilationConstants.cs
Due: none

Change icon to be Resource
  Rubberduck.Resources/Rubberduck.Resources.csproj
Due: none

Added unit tests for CompilationArgumentsCache.
  RubberduckTests/Preprocessing/CompilationArgumentsCahceTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: none

adjust spacing before first procedure, adjust tests to meet new assumption. closes #3942
  Rubberduck.SmartIndenter/Indenter.cs
  Rubberduck.SmartIndenter/LogicalCodeLine.cs
  RubberduckTests/Commands/IndentCommandTests.cs
  RubberduckTests/SmartIndenter/EndOfLineCommentTests.cs
  RubberduckTests/SmartIndenter/MiscAndCornerCaseTests.cs
  RubberduckTests/SmartIndenter/VerticalSpacingTests.cs
Due: tools

ObsoleteAnnotation parameter will serve as documentation
  Rubberduck.CodeAnalysis/Inspections/Concrete/ObsoleteMemberUsageInspection.cs
  Rubberduck.Parsing/Annotations/ObsoleteAnnotation.cs
  Rubberduck.Resources/Inspections/InspectionInfo.Designer.cs
  Rubberduck.Resources/Inspections/InspectionInfo.resx
  Rubberduck.Resources/Inspections/InspectionResults.Designer.cs
  Rubberduck.Resources/Inspections/InspectionResults.resx
  RubberduckTests/Inspections/ObsoleteMemberUsageInspectionTests.cs
Due: none

Test fix
  RubberduckTests/Grammar/AnnotationTests.cs
Due: none

Cleaned up namespace, demagicked numbers
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.VBEEditor/CommandBarLocation.cs
  Rubberduck.VBEEditor/CommandBarSite.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
  Rubberduck.VBEEditor/SafeComWrappers/VB/Abstract/IAddIn.cs
  Rubberduck.VBEditor.VB6/SafeComWrappers/VB/AddIn.cs
  Rubberduck.VBEditor.VBA/SafeComWrappers/VB/AddIn.cs
  RubberduckTests/IoCContainer/IoCRegistrationTests.cs
  RubberduckTests/Mocks/MockAddinBuilder.cs
Due: none

Styling of obsolete members in Code Explorer
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerMemberViewModel.cs
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerControl.xaml
Due: ui

Add support for different debug and stop statements to force to column one. Closes #4005
  Rubberduck.Core/UI/Settings/IndenterSettings.xaml
  Rubberduck.Core/UI/Settings/IndenterSettingsViewModel.cs
  Rubberduck.SmartIndenter/AbsoluteCodeLine.cs
  Rubberduck.SmartIndenter/IIndenterSettings.cs
  Rubberduck.SmartIndenter/IndenterConfigProvider.cs
  Rubberduck.SmartIndenter/IndenterSettings.cs
  RubberduckTests/Settings/IndenterSettingsTests.cs
  RubberduckTests/SmartIndenter/SpecificSettingTests.cs
Due: ui, tools

Fix incorrect duplicate resolution of fields in structs, update effected serializations.
  Rubberduck.Parsing/ComReflection/ReferencedDeclarationsCollector.cs
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  RubberduckTests/Testfiles/Resolver/MSXML2.6.0.xml
  RubberduckTests/Testfiles/Resolver/stdole.2.0.xml
Due: none

Refactored the typeLibAPI files stylistically and stuffed some leaks.
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeInfos.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibs.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibsAPI.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibsSupport.cs
  Rubberduck.VBEditor.VB6/SafeComWrappers/VB/VBComponent.cs
  Rubberduck.VBEditor.VBA/SafeComWrappers/VB/VBComponent.cs
Due: none

Introduced the ITypeLibProvider.
  Rubberduck.API/VBA/Parser.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.Parsing/Preprocessing/CompilationArgumentsProvider.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/ITypeLibWrapperProvider.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibWrapperProvider.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
Due: none

Extracted ITypeLibWrapper interface out of TypeLibWrapper and made the provider return this in order to facilitate unit testing of features using the typeLibApi.
  Rubberduck.VBEEditor/ComManagement/TypeLibs/ITypeLibWrapper.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/ITypeLibWrapperProvider.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibWrapperProvider.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibs.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
Due: none

Reverted one refactoring on the TypeInfos making things even more confusing.
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeInfos.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibsSupport.cs
Due: none

Add support for allowing empty lines in first dim\comment blocks. Closes #3314:
  Rubberduck.Core/UI/Settings/IndenterSettings.xaml
  Rubberduck.Core/UI/Settings/IndenterSettingsViewModel.cs
  Rubberduck.Resources/RubberduckUI.Designer.cs
  Rubberduck.Resources/RubberduckUI.resx
  Rubberduck.SmartIndenter/IIndenter.cs
  Rubberduck.SmartIndenter/IIndenterSettings.cs
  Rubberduck.SmartIndenter/Indenter.cs
  Rubberduck.SmartIndenter/IndenterSettings.cs
  RubberduckTests/Settings/IndenterSettingsTests.cs
  RubberduckTests/SmartIndenter/SpecificSettingTests.cs
Due: ui, tools

Use original fugue icon
  Rubberduck.Resources/Icons/Fugue/Funnel.png
Due: none

Ignore now failing tests due to default member resolution. See #4037.
  RubberduckTests/Inspections/ObjectVariableNotSetInspectionTests.cs
Due: none

Path conditions:
  ui: any of: Rubberduck.Core/UI, but not: Rubberduck.VBEEditor, RubberduckTests
  inspections: any of: Rubberduck.Inspections, but not: Rubberduck.VBEEditor, RubberduckTests
  tools: any of: Rubberduck.SourceControl, Rubberduck.SmartIndenter, Rubberduck.RegexAssistant, but not: Rubberduck.VBEEditor, RubberduckTests
