Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

codecov.yml:

codecov:
  branch: next
  ci:
    - appveyor
  max_report_age: off
  
ignore:
  # as requested by MDoerner, because they aren't really testable
  - Rubberduck.VBEEditor
  # it makes no sense to track coverage on unit-tests
  - RubberduckTests
    
coverage:
  round: nearest
  precision: 2
  range: 40..80 
  status:
    # don't check patch coverage
    patch: off
    project:
      default:
        target: 0 # don't force a minimum coverage
        # allow decrease by up to 5 %
        threshold: 5
        base: auto
  
comment:
  layout: "flags, diff, files"
  behavior: once
  require_changes: yes

flags:
  core:
    paths:
      - Rubberduck.Parsing
      - Rubberduck.Core
      # Exclude UI from the core flag, that has a separate flag
      - !Rubberduck.Core/UI 
  ui:
    paths:
      - Rubberduck.Core/UI
  inspections:
    paths:
      - Rubberduck.Inspections
  tools:
     paths:
       - Rubberduck.SourceControl
       - Rubberduck.SmartIndenter
       - Rubberduck.RegexAssistant

Ignore implicit sets in For Each statements. Addresses #4294
  Rubberduck.CodeAnalysis/Inspections/Concrete/VariableRequiresSetAssignmentEvaluator.cs
Due: none

Fix stack overflow during initialization
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
Due: none

Persist all settings and add tests. ref #4317, closes #4301
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.Core/UI/Settings/AutoCompleteSettingsViewModel.cs
  RubberduckTests/Settings/AutoCompleteSettingsTests.cs
Due: ui

Insert annotation after existing comment that isn't an annotation - closes #4320
  Rubberduck.CodeAnalysis/QuickFixes/IgnoreOnceQuickFix.cs
  RubberduckTests/QuickFixes/IgnoreOnceQuickFixTests.cs
Due: none

Fixed wrong order of parsing modes in fall back parsing mode
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.Parsing/VBA/Parsing/TokenStreamParserBase.cs
Due: none

Add Czech to languages available in settings
  Rubberduck.Core/UI/Settings/GeneralSettingsViewModel.cs
  Rubberduck.Resources/RubberduckUI.Designer.cs
  Rubberduck.Resources/RubberduckUI.resx
Due: ui

Inspection message edit
  Rubberduck.Resources/Inspections/InspectionResults.Designer.cs
  Rubberduck.Resources/Inspections/InspectionResults.resx
Due: none

Encapsulate mismatch check during parse
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/OperatorTypesProvider.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ParseTreeExpressionEvaluator.cs
Due: none

Property name change
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/LetCoercer.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ParseTreeValue.cs
Due: none

Simplify overflow detection during parse
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueFactory.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/TokenTypeResolver.cs
Due: none

Added ParsingStageTimer and used it to time the main parsing stages
  Rubberduck.Parsing/Common/ParsingStageTimer.cs
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  Rubberduck.Parsing/VBA/ComReferenceLoading/COMReferenceSynchronizerBase.cs
  Rubberduck.Parsing/VBA/DeclarationResolving/DeclarationResolveRunner.cs
  Rubberduck.Parsing/VBA/Parsing/ParseRunner.cs
  Rubberduck.Parsing/VBA/ReferenceManagement/ReferenceResolveRunnerBase.cs
Due: none

Improved event \ message firehoses
  Rubberduck.VBEEditor/Events/VBENativeServices.cs
  Rubberduck.VBEEditor/WindowsApi/DesignerWindowSubclass.cs
  Rubberduck.VBEEditor/WindowsApi/SubclassingWindow.cs
  Rubberduck.VBEEditor/WindowsApi/WM.cs
  Rubberduck.VBEEditor/WindowsApi/WinEvent.cs
Due: none

Added tests for TokenStreamParserBase
  Rubberduck.Parsing/VBA/Parsing/TokenStreamParserBase.cs
  RubberduckTests/Parsing/Coordination/TokenStreamParserTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: none

Added PSET, SCALE and CIRCLE tokens to the statementKeyword parser rule
  Rubberduck.Parsing/Grammar/VBAParser.g4
  RubberduckTests/Grammar/VBAParserTests.cs
Due: none

Adapted tests for circleSpecialForm to not test the most evil version
  RubberduckTests/Grammar/VBAParserTests.cs
Due: none

Closes #4305
  Rubberduck.Core/CodeAnalysis/CodeMetrics/CodeMetricsViewModel.cs
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerItemViewModel.cs
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerProjectViewModel.cs
  Rubberduck.Core/Navigation/CodeExplorer/CodeExplorerViewModel.cs
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerControl.xaml
  Rubberduck.Core/UI/CodeExplorer/Commands/AddComponentCommand.cs
  Rubberduck.Core/UI/CodeExplorer/Commands/AddMDIFormCommand.cs
  Rubberduck.Core/UI/CodeExplorer/Commands/SetAsStartupProjectCommand.cs
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.Designer.cs
  Rubberduck.Resources/CodeExplorer/CodeExplorerUI.resx
  Rubberduck.VBEEditor/SafeComWrappers/VB/Abstract/IVBProjects.cs
  Rubberduck.VBEditor.VB6/SafeComWrappers/VB/VBProject.cs
  Rubberduck.VBEditor.VB6/SafeComWrappers/VB/VBProjects.cs
  Rubberduck.VBEditor.VBA/SafeComWrappers/VB/VBProjects.cs
Due: ui

Clenaup and indendation reduction
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerControl.xaml
  Rubberduck.Core/UI/CodeExplorer/Commands/AddComponentCommand.cs
  Rubberduck.Core/UI/CodeExplorer/Commands/AddMDIFormCommand.cs
  Rubberduck.VBEditor.VB6/SafeComWrappers/VB/VBProject.cs
Due: ui

Update 'Private' icons so they are more distinct
  RetailCoder.VBE/Resources/Custom/PNG/MdiForm.png
  RetailCoder.VBE/Resources/Custom/PNG/ObjectClassPrivate.png
  RetailCoder.VBE/Resources/Custom/PNG/ObjectConstantPrivate.png
  RetailCoder.VBE/Resources/Custom/PNG/ObjectEnumItemPrivate.png
  RetailCoder.VBE/Resources/Custom/PNG/ObjectEnumPrivate.png
  RetailCoder.VBE/Resources/Custom/PNG/ObjectEventPrivate.png
  RetailCoder.VBE/Resources/Custom/PNG/ObjectFieldPrivate.png
  RetailCoder.VBE/Resources/Custom/PNG/ObjectMethodPrivate.png
  RetailCoder.VBE/Resources/Custom/PNG/ObjectModulePrivate.png
  RetailCoder.VBE/Resources/Custom/PNG/ObjectPropertiesPrivate.png
  RetailCoder.VBE/Resources/Custom/PNG/ObjectStructurePrivate.png
  RetailCoder.VBE/Resources/Custom/PNG/ObjectTypePrivate.png
  RetailCoder.VBE/Resources/Custom/PNG/ObjectValueTypePrivate.png
Due: none

Reverted circleSpecialForm parser rule change and ordering in mainBlockStmt
  Rubberduck.Parsing/Grammar/VBAParser.g4
Due: none

Fix test for assignments inside For Each statements
  Rubberduck.CodeAnalysis/Inspections/Concrete/VariableRequiresSetAssignmentEvaluator.cs
  RubberduckTests/Inspections/ObjectVariableNotSetInspectionTests.cs
Due: none

Added TypeTokenPair struct
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ExpressionFilter.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/LetCoerce.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/LetCoercer.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ParseTreeExpressionEvaluator.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ParseTreeValue.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueFactory.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/TokenTypeResolver.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/TypeTokenPair.cs
  Rubberduck.CodeAnalysis/Rubberduck.CodeAnalysis.csproj
  RubberduckTests/Inspections/UnreachableCase/ExpressionFilterUnitTests.cs
  RubberduckTests/Inspections/UnreachableCase/ParseTreeValueUnitTests.cs
Due: none

Misc cleanup, renaming
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ParseTreeValue.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueFactory.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/UnreachableCaseInspection/TypeTokenPair.cs
Due: none

Sort out keys and chars. Should close #4293
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.VBEEditor/Events/AutoCompleteEventArgs.cs
  Rubberduck.VBEEditor/Events/KeyPressEventArgs.cs
  Rubberduck.VBEEditor/WindowsApi/CodePaneSubclass.cs
Due: none

Fix Keys handling (not flags, H-L masked)
  Rubberduck.VBEEditor/Events/KeyPressEventArgs.cs
Due: none

review comments from PR#4145
  Rubberduck.Parsing/Binding/Bindings/SimpleNameDefaultBinding.cs
  Rubberduck.Parsing/Symbols/ConcurrentlyConstructedDeclarationFinder.cs
  Rubberduck.Parsing/Symbols/DeclarationFinder.cs
  Rubberduck.Parsing/Symbols/ResultVariableDeclaration.cs
  Rubberduck.Resources/Inspections/InspectionResults.Designer.cs
  RubberduckTests/QuickFixes/IntroduceLocalVariableQuickFixTests.cs
Due: none

fixed merge artifacts
  RubberduckCodeAnalysis/Resources.cs.Designer.cs
  RubberduckCodeAnalysis/Resources1.Designer.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.csproj
  RubberduckTestsCodeAnalysis/RubberduckTestsCodeAnalysis.csproj
Due: none

Abstract the actual running out of TestEngine
  Rubberduck.Core/UI/Command/RunAllTestsCommand.cs
  Rubberduck.Core/UI/UnitTesting/Commands/AddTestModuleCommand.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerModel.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerViewModel.cs
  Rubberduck.UnitTesting/Rubberduck.UnitTesting.csproj
  Rubberduck.UnitTesting/UnitTesting/ITestEngine.cs
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
  Rubberduck.UnitTesting/UnitTesting/VBEInteraction.cs
  Rubberduck.UnitTesting/packages.config
  RubberduckTests/UnitTesting/EngineTests.cs
Due: ui

Catch EarlyBinding insurance blowing up
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
Due: none

Make TestEngine more responsible
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/UnitTesting/Commands/RepeatLastRunCommand.cs
  Rubberduck.Core/UI/UnitTesting/Commands/RunFailedTestsCommand.cs
  Rubberduck.Core/UI/UnitTesting/Commands/RunInconclusiveTestsCommand.cs
  Rubberduck.Core/UI/UnitTesting/Commands/RunNotExecutedTestsCommand.cs
  Rubberduck.Core/UI/UnitTesting/Commands/RunSucceededTestsCommand.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerControl.xaml.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerModel.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerViewModel.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerWindow.cs
  Rubberduck.Core/UI/UnitTesting/ViewModels/TestMethodViewModel.cs
  Rubberduck.UnitTesting/UnitTesting/ITestEngine.cs
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
  Rubberduck.UnitTesting/UnitTesting/TestResult.cs
Due: ui

Minor cleanup, Logging for VBEInteraction
  Rubberduck.Core/Properties/AssemblyInfo.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerDockablePresenter.cs
  Rubberduck.UnitTesting/UnitTesting/VBEInteraction.cs
Due: ui

Simplify test grouping in TestEngine
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
Due: none

Mirror TestMethodViewModel changes in TestExplorer XAML
  Rubberduck.Core/UI/UnitTesting/TestExplorerControl.xaml
Due: ui

Shorten access path to TestMethod's QualifiedMemberName
  Rubberduck.Core/UI/UnitTesting/TestExplorerControl.xaml
  Rubberduck.Core/UI/UnitTesting/ViewModels/TestMethodViewModel.cs
Due: ui

Fix IoC not injecting internal commands
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
Due: none

Avoid raising Refresh event when exiting parser suspension
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
Due: none

Update TestEngine i18n and clarify exception responsibilities
  Rubberduck.Resources/UnitTesting/AssertMessages.Designer.cs
  Rubberduck.Resources/UnitTesting/AssertMessages.resx
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
  Rubberduck.UnitTesting/UnitTesting/VBEInteraction.cs
Due: none

Use ParserStateChanged information to determine TestRefreshes
  Rubberduck.UnitTesting/UnitTesting/TestEngine.cs
Due: none

Move Classes into their own Files
  Rubberduck.Core/UI/RegexAssistant/RegexAssistantViewModel.cs
  Rubberduck.RegexAssistant/Atoms/CharacterClass.cs
  Rubberduck.RegexAssistant/Atoms/Group.cs
  Rubberduck.RegexAssistant/Atoms/Literal.cs
  Rubberduck.RegexAssistant/Expressions/AlternativesExpression.cs
  Rubberduck.RegexAssistant/Expressions/ConcatenatedExpression.cs
  Rubberduck.RegexAssistant/Expressions/ErrorExpression.cs
  Rubberduck.RegexAssistant/Expressions/SingleAtomExpression.cs
  Rubberduck.RegexAssistant/IAtom.cs
  Rubberduck.RegexAssistant/IRegularExpression.cs
  Rubberduck.RegexAssistant/Rubberduck.RegexAssistant.csproj
  RubberduckTests/RegexAssistant/CharacterClassTests.cs
  RubberduckTests/RegexAssistant/LiteralTests.cs
  RubberduckTests/RegexAssistant/RegularExpressionTests.cs
Due: ui, tools

Rewrite Regex Parsing as recursive-descent parser
  Rubberduck.RegexAssistant/IRegularExpression.cs
  Rubberduck.RegexAssistant/Pattern.cs
  Rubberduck.RegexAssistant/Rubberduck.RegexAssistant.csproj
  Rubberduck.RegexAssistant/VBRegexParser.cs
  RubberduckTests/RegexAssistant/RegularExpressionTests.cs
Due: tools

Clean up static locals in VBRegexParser
  Rubberduck.RegexAssistant/Atoms/Group.cs
  Rubberduck.RegexAssistant/VBRegexParser.cs
Due: tools
