Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

Remove unneeded using statements.
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/VBComponents.cs
Due: none

Last tweaks
  Rubberduck.Inspections/Concrete/UnreachableCaseInspectionValue.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Removed most uses of QualifiedModuleName.Component.
  RetailCoder.VBE/API/VBA/ParserState.cs
  RetailCoder.VBE/Navigation/CodeExplorer/CodeExplorerItemViewModel.cs
  RetailCoder.VBE/Navigation/CodeExplorer/CodeExplorerViewModel.cs
  RetailCoder.VBE/Refactorings/IntroduceField/IntroduceFieldRefactoring.cs
  RetailCoder.VBE/Refactorings/RemoveParameters/RemoveParametersRefactoring.cs
  RetailCoder.VBE/Refactorings/Rename/RenameRefactoring.cs
  RetailCoder.VBE/UI/CodeExplorer/Commands/IndentCommand.cs
  RetailCoder.VBE/UI/CodeExplorer/Commands/RemoveCommand.cs
  RetailCoder.VBE/UI/CodeExplorer/Commands/UndoCommand.cs
  RetailCoder.VBE/UI/Command/AddTestMethodCommand.cs
  RetailCoder.VBE/UI/Command/AddTestMethodExpectedErrorCommand.cs
  RetailCoder.VBE/UI/Command/CommandBase.cs
  RetailCoder.VBE/UI/Command/FindAllImplementationsCommand.cs
  RetailCoder.VBE/UI/Command/FindAllReferencesCommand.cs
  RetailCoder.VBE/UI/Command/Refactorings/FormDesignerRefactorRenameCommand.cs
  RetailCoder.VBE/UI/ToDoItems/ToDoExplorerViewModel.cs
  RetailCoder.VBE/UnitTesting/UnitTestUtils.cs
  Rubberduck.Inspections/Abstract/InspectionResultBase.cs
  Rubberduck.Inspections/Concrete/ObsoleteCallStatementInspection.cs
  Rubberduck.Inspections/QuickFixes/IgnoreOnceQuickFix.cs
  Rubberduck.Parsing/Symbols/DeclarationSymbolsListener.cs
  Rubberduck.Parsing/VBA/AttributeParser.cs
  Rubberduck.Parsing/VBA/ComponentParseTask.cs
  Rubberduck.Parsing/VBA/DeclarationResolveRunnerBase.cs
  Rubberduck.Parsing/VBA/ParseRunnerBase.cs
  Rubberduck.Parsing/VBA/ReferenceResolveRunnerBase.cs
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
  Rubberduck.VBEEditor/Application/PowerPointApp.cs
  Rubberduck.VBEEditor/Extensions/IDEExtensions.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/VBE.cs
  RubberduckTests/CodeExplorer/CodeExplorerTests.cs
  RubberduckTests/Mocks/MockParser.cs
  RubberduckTests/Mocks/TestAttributeParser.cs
Due: ui, inspections

Removed remaining uses of QualifiedModuleName.Component.
  RetailCoder.VBE/Navigation/CodeExplorer/CodeExplorerComponentViewModel.cs
  RetailCoder.VBE/Navigation/CodeExplorer/CodeExplorerCustomFolderViewModel.cs
  RetailCoder.VBE/Navigation/CodeExplorer/CodeExplorerViewModel.cs
  RetailCoder.VBE/Navigation/Folders/FolderHelper.cs
  RetailCoder.VBE/Refactorings/ImplementInterface/ImplementInterfaceRefactoring.cs
  RetailCoder.VBE/Refactorings/RemoveParameters/RemoveParametersRefactoring.cs
  RetailCoder.VBE/Refactorings/ReorderParameters/ReorderParametersRefactoring.cs
  RetailCoder.VBE/UI/CodeExplorer/Commands/ExportCommand.cs
  RetailCoder.VBE/UI/CodeExplorer/Commands/OpenDesignerCommand.cs
  RetailCoder.VBE/UI/CodeExplorer/Commands/PrintCommand.cs
  RetailCoder.VBE/UI/Command/FindSymbolCommand.cs
  RetailCoder.VBE/UI/Command/NavigateCommand.cs
  RetailCoder.VBE/UI/Command/Refactorings/RefactorRemoveParametersCommand.cs
  RetailCoder.VBE/UI/Command/Refactorings/RefactorReorderParametersCommand.cs
  RetailCoder.VBE/UI/IdentifierReferences/IdentifierReferencesListDockablePresenter.cs
  RetailCoder.VBE/UI/IdentifierReferences/ImplementationsListDockablePresenter.cs
  RetailCoder.VBE/UI/ToDoItems/ToDoExplorerViewModel.cs
  RetailCoder.VBE/UI/UnitTesting/TestExplorerViewModel.cs
  Rubberduck.Inspections/QuickFixes/RemoveUnusedParameterQuickFix.cs
  RubberduckTests/CodeExplorer/CodeExplorerTests.cs
  RubberduckTests/Refactoring/RemoveParametersTests.cs
  RubberduckTests/Refactoring/ReorderParametersTests.cs
Due: ui, inspections

Removed QualifiedModuleName.Component.
  Rubberduck.VBEEditor/QualifiedModuleName.cs
Due: none

Moved general settings to `.settings` file
  RetailCoder.VBE/Properties/Settings.Designer.cs
  RetailCoder.VBE/Properties/Settings.settings
  RetailCoder.VBE/Settings/DisplayLanguageSetting.cs
  RetailCoder.VBE/Settings/GeneralConfigProvider.cs
  RetailCoder.VBE/Settings/GeneralSettings.cs
  RetailCoder.VBE/app.config
Due: none

Initial reorganization testing
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/SelectStatement.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/SummaryCoverage.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/UnreachableCaseInspectionValue.cs
  Rubberduck.Inspections/Rubberduck.Inspections.csproj
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Unable to load tests
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection.cs
  Rubberduck.Inspections/Concrete/UnreachableSelectCase/SelectStatement.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

rewrote ComWrapperEnumerator to allow control over underlying IEnumVARIANT RCW
  Rubberduck.VBEEditor/SafeComWrappers/ComWrapperEnumerator.cs
Due: none

Simplified null handling in uses of ComWrapperEnumeration
  Rubberduck.VBEEditor/SafeComWrappers/Office.Core/CommandBarControls.cs
  Rubberduck.VBEEditor/SafeComWrappers/Office.Core/CommandBars.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB6/VBComponents.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB6/VBProjects.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/AddIns.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/CodePanes.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/Controls.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/LinkedWindows.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/Properties.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/References.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/VBComponents.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/VBProjects.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/Windows.cs
Due: none

changed exceptions to throw with Marshal.GetExceptionForHR
  Rubberduck.VBEEditor/SafeComWrappers/ComWrapperEnumerator.cs
Due: none

added ComImport() attributes
  Rubberduck.VBEEditor/SafeComWrappers/ComWrapperEnumerator.cs
Due: none

comment clarity
  Rubberduck.VBEEditor/SafeComWrappers/ComWrapperEnumerator.cs
Due: none

Researching best ways to determine type
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Update ghost file to complete latest merge
  Retailcoder.VBE/UI/RubberduckUI.resx
Due: none

Initial commit to add .resx files for Czech language
  RetailCoder.VBE/UI/RubberduckUI.cs.resx
  Rubberduck.Parsing/Inspections/Resources/InspectionsUI.cs.resx
  Rubberduck.Parsing/ParsingText.cs.resx
  Rubberduck.RegexAssistant/i18n/AssistantResources.cs.resx
  Rubberduck.SourceControl/SourceControlText.cs.resx
  Rubberduck.VBEEditor/VBEEditorText.cs.resx
Due: ui, tools

Fix resx merge
  Retailcoder.VBE/UI/RubberduckUI.resx
Due: none

Clean-up, improve test coverage - some renaming
  RetailCoder.VBE/Common/DeclarationExtensions.cs
  RetailCoder.VBE/Refactorings/RemoveParameters/RemoveParametersRefactoring.cs
  RetailCoder.VBE/Refactorings/Rename/RenameRefactoring.cs
  RetailCoder.VBE/Refactorings/ReorderParameters/ReorderParametersRefactoring.cs
  Rubberduck.Inspections/Concrete/FunctionReturnValueNotUsedInspection.cs
  Rubberduck.Inspections/Concrete/ImplicitDefaultMemberAssignmentInspection.cs
  Rubberduck.Inspections/Concrete/ObjectVariableNotSetInspection.cs
  Rubberduck.Inspections/QuickFixes/ChangeProcedureToFunctionQuickFix.cs
  Rubberduck.Inspections/QuickFixes/RemoveUnassignedVariableUsageQuickFix.cs
  Rubberduck.Inspections/VariableRequiresSetAssignmentEvaluator.cs
  Rubberduck.Parsing/ParserRuleContextExtensions.cs
  Rubberduck.Parsing/Symbols/DeclarationFinder.cs
  RubberduckTests/Grammar/ParserRuleContextExtensionTests.cs
Due: inspections

Cleaned-up some commented code
  RubberduckTests/Grammar/ParserRuleContextExtensionTests.cs
Due: none

Manually removed ghost file - RubberduckUI.resx
  Retailcoder.VBE/UI/RubberduckUI.resx
Due: none

Update VariableRequiresSetAssignmentEvaluator.cs
  Rubberduck.Inspections/VariableRequiresSetAssignmentEvaluator.cs
Due: inspections

account for default members
  Rubberduck.Inspections/VariableRequiresSetAssignmentEvaluator.cs
  RubberduckTests/Inspections/ObjectVariableNotSetInspectionTests.cs
Due: inspections

Reencode VBALexer and VBAParser to UTF-8
  Rubberduck.Parsing/Grammar/VBALexer.g4
Due: none

Reorder Antlr4 targets to generate VBALexer before VBAParser
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
Due: none

Fix some Unit-Tests after Grammar changes
  Rubberduck.Parsing/Grammar/VBAParser.g4
  RubberduckTests/Grammar/VBAParserTests.cs
  RubberduckTests/QuickFixes/RestoreErrorHandlingQuickFixTests.cs
Due: none

Removed useless finalizer in release builds and minor clean up
  RetailCoder.VBE/UI/DockableToolwindowPresenter.cs
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
Due: ui

Deactivate auto parsing on added project because this broke the first project added.
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
Due: none

Some COM release tweaks for document modules
  Rubberduck.Parsing/VBA/ReferenceResolveRunnerBase.cs
Due: none

More research, trying different things
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

missed change prior to merge
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection.cs
Due: inspections

Removed GetContenHash from QualifiedModuleName, since it is basically always stale.
  Rubberduck.Parsing/VBA/ParseRunnerBase.cs
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
  Rubberduck.VBEEditor/QualifiedModuleName.cs
  RubberduckTests/VBEditor/ProjectsRepositoryTests.cs
Due: none

WIP: first implementation of the TypeLibsAPI
  Rubberduck.VBEEditor/Class1.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
Due: none

Some safety around the ActiveCodePane
  RetailCoder.VBE/Navigation/RegexSearchReplace/RegexSearchReplace.cs
  RetailCoder.VBE/Refactorings/EncapsulateField/EncapsulateFieldPresenterFactory.cs
  RetailCoder.VBE/Refactorings/EncapsulateField/EncapsulateFieldRefactoring.cs
  RetailCoder.VBE/Refactorings/ExtractInterface/ExtractInterfacePresenterFactory.cs
  RetailCoder.VBE/Refactorings/ExtractInterface/ExtractInterfaceRefactoring.cs
  RetailCoder.VBE/Refactorings/ImplementInterface/ImplementInterfaceRefactoring.cs
  RetailCoder.VBE/Refactorings/IntroduceField/IntroduceFieldRefactoring.cs
  RetailCoder.VBE/Refactorings/IntroduceParameter/IntroduceParameterRefactoring.cs
  RetailCoder.VBE/Refactorings/MoveCloserToUsage/MoveCloserToUsageRefactoring.cs
  RetailCoder.VBE/Refactorings/RemoveParameters/RemoveParametersPresenterFactory.cs
  RetailCoder.VBE/Refactorings/RemoveParameters/RemoveParametersRefactoring.cs
  RetailCoder.VBE/Refactorings/Rename/RenamePresenterFactory.cs
  RetailCoder.VBE/Refactorings/Rename/RenameRefactoring.cs
  RetailCoder.VBE/Refactorings/ReorderParameters/ReorderParametersPresenterFactory.cs
  RetailCoder.VBE/Refactorings/ReorderParameters/ReorderParametersRefactoring.cs
  RetailCoder.VBE/UI/Command/AddTestMethodCommand.cs
  RetailCoder.VBE/UI/Command/AddTestMethodExpectedErrorCommand.cs
  RetailCoder.VBE/UI/Command/FindAllImplementationsCommand.cs
  RetailCoder.VBE/UI/Command/FindAllReferencesCommand.cs
  RetailCoder.VBE/UI/Command/IndentCurrentModuleCommand.cs
  RetailCoder.VBE/UI/Command/IndentCurrentProcedureCommand.cs
  RetailCoder.VBE/UI/Command/NoIndentAnnotationCommand.cs
  RetailCoder.VBE/UI/Command/Refactorings/CodePaneRefactorRenameCommand.cs
  RetailCoder.VBE/UI/Command/Refactorings/RefactorEncapsulateFieldCommand.cs
  RetailCoder.VBE/UI/Command/Refactorings/RefactorExtractInterfaceCommand.cs
  RetailCoder.VBE/UI/Command/Refactorings/RefactorExtractMethodCommand.cs
  RetailCoder.VBE/UI/Command/Refactorings/RefactorImplementInterfaceCommand.cs
  RetailCoder.VBE/UI/Command/Refactorings/RefactorIntroduceFieldCommand.cs
  RetailCoder.VBE/UI/Command/Refactorings/RefactorIntroduceParameterCommand.cs
  RetailCoder.VBE/UI/Command/Refactorings/RefactorMoveCloserToUsageCommand.cs
  RetailCoder.VBE/UI/Command/Refactorings/RefactorRemoveParametersCommand.cs
  RetailCoder.VBE/UI/Command/Refactorings/RefactorReorderParametersCommand.cs
  Rubberduck.SmartIndenter/Indenter.cs
  Rubberduck.SourceControl/SourceControlProviderBase.cs
  Rubberduck.VBEEditor/SafeComWrappers/Abstract/IVBE.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB6/VBE.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/VBE.cs
  RubberduckTests/Mocks/MockVbeBuilder.cs
Due: ui, tools

Made QualifiedModuleName a readonly struct
  Rubberduck.VBEEditor/QualifiedModuleName.cs
Due: none

Postponed loading od the ProjectsRepository to the first refresh to avoid race conditions with the VBE loading.
  Rubberduck.VBEEditor/ComManagement/ProjectsRepository.cs
  RubberduckTests/VBEditor/ProjectsRepositoryTests.cs
Due: none

Made QualifiedMemberName and QualifiedSelection readonly structs.
  Rubberduck.VBEEditor/QualifiedMemberName.cs
  Rubberduck.VBEEditor/QualifiedSelection.cs
Due: none

split into TypeLibs/Abstract/API/Debug files, moved into ComManagement, and updated using statements
  Rubberduck.VBEEditor/ComManagement/TypeLibs.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibsAPI.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibsAbstract.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibsDebug.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
Due: none

ITypeInfo wrapper: segregated and improved detection for UserForm base classes, and adding caching for the container type library
  Rubberduck.VBEEditor/ComManagement/TypeLibs.cs
Due: none

added args[] argument to VBETypeLibsAPI.ExecuteCode
  Rubberduck.VBEEditor/ComManagement/TypeLibsAPI.cs
Due: none

Path conditions:
  ui: any of: RetailCoder.VBE/UI, but not: Rubberduck.VBEEditor, RubberduckTests
  inspections: any of: Rubberduck.Inspections, but not: Rubberduck.VBEEditor, RubberduckTests
  tools: any of: Rubberduck.SourceControl, Rubberduck.SmartIndenter, Rubberduck.RegexAssistant, but not: Rubberduck.VBEEditor, RubberduckTests
