Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

codecov.yml:

codecov:
  branch: next
  ci:
    - appveyor
  max_report_age: off
  
ignore:
  # as requested by MDoerner, because they aren't really testable
  - Rubberduck.VBEEditor
  # it makes no sense to track coverage on unit-tests
  - RubberduckTests
    
coverage:
  round: nearest
  precision: 2
  range: 40..80 
  status:
    # don't check patch coverage
    patch: off
    project:
      default:
        target: 0 # don't force a minimum coverage
        # allow decrease by up to 5 %
        threshold: 5
        base: auto
  
comment:
  layout: "flags, diff, files"
  behavior: once
  require_changes: yes

flags:
  core:
    paths:
      - Rubberduck.Parsing
      - Rubberduck.Core
      # Exclude UI from the core flag, that has a separate flag
      - !Rubberduck.Core/UI 
  ui:
    paths:
      - Rubberduck.Core/UI
  inspections:
    paths:
      - Rubberduck.Inspections
  tools:
     paths:
       - Rubberduck.SourceControl
       - Rubberduck.SmartIndenter
       - Rubberduck.RegexAssistant

UI might work
  Rubberduck.Core/CodeAnalysis/CodeMetrics/CodeMetricsViewModel.cs
  Rubberduck.Core/UI/CodeMetrics/CodeMetricsControl.xaml
Due: ui

fixed default settings
  Rubberduck.Core/AutoComplete/AutoCompleteProvider.cs
  Rubberduck.Core/Properties/Settings.Designer.cs
  Rubberduck.Core/Properties/Settings.settings
  Rubberduck.Core/Settings/AutoCompleteConfigProvider.cs
  Rubberduck.Core/Settings/AutoCompleteSetting.cs
  Rubberduck.Core/Settings/AutoCompleteSettings.cs
  Rubberduck.Core/app.config
Due: none

Fix remaining Rubberduck.Inspections references, Fix incorrectly named ClassId on IDockableUserControl
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerWindow.cs
  Rubberduck.Core/UI/CodeMetrics/CodeMetricsWindow.cs
  Rubberduck.Core/UI/Controls/SearchResultWindow.cs
  Rubberduck.Core/UI/DockableToolwindowPresenter.cs
  Rubberduck.Core/UI/IDockableUserControl.cs
  Rubberduck.Core/UI/Inspections/InspectionResultsWindow.cs
  Rubberduck.Core/UI/SimpleListControl.cs
  Rubberduck.Core/UI/ToDoItems/ToDoExplorerWindow.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerWindow.cs
  Rubberduck.Deployment/Rubberduck.Deployment.csproj
  Rubberduck.Main/Rubberduck.Main.csproj
  Rubberduck.sln
  RubberduckTests/RubberduckTests.csproj
Due: ui

Add missing usings
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerWindow.cs
  Rubberduck.Core/UI/Controls/SearchResultWindow.cs
  Rubberduck.Core/UI/ToDoItems/ToDoExplorerWindow.cs
  Rubberduck.Core/UI/UnitTesting/TestExplorerWindow.cs
Due: ui

Fix displaying signatures twice
  Rubberduck.Core/UI/CodeMetrics/CodeMetricsControl.xaml
Due: ui

fixed broken tests
  RubberduckTests/CodeExplorer/CodeExplorerTests.cs
  RubberduckTests/Commands/UnitTestCommandTests.cs
  RubberduckTests/RubberduckTests.csproj
  RubberduckTests/Settings/AutoCompleteSettingsTests.cs
Due: none

added test ctor
  Rubberduck.Core/Settings/AutoCompleteSetting.cs
Due: none

added autocomplete settings resources
  Rubberduck.Resources/Rubberduck.Resources.csproj
  Rubberduck.Resources/Settings/AutoCompletesPage.Designer.cs
  Rubberduck.Resources/Settings/AutoCompletesPage.cs.Designer.cs
  Rubberduck.Resources/Settings/AutoCompletesPage.cs.resx
  Rubberduck.Resources/Settings/AutoCompletesPage.de.Designer.cs
  Rubberduck.Resources/Settings/AutoCompletesPage.de.resx
  Rubberduck.Resources/Settings/AutoCompletesPage.fr.Designer.cs
  Rubberduck.Resources/Settings/AutoCompletesPage.fr.resx
  Rubberduck.Resources/Settings/AutoCompletesPage.resx
  Rubberduck.Resources/Settings/SettingsUI.Designer.cs
Due: none

fixed default config/provider
  Rubberduck.Core/Settings/AutoCompleteConfigProvider.cs
  Rubberduck.Core/Settings/AutoCompleteSettings.cs
Due: none

fixed xml serialization
  Rubberduck.Core/Properties/Settings.Designer.cs
  Rubberduck.Core/Properties/Settings.settings
  Rubberduck.Core/Settings/AutoCompleteSetting.cs
  Rubberduck.Core/app.config
Due: none

Register CodeMetric implementations with MetricAnalyst to actually provide results
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
Due: none

load & apply settings
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.Inspections/Inspector.cs
  Rubberduck.Resources/Settings/AutoCompletesPage.Designer.cs
  Rubberduck.Resources/Settings/AutoCompletesPage.cs.resx
  Rubberduck.Resources/Settings/AutoCompletesPage.de.resx
  Rubberduck.Resources/Settings/AutoCompletesPage.fr.resx
  Rubberduck.Resources/Settings/AutoCompletesPage.resx
Due: inspections

skip block-autocomplete for comments
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
Due: none

Use a sensible registration strategy
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
Due: none

added autocompletion for #If...#EndIf blocks
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
  Rubberduck.Core/AutoComplete/AutoCompletePrecompilerIfBlock.cs
  Rubberduck.Core/Properties/Settings.Designer.cs
  Rubberduck.Core/Properties/Settings.settings
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/app.config
  Rubberduck.Resources/Settings/AutoCompletesPage.Designer.cs
  Rubberduck.Resources/Settings/AutoCompletesPage.cs.resx
  Rubberduck.Resources/Settings/AutoCompletesPage.de.resx
  Rubberduck.Resources/Settings/AutoCompletesPage.fr.resx
  Rubberduck.Resources/Settings/AutoCompletesPage.resx
  Rubberduck.VBEEditor/Events/AutoCompleteEventArgs.cs
Due: none

removed unused fluff
  Rubberduck.VBEEditor/Events/AutoCompleteEventArgs.cs
Due: none

removed fluff
  Rubberduck.Core/AutoComplete/AutoCompleteBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
Due: none

honor enum indenter settings
  Rubberduck.Core/AutoComplete/AutoCompleteEnumBlock.cs
Due: none

Couple tweaks to the UI
  Rubberduck.Core/UI/CodeMetrics/CodeMetricsControl.xaml
Due: ui

implemented settings UI
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/Settings/AutoCompleteSettings.xaml
  Rubberduck.Core/UI/Settings/AutoCompleteSettings.xaml.cs
  Rubberduck.Core/UI/Settings/AutoCompleteSettingsViewModel.cs
  Rubberduck.Core/UI/Settings/SettingsControlViewModel.cs
  Rubberduck.Core/UI/Settings/SettingsForm.cs
  Rubberduck.Core/UI/Settings/SettingsViews.cs
  Rubberduck.Resources/Settings/SettingsUI.Designer.cs
  Rubberduck.Resources/Settings/SettingsUI.cs.resx
  Rubberduck.Resources/Settings/SettingsUI.de.resx
  Rubberduck.Resources/Settings/SettingsUI.fr.resx
  Rubberduck.Resources/Settings/SettingsUI.resx
Due: ui

autosize list/grid
  Rubberduck.Core/UI/Settings/AutoCompleteSettings.xaml
Due: ui

fixed broken resource ref
  Rubberduck.Core/UI/Settings/AutoCompleteSettings.xaml
Due: ui

better handling of backspacing/deleting
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
Due: none

Update AutoCompleteService.cs
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
Due: none

Updates fully merged
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeExpressionEvaluator.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValue.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueFactory.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueVisitor.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueVisitorFactory.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeValues.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspection.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspectionFactoryProvider.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspector.cs
  Rubberduck.Inspections/Rubberduck.Inspections.csproj
  RubberduckTests/Inspections/ExpressionFilterTests.cs
  RubberduckTests/Inspections/ParseTreeExpressionEvaluatorTests.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: inspections

Update AutoCompleteBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteBase.cs
Due: none

one of these days I'll rewrite the projects to use globbing, FFS
  Rubberduck.CodeAnalysis/CodeMetrics/CyclomaticComplexityMetric.cs
  Rubberduck.CodeAnalysis/Rubberduck.CodeAnalysis.csproj
Due: none

Cowboy the Redesign of CodeMetrics
  Rubberduck.CodeAnalysis/CodeMetrics/CodeMetricsAnalyst.cs
  Rubberduck.CodeAnalysis/CodeMetrics/CyclomaticComplexityMetric.cs
  Rubberduck.Core/CodeAnalysis/CodeMetrics/CodeMetricsViewModel.cs
  Rubberduck.Core/CodeAnalysis/CodeMetrics/ICodeMetricsAnalyst.cs
  RubberduckTests/CodeAnalysis/CodeMetrics/CyclomaticComplexityTests.cs
  RubberduckTests/CodeAnalysis/CodeMetrics/ParseTreeMetricsAnalystTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: none

Implement LineCount metric on module level and extract common properties into baseclass
  Rubberduck.CodeAnalysis/CodeMetrics/CodeMetricBase.cs
  Rubberduck.CodeAnalysis/CodeMetrics/CyclomaticComplexityMetric.cs
  Rubberduck.CodeAnalysis/CodeMetrics/LineCountMetric.cs
  Rubberduck.CodeAnalysis/Properties/AssemblyInfo.cs
  Rubberduck.CodeAnalysis/Rubberduck.CodeAnalysis.csproj
  RubberduckTests/CodeAnalysis/CodeMetrics/LineCountTests.cs
  RubberduckTests/CodeAnalysis/CodeMetrics/ParseTreeMetricsAnalystTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: none

Add LineCount tests, refactor all CodeAnalysis tests to scope MockParser with using-block
  RubberduckTests/CodeAnalysis/CodeMetrics/CyclomaticComplexityTests.cs
  RubberduckTests/CodeAnalysis/CodeMetrics/LineCountTests.cs
  RubberduckTests/CodeAnalysis/CodeMetrics/NestingLevelTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: none

Implement NestingLevel Metric
  Rubberduck.CodeAnalysis/CodeMetrics/NestingLevelMetric.cs
  Rubberduck.CodeAnalysis/Rubberduck.CodeAnalysis.csproj
Due: none

Clean up implementation of Cyclomatic Complexity
  Rubberduck.CodeAnalysis/CodeMetrics/CyclomaticComplexityMetric.cs
Due: none

fix expected vs. actual in UciUnit_VariableMath
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: none

more rebase-fixes
  Rubberduck.CodeAnalysis/Inspections/Inspector.cs
Due: none

Remove old CodeMetrics Implementation
  Rubberduck.CodeAnalysis/CodeMetrics/CodeMetricBase.cs
  Rubberduck.CodeAnalysis/CodeMetrics/CodeMetricsAnalyst.cs
  Rubberduck.CodeAnalysis/CodeMetrics/CodeMetricsResult.cs
  Rubberduck.CodeAnalysis/Rubberduck.CodeAnalysis.csproj
  Rubberduck.Core/CodeAnalysis/CodeMetrics/ICodeMetricsAnalyst.cs
  Rubberduck.Core/CodeAnalysis/CodeMetrics/ICodeMetricsResult.cs
  Rubberduck.Core/Rubberduck.Core.csproj
Due: none
