Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

updated ducky dialog icon
  Rubberduck.Core/UI/About/AboutDialog.resx
  Rubberduck.Core/UI/FindSymbol/FindSymbolDialog.resx
  Rubberduck.Core/UI/Refactorings/EncapsulateField/EncapsulateFieldDialog.Designer.cs
  Rubberduck.Core/UI/Refactorings/EncapsulateField/EncapsulateFieldDialog.resx
  Rubberduck.Core/UI/Refactorings/ExtractInterface/ExtractInterfaceDialog.Designer.cs
  Rubberduck.Core/UI/Refactorings/ExtractInterface/ExtractInterfaceDialog.resx
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersDialog.Designer.cs
  Rubberduck.Core/UI/Refactorings/RemoveParameters/RemoveParametersDialog.resx
  Rubberduck.Core/UI/Refactorings/Rename/RenameDialog.Designer.cs
  Rubberduck.Core/UI/Refactorings/Rename/RenameDialog.resx
Due: ui

updated splash
  Rubberduck.Core/Properties/Resources.Designer.cs
  Rubberduck.Core/Properties/Resources.resx
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/Splash.Designer.cs
  Rubberduck.Core/UI/Splash.resx
  Rubberduck.Resources/Splash.png
Due: ui

updated ducky.ico
  Rubberduck.Core/Ducky.ico
Due: none

Add stack tracing and make a big mess of WeakComSafe - need to be refactored
  Rubberduck.VBEEditor/ComManagement/WeakComSafe.cs
Due: none

Consolidate image resources
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerControl.xaml
Due: ui

Remove tree view icon style
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerControl.xaml
Due: ui

Remove unused resource
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerControl.xaml
Due: ui

Extract all the mess and try to hide it away in an abstract base class. Modify StrongComSafe to be more consistent with hashing.
  Rubberduck.VBEEditor/ComManagement/ComSafeBase.cs
  Rubberduck.VBEEditor/ComManagement/StrongComSafe.cs
  Rubberduck.VBEEditor/ComManagement/WeakComSafe.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
Due: none

Fix rewrapping of CommandBarButtons as CommandBarControls
  Rubberduck.VBEditor.VB6/SafeComWrappers/Office/CommandBarButton.cs
  Rubberduck.VBEditor.VBA/SafeComWrappers/Office/CommandBarButton.cs
Due: none

Restore the original dictionary design to StrongComSafe and adapt the GetWrappers method instead
  Rubberduck.VBEEditor/ComManagement/StrongComSafe.cs
Due: none

Make string escapes consistant with brackets, fix reuilding. Closes #4431
  Rubberduck.SmartIndenter/StringLiteralAndBracketEscaper.cs
  RubberduckTests/SmartIndenter/MiscAndCornerCaseTests.cs
Due: tools

Update Rubberduck.API.csproj to 2017 format
  Rubberduck.API/Properties/AssemblyInfo.cs
  Rubberduck.API/Rubberduck.API.csproj
Due: none

Adds IsMissingOnInappropriateArgumentInspection
  Rubberduck.CodeAnalysis/Inspections/Abstract/QuickFixBase.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/IsMissingOnInappropriateArgumentInspection.cs
  Rubberduck.CodeAnalysis/QuickFixes/IsMissingOnInappropriateArgumentQuickFix.cs
  Rubberduck.CodeAnalysis/Rubberduck.CodeAnalysis.csproj
  Rubberduck.Core/Properties/Settings.Designer.cs
  Rubberduck.Core/Properties/Settings.settings
  Rubberduck.Core/app.config
  Rubberduck.Resources/Inspections/InspectionInfo.Designer.cs
  Rubberduck.Resources/Inspections/InspectionInfo.resx
  Rubberduck.Resources/Inspections/InspectionNames.Designer.cs
  Rubberduck.Resources/Inspections/InspectionNames.resx
  Rubberduck.Resources/Inspections/InspectionResults.Designer.cs
  Rubberduck.Resources/Inspections/InspectionResults.resx
  Rubberduck.Resources/Inspections/QuickFixes.Designer.cs
  Rubberduck.Resources/Inspections/QuickFixes.resx
  RubberduckTests/Inspections/IsMissingOnInappropriateArgumentInspectionTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: none

Finish IsMissingOnInappropriateArgumentQuickFix.
  Rubberduck.CodeAnalysis/Inspections/Concrete/IsMissingOnInappropriateArgumentInspection.cs
  Rubberduck.CodeAnalysis/QuickFixes/IsMissingOnInappropriateArgumentQuickFix.cs
  RubberduckTests/Inspections/IsMissingOnInappropriateArgumentInspectionTests.cs
  RubberduckTests/QuickFixes/IsMissingOnInappropriateArgumentQuickFixTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: none

Fix handling of optional Variant arrays, add tests.
  Rubberduck.CodeAnalysis/Inspections/Concrete/IsMissingOnInappropriateArgumentInspection.cs
  RubberduckTests/Inspections/IsMissingOnInappropriateArgumentInspectionTests.cs
  RubberduckTests/QuickFixes/IsMissingOnInappropriateArgumentQuickFixTests.cs
Due: none

Add second part of IsMissing inpections. Closes #4212
  Rubberduck.CodeAnalysis/Inspections/Abstract/IsMissingInspectionBase.cs
  Rubberduck.CodeAnalysis/Inspections/Concrete/IsMissingWithNonArgumentParameterInspection.cs
  Rubberduck.CodeAnalysis/Rubberduck.CodeAnalysis.csproj
  Rubberduck.Core/Properties/Settings.Designer.cs
  Rubberduck.Core/Properties/Settings.settings
  Rubberduck.Core/app.config
  Rubberduck.Resources/Inspections/InspectionInfo.Designer.cs
  Rubberduck.Resources/Inspections/InspectionInfo.resx
  Rubberduck.Resources/Inspections/InspectionNames.Designer.cs
  Rubberduck.Resources/Inspections/InspectionNames.resx
  Rubberduck.Resources/Inspections/InspectionResults.Designer.cs
  Rubberduck.Resources/Inspections/InspectionResults.resx
  RubberduckTests/Inspections/IsMissingWithNonArgumentParameterInspectionTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: none

Move Rubberduck.SmartIndenter to new csproj
  Rubberduck.SmartIndenter/Properties/AssemblyInfo.cs
  Rubberduck.SmartIndenter/Rubberduck.SmartIndenter.csproj
Due: tools

Fix Microsoft.Composition version mismatch
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.csproj
Due: none

Move Rubberduck.Deployment to new csproj
  Rubberduck.Deployment/Properties/AssemblyInfo.cs
  Rubberduck.Deployment/Rubberduck.Deployment.csproj
Due: none

Tweak System.Composition version and ValueTuple bindingRedirect
  RubberduckTestsCodeAnalysis/RubberduckTestsCodeAnalysis.csproj
  RubberduckTestsCodeAnalysis/app.config
Due: none

Move RubberduckCodeAnalysis to new csproj
  RubberduckCodeAnalysis/Properties/AssemblyInfo.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.csproj
Due: none

Move Rubberduck.VBEEditor to new csproj
  Rubberduck.VBEEditor/Events/EventArgs/AutoCompleteEventArgs.cs
  Rubberduck.VBEEditor/Events/EventArgs/ComponentEventArgs.cs
  Rubberduck.VBEEditor/Events/EventArgs/ComponentRenamedEventArgs.cs
  Rubberduck.VBEEditor/Events/EventArgs/IntelliSenseEventArgs.cs
  Rubberduck.VBEEditor/Events/EventArgs/KeyPressEventArgs.cs
  Rubberduck.VBEEditor/Events/EventArgs/ProjectEventArgs.cs
  Rubberduck.VBEEditor/Events/EventArgs/ProjectRenamedEventArgs.cs
  Rubberduck.VBEEditor/Events/EventArgs/SelectionChangedEventArgs.cs
  Rubberduck.VBEEditor/Events/EventArgs/SubClassingWindowEventArgs.cs
  Rubberduck.VBEEditor/Events/EventArgs/WindowChangedEventArgs.cs
  Rubberduck.VBEEditor/Properties/AssemblyInfo.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
Due: none

Move RubberduckTestsCodeAnalysis to new csproj
  RubberduckTestsCodeAnalysis/RubberduckTestsCodeAnalysis.csproj
Due: none

Move Rubberduck.CodeAnalysis to new csproj format
  Rubberduck.CodeAnalysis/Inspections/Concrete/EmptyConditionBlockInspection.cs
  Rubberduck.CodeAnalysis/Properties/AssemblyInfo.cs
  Rubberduck.CodeAnalysis/Rubberduck.CodeAnalysis.csproj
Due: none

Move Rubberduck.VBEditor.VBA to new csproj
  Rubberduck.VBEditor.VBA/Properties/AssemblyInfo.cs
  Rubberduck.VBEditor.VBA/Rubberduck.VBEditor.VBA.csproj
Due: none

Move Rubberduck.SettingsProvider to new csproj
  Rubberduck.SettingsProvider/Properties/AssemblyInfo.cs
  Rubberduck.SettingsProvider/Rubberduck.SettingsProvider.csproj
Due: none

Remove incorrect Version specifier from new csproj files
  Rubberduck.CodeAnalysis/Rubberduck.CodeAnalysis.csproj
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  Rubberduck.Refactorings/Rubberduck.Refactorings.csproj
  Rubberduck.SettingsProvider/Rubberduck.SettingsProvider.csproj
  Rubberduck.SmartIndenter/Rubberduck.SmartIndenter.csproj
  Rubberduck.UnitTesting/Rubberduck.UnitTesting.csproj
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
  Rubberduck.VBEditor.VB6/Rubberduck.VBEditor.VB6.csproj
  Rubberduck.VBEditor.VBA/Rubberduck.VBEditor.VBA.csproj
Due: tools

Move Rubberduck.Interaction to new csproj format
  Rubberduck.Interaction/Properties/AssemblyInfo.cs
  Rubberduck.Interaction/Rubberduck.Interaction.csproj
Due: none

Move Rubberduck.Resources to new csproj
  Rubberduck.Resources/Properties/AssemblyInfo.cs
  Rubberduck.Resources/Rubberduck.Resources.csproj
Due: none

Unify dependency versions, Update NLog, System.ValueTuple
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Main/Rubberduck.Main.csproj
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  Rubberduck.RegexAssistant/Rubberduck.RegexAssistant.csproj
  Rubberduck.SettingsProvider/Rubberduck.SettingsProvider.csproj
  Rubberduck.SmartIndenter/Rubberduck.SmartIndenter.csproj
  Rubberduck.UnitTesting/Rubberduck.UnitTesting.csproj
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
  Rubberduck.VBEditor.VB6/Rubberduck.VBEditor.VB6.csproj
  Rubberduck.VBEditor.VBA/Rubberduck.VBEditor.VBA.csproj
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.csproj
  RubberduckTests/RubberduckTests.csproj
  RubberduckTestsCodeAnalysis/RubberduckTestsCodeAnalysis.csproj
Due: tools

remove unused NuGet packages from Rubberduck.Api
  Rubberduck.API/Rubberduck.API.csproj
Due: none

Move Rubberduck.Refactorings to new csproj
  Rubberduck.Refactorings/Properties/AssemblyInfo.cs
  Rubberduck.Refactorings/Rubberduck.Refactorings.csproj
Due: none

Move Rubberduck.RegexAssistant to new csproj
  Rubberduck.RegexAssistant/Properties/AssemblyInfo.cs
  Rubberduck.RegexAssistant/Rubberduck.RegexAssistant.csproj
Due: tools

Move RubberduckTests to new csproj format
  RubberduckTests/Grammar/VBAParserValidityTests.cs
  RubberduckTests/Inspections/EmptyConditionBlockInspectionTests.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
  RubberduckTests/Preprocessing/VBAPreprocessorTests.cs
  RubberduckTests/Properties/AssemblyInfo.cs
  RubberduckTests/QuickFixes/RemoveEmptyConditionBlockQuickFixTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: none

Push around stuff in CodeAnalysis trying to fix AppVeyor
  Rubberduck.CodeAnalysis/Rubberduck.CodeAnalysis.csproj
Due: none

Move Rubberduck.VBEditor.VB6 to new csproj
  Rubberduck.VBEditor.VB6/Properties/AssemblyInfo.cs
  Rubberduck.VBEditor.VB6/Rubberduck.VBEditor.VB6.csproj
Due: none

Path conditions:
  ui: any of: Rubberduck.Core/UI, but not: Rubberduck.VBEEditor, RubberduckTests
  inspections: any of: Rubberduck.Inspections, but not: Rubberduck.VBEEditor, RubberduckTests
  tools: any of: Rubberduck.SourceControl, Rubberduck.SmartIndenter, Rubberduck.RegexAssistant, but not: Rubberduck.VBEEditor, RubberduckTests
