Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

codecov.yml:

codecov:
  branch: next
  ci:
    - appveyor
  max_report_age: off
  
ignore:
  # as requested by MDoerner, because they aren't really testable
  - Rubberduck.VBEEditor
  # it makes no sense to track coverage on unit-tests
  - RubberduckTests
    
coverage:
  round: nearest
  precision: 2
  range: 40..80 
  status:
    # don't check patch coverage
    patch: off
    project:
      default:
        target: 0 # don't force a minimum coverage
        # allow decrease by up to 5 %
        threshold: 5
        base: auto
  
comment:
  layout: "flags, diff, files"
  behavior: once
  require_changes: yes

flags:
  core:
    paths:
      - Rubberduck.Parsing
      - Rubberduck.Core
      # Exclude UI from the core flag, that has a separate flag
      - !Rubberduck.Core/UI 
  ui:
    paths:
      - Rubberduck.Core/UI
  inspections:
    paths:
      - Rubberduck.Inspections
  tools:
     paths:
       - Rubberduck.SourceControl
       - Rubberduck.SmartIndenter
       - Rubberduck.RegexAssistant

Some renaming and introduction of ValueTuples in the unreachable case inspection backend.
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseContextWrapper.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseFilter.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseFilterFactory.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/UnreachableCaseInspection.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Remove the restrictions on the admin elevation. Modify the addin registration to avoid the bug(?)
  Rubberduck.Deployment/InnoSetup/Installer Build Script.iss
Due: none

Simplified removal of covered clauses in RangeClauseFilter using that private accessability is on the type, not the object.
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseFilter.cs
Due: inspections

Make parameter binding take precedence over the local variable binding
  Rubberduck.Parsing/Binding/Bindings/SimpleNameDefaultBinding.cs
  RubberduckTests/Symbols/DeclarationFinderTests.cs
Due: none

Add a new unit test for Parameter Not Used inspection to cover the ambiguous name case.
  RubberduckTests/Inspections/ParameterNotUsedInspectionTests.cs
Due: none

More ValueTuple and other refactorings to RangeClasueFilter.
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseContextWrapper.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseFilter.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Create additional unit tests for ambiguous parameter resolution, including a failing test for parameter referencing non-built-in declaration.
  RubberduckTests/Symbols/DeclarationFinderTests.cs
Due: none

More refactoring and culture invariant string representations in RangeClauseFilter.
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseFilter.cs
Due: inspections

Add unit tests for issue #3937 (will not fix as this is now deemed not in the PR's scope)
  RubberduckTests/Symbols/DeclarationFinderTests.cs
Due: none

Added support for hex and octal literals to ParseTreeValue and made things culture agnostic.
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValue.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseContextWrapper.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseFilterFactory.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/SelectCaseStmtContextWrapper.cs
  Rubberduck.Parsing/SymbolList.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Initial version of Busy state and SuspendParser function
  Rubberduck.Core/UI/RubberduckUI.Designer.cs
  Rubberduck.Core/UI/RubberduckUI.resx
  Rubberduck.Core/UnitTesting/TestEngine.cs
  Rubberduck.Parsing/VBA/ParserState.cs
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
Due: ui

Add more unit tests to cover the Property Let assignment where the name of the accessor, the name of the parameter, the assignment, and the as type can be all the same.
  RubberduckTests/Symbols/DeclarationFinderTests.cs
Due: none

Some refactoring of ParseTreeExpressionEvaluator including making it culture agnostic
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeExpressionEvaluator.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Extracted static TryParseValue methods from ParseTreeValue into a static class to make them extension methods.
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeExpressionEvaluator.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValue.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/RangeClauseFilterFactory.cs
Due: inspections

Add new unit tests to test the SuspendParser and the parser state to some degree.
  RubberduckTests/ParserState/ParserStateTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: none

Correct some gaps in the SuspendParser logic
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
Due: none

removed IVBETypeInfo, moved GetStdModAccessor over to the IVBEComponent
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeInfos.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibsSupport.cs
Due: none

fixes missing semicolon
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibsSupport.cs
Due: none

Update the installer & registry script for VS6 support
  Rubberduck.Deployment/InnoSetup/Includes/Rubberduck.RegisterAddIn.reg
  Rubberduck.Deployment/InnoSetup/Installer Build Script.iss
Due: none

#3952
  Rubberduck.Core/Properties/Resources.Designer.cs
  Rubberduck.Core/Properties/Resources.resx
  Rubberduck.Core/Resources/Custom/LowColorImage/AllLoadedTests-LowColor.dat
  Rubberduck.Core/Resources/Custom/LowColorImage/DoubleArrow-LowColor.dat
  Rubberduck.Core/Resources/Custom/LowColorImage/ExtractInterface-LowColor.dat
  Rubberduck.Core/Resources/Custom/LowColorImage/ExtractMethod-LowColor.dat
  Rubberduck.Core/Resources/Custom/LowColorImage/FindSymbol-LowColor.dat
  Rubberduck.Core/Resources/Custom/LowColorImage/Flask-Exclamation.-LowColor.dat
  Rubberduck.Core/Resources/Custom/LowColorImage/Flask-LowColor.dat
  Rubberduck.Core/Resources/Custom/LowColorImage/ImplementInterface-LowColor.dat
  Rubberduck.Core/Resources/Custom/LowColorImage/IntroduceField-LowColor.dat
  Rubberduck.Core/Resources/Custom/LowColorImage/IntroduceParameter-LowColor.dat
  Rubberduck.Core/Resources/Custom/LowColorImage/RemoveParameters-LowColor.dat
  Rubberduck.Core/Resources/Custom/LowColorImage/ReorderParameters-LowColor.dat
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/Command/IMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/AddTestMethodCommandMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/AddTestMethodExpectedErrorCommandMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/CommandBars/AppCommandBarBase.cs
  Rubberduck.Core/UI/Command/MenuItems/CommandBars/ReparseCommandMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/CommandMenuItemBase.cs
  Rubberduck.Core/UI/Command/MenuItems/FindSymbolCommandMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/ParentMenuItemBase.cs
  Rubberduck.Core/UI/Command/MenuItems/RefactorExtractInterfaceCommandMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/RefactorExtractMethodCommandMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/RefactorImplementInterfaceCommandMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/RefactorIntroduceFieldCommandMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/RefactorIntroduceParameterCommandMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/RefactorRemoveParametersCommandMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/RefactorReorderParametersCommandMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/RunAllTestsCommandMenuItem.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
  Rubberduck.VBEEditor/SafeComWrappers/Office/Abstract/ICommandBarButton.cs
  Rubberduck.VBEEditor/Utility/LowColorImage.cs
  Rubberduck.VBEditor.VB6/SafeComWrappers/Office/CommandBarButton.cs
  Rubberduck.VBEditor.VBA/SafeComWrappers/Office/CommandBarButton.cs
Due: ui

Move RootComWrapperFactory.cs over to the Main project Cut off access to VBA/VB6 projects from the Core project
  Rubberduck.API/API/VBA/ParserState.cs
  Rubberduck.API/Rubberduck.API.csproj
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Main/Root/RootComWrapperFactory.cs
  Rubberduck.Main/Rubberduck.Main.csproj
Due: none

Fixed that the declared type corresponding to a decimal is Currency, not Decimal.
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValue.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValueFactory.cs
  Rubberduck.Parsing/SymbolList.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
  RubberduckTests/QuickFixes/RemoveTypeHintsQuickFixTests.cs
Due: inspections

Reduced loss of precision in TryConvertValue in ParseTreeValue and made determination of octal and hex literal values caseinsensitive.
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection/ParseTreeValue.cs
Due: inspections

Update installer to handle deletions of untracked GUIDs
  Rubberduck.Deployment/InnoSetup/Includes/RegistryCleanup.reg.iss
  Rubberduck.Deployment/InnoSetup/Installer Build Script.iss
Due: none

Include unused API typelib GUID for cleanup
  Rubberduck.Deployment/InnoSetup/Includes/RegistryCleanup.reg.iss
Due: none

Clean up spray GUIDs and set up GUID spaces. Get API project under control
  Rubberduck.API/API/VBA/Accessibility.cs
  Rubberduck.API/API/VBA/Declaration.cs
  Rubberduck.API/API/VBA/DeclarationType.cs
  Rubberduck.API/API/VBA/IdentifierReference.cs
  Rubberduck.API/API/VBA/ParserState.cs
  Rubberduck.Core/RubberduckGuid.cs
  Rubberduck.Parsing/Symbols/DeclarationType.cs
Due: none

Update about control
  Rubberduck.Core/UI/About/AboutControl.xaml
  Rubberduck.Core/UI/About/AboutDialog.Designer.cs
Due: ui

Replace nested Grid with ColumnSpan usage
  Rubberduck.Core/UI/About/AboutControl.xaml
Due: ui

Remove white background, move some stuff around
  Rubberduck.Core/UI/About/AboutControl.xaml
Due: ui

Update GUIDs and apply missing COM Attributes.
  Rubberduck.Core/RubberduckGuid.cs
  Rubberduck.Main/ComClientLibrary/Abstract/UnitTesting/IAssert.cs
  Rubberduck.Main/ComClientLibrary/Abstract/UnitTesting/IFake.cs
  Rubberduck.Main/ComClientLibrary/Abstract/UnitTesting/IFakesProvider.cs
  Rubberduck.Main/ComClientLibrary/Abstract/UnitTesting/IStub.cs
  Rubberduck.Main/ComClientLibrary/Abstract/UnitTesting/IVerify.cs
  Rubberduck.Main/ComClientLibrary/UI/DockableWindowHost.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/AssertClass.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/FakesProvider.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/PermissiveAssertClass.cs
  Rubberduck.Main/Extension.cs
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibsAPI.cs
Due: none

Add the new code self-analysis. If duck's gonna meta, it gonna meta meta!
  Rubberduck.sln
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/Helpers/CodeFixVerifier.Helper.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/Helpers/DiagnosticResult.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/Helpers/DiagnosticVerifier.Helper.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/RubberduckCodeAnalysis.Test.csproj
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/RubberduckCodeAnalysisUnitTests.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/Verifiers/CodeFixVerifier.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/Verifiers/DiagnosticVerifier.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/ComVisibleClassMustHaveGuidAnalyzer.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/Resources.Designer.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/Resources.resx
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/RubberduckCodeAnalysis.csproj
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/RubberduckCodeAnalysisCodeFixProvider.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/tools/install.ps1
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/tools/uninstall.ps1
Due: none

Enable analyzers for all projects
  Rubberduck.API/Rubberduck.API.csproj
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Deployment/Rubberduck.Deployment.csproj
  Rubberduck.Inspections/Rubberduck.Inspections.csproj
  Rubberduck.Main/Rubberduck.Main.csproj
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  Rubberduck.RegexAssistant/Rubberduck.RegexAssistant.csproj
  Rubberduck.SettingsProvider/Rubberduck.SettingsProvider.csproj
  Rubberduck.SmartIndenter/Rubberduck.SmartIndenter.csproj
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
  Rubberduck.VBEditor.VB6/Rubberduck.VBEditor.VB6.csproj
  Rubberduck.VBEditor.VBA/Rubberduck.VBEditor.VBA.csproj
Due: inspections, tools

Add more unit tests to cover classes w/o ComVisible and fix a logic gap in the analyzer.
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/RubberduckCodeAnalysisUnitTests.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/ComVisibleClassMustHaveGuidAnalyzer.cs
Due: none

Revisions backed on PR feedback
  Rubberduck.Parsing/VBA/ReferenceResolveRunnerBase.cs
  RubberduckTests/Symbols/DeclarationFinderTests.cs
Due: none

Enforce mandatory COM attributes
  Rubberduck.sln
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/Helpers/DiagnosticVerifier.Helper.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/RubberduckCodeAnalysisUnitTests.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/ComVisibleClassMustHaveGuidAnalyzer.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/ComVisibleTypeAnalyzer.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/Resources.Designer.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/Resources.resx
Due: none

Introduce SharedResources project and update the references to Guids/ProgIds which now live in the new project.
  Rubberduck.API/API/VBA/Accessibility.cs
  Rubberduck.API/API/VBA/Declaration.cs
  Rubberduck.API/API/VBA/DeclarationType.cs
  Rubberduck.API/API/VBA/IdentifierReference.cs
  Rubberduck.API/API/VBA/ParserState.cs
  Rubberduck.API/Rubberduck.API.csproj
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/DockableToolwindowPresenter.cs
  Rubberduck.Core/UnitTesting/ProjectTestExtensions.cs
  Rubberduck.Main/ComClientLibrary/Abstract/UnitTesting/IAssert.cs
  Rubberduck.Main/ComClientLibrary/Abstract/UnitTesting/IFake.cs
  Rubberduck.Main/ComClientLibrary/Abstract/UnitTesting/IFakesProvider.cs
  Rubberduck.Main/ComClientLibrary/Abstract/UnitTesting/IStub.cs
  Rubberduck.Main/ComClientLibrary/Abstract/UnitTesting/IVerify.cs
  Rubberduck.Main/ComClientLibrary/UI/DockableWindowHost.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/AssertClass.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/FakesProvider.cs
  Rubberduck.Main/ComClientLibrary/UnitTesting/PermissiveAssertClass.cs
  Rubberduck.Main/Extension.cs
  Rubberduck.Main/Properties/AssemblyInfo.cs
  Rubberduck.Main/Rubberduck.Main.csproj
  Rubberduck.SharedResources/App.config
  Rubberduck.SharedResources/COM/RubberduckGuid.cs
  Rubberduck.SharedResources/COM/RubberduckProgId.cs
  Rubberduck.SharedResources/Rubberduck.SharedResources.csproj
  Rubberduck.VBEEditor/ComManagement/TypeLibs/TypeLibsAPI.cs
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
  Rubberduck.sln
Due: ui

Update the deployment project and the installer to handle API registration
  Rubberduck.Deployment/BuildRegistryScript.ps1
  Rubberduck.Deployment/InnoSetup/Includes/.gitignore
  Rubberduck.Deployment/InnoSetup/Installer Build Script.iss
  Rubberduck.Deployment/Rubberduck.Deployment.csproj
  Rubberduck.Deployment/Writers/IRegistryWriter.cs
  Rubberduck.Deployment/Writers/InnoSetupRegistryWriter.cs
  Rubberduck.Deployment/Writers/LocalDebugRegistryWriter.cs
Due: none

Update the GUID for the API typelib
  Rubberduck.API/Properties/AssemblyInfo.cs
Due: none

Preserve indentation of expression following inserted declaration (and associated tests)
  Rubberduck.Core/Refactorings/MoveCloserToUsage/MoveCloserToUsageRefactoring.cs
  RubberduckTests/QuickFixes/MoveFieldCloserToUsageQuickFixTests.cs
  RubberduckTests/Refactoring/MoveCloserToUsageTests.cs
Due: none

Request reparse after move closer to usage refactoring
  Rubberduck.Core/Refactorings/MoveCloserToUsage/MoveCloserToUsageRefactoring.cs
Due: none
