Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

Make the VBERuntime in the ComMessagePumper use lazy initialization instead of that weird funky homebrewn static/instance construction. Make DetermineVersion static.
  Rubberduck.VBEEditor/ComManagement/ComMessagePumper.cs
  Rubberduck.VBEEditor/ComManagement/VBERuntime/VBERuntimeAccessor.cs
Due: none

Addressed some review comments.
  RetailCoder.VBE/Navigation/CodeExplorer/CodeExplorerViewModel.cs
  Rubberduck.Inspections/Inspector.cs
  Rubberduck.Parsing/IParseResultProvider.cs
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  Rubberduck.Parsing/VBA/RubberduckParserState.cs
  RubberduckTests/QuickFixes/RemoveUnassignedVariableUsageQuickFixTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: inspections

Removed unneccessary accesses to the Project on a declaration.
  RetailCoder.VBE/Navigation/CodeExplorer/CodeExplorerViewModel.cs
  Rubberduck.Inspections/QuickFixes/EncapsulateFieldQuickFix.cs
  Rubberduck.Inspections/QuickFixes/MoveFieldCloserToUsageQuickFix.cs
  Rubberduck.Inspections/QuickFixes/RenameDeclarationQuickFix.cs
  RubberduckTests/QuickFixes/MoveFieldCloserToUsageQuickFixTests.cs
Due: inspections

Update thanks.md
  thanks.md
Due: none

Added a covariant interface for the DisposalActionContainer.
  Rubberduck.VBEEditor/Utility/DisposalActionContainer.cs
Due: none

Hopefully, guard the users of ProjectDeclaration.Project correctly against the null returned after disposal.
  RetailCoder.VBE/Navigation/CodeExplorer/CodeExplorerProjectViewModel.cs
  RetailCoder.VBE/Navigation/CodeExplorer/CodeExplorerViewModel.cs
  RetailCoder.VBE/Refactorings/ExtractInterface/ExtractInterfacePresenter.cs
  RetailCoder.VBE/Refactorings/ExtractInterface/ExtractInterfaceRefactoring.cs
  RetailCoder.VBE/UI/CodeExplorer/Commands/AddComponentCommand.cs
  RetailCoder.VBE/UI/CodeExplorer/Commands/AddTestModuleCommand.cs
  RetailCoder.VBE/UI/CodeExplorer/Commands/IndentCommand.cs
  RetailCoder.VBE/UI/CodeExplorer/Commands/OpenProjectPropertiesCommand.cs
  RetailCoder.VBE/UI/Command/AddTestModuleCommand.cs
  RetailCoder.VBE/UI/Command/RunAllTestsCommand.cs
  RetailCoder.VBE/UI/UnitTesting/TestExplorerViewModel.cs
Due: ui

No Newlines Breaks
  license
Due: none

Set up check for Compile On Demand
  RetailCoder.VBE/UI/Command/ReparseCommand.cs
Due: ui

Clean up the naming to make more sense of its logic flow.
  RetailCoder.VBE/UI/Command/ReparseCommand.cs
Due: ui

Updated Licence.rtf
  License.rtf
Due: none

Set up dependency injection Create new automagic factory for SettingsForm Update unit tests
  RetailCoder.VBE/UI/Command/SettingsCommand.cs
  RetailCoder.VBE/UI/Inspections/InspectionResultsViewModel.cs
  RetailCoder.VBE/UI/Settings/SettingsForm.cs
  RetailCoder.VBE/UI/ToDoItems/ToDoExplorerViewModel.cs
  RetailCoder.VBE/UI/UnitTesting/TestExplorerViewModel.cs
  RubberduckTests/Settings/GeneralSettingsTests.cs
  RubberduckTests/TodoExplorer/TodoExplorerTests.cs
Due: ui

Remove unused mock function
  RubberduckTests/TodoExplorer/TodoExplorerTests.cs
Due: none

Correct wording in the resource strings.
  RetailCoder.VBE/UI/RubberduckUI.Designer.cs
  RetailCoder.VBE/UI/RubberduckUI.resx
Due: ui

Refactor of settings, separate validation from setter
  RetailCoder.VBE/UI/Settings/GeneralSettingsViewModel.cs
Due: ui

Support writing to all registry paths whenever available
  RetailCoder.VBE/VBERuntime/VBESettings.cs
Due: none

Update resource string to inform the user that a restart is mandatory
  RetailCoder.VBE/UI/RubberduckUI.Designer.cs
  RetailCoder.VBE/UI/RubberduckUI.resx
Due: ui

Create registry wrapper to aid in testing Implement wrapper Make unit tests on registry safe
  RetailCoder.VBE/Rubberduck.csproj
  RetailCoder.VBE/VBERuntime/RegistryWrapper.cs
  RetailCoder.VBE/VBERuntime/VBESettings.cs
  RubberduckTests/VBE/VBESettingsTests.cs
Due: none

Clean references of Rubberduck.Main
  Installer Build Script.iss
  Rubberduck.Inspections/Rubberduck.Inspections.csproj
  Rubberduck.Main/Properties/AssemblyInfo.cs
  Rubberduck.Main/Rubberduck.Main.csproj
  appveyor.yml
Due: inspections

Update IoC registration after split
  Rubberduck.Core/UI/Settings/GeneralSettingsViewModel.cs
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
  Rubberduck.Main/Root/TypeExtensions.cs
  Rubberduck.Main/Rubberduck.Main.csproj
Due: none

Add InternalsVisibleTo for RubberduckTests to all other projects,
  Rubberduck.Inspections/Properties/AssemblyInfo.cs
  Rubberduck.Main/Properties/AssemblyInfo.cs
  Rubberduck.Parsing/Properties/AssemblyInfo.cs
  Rubberduck.RegexAssistant/Properties/AssemblyInfo.cs
  Rubberduck.SettingsProvider/Properties/AssemblyInfo.cs
  Rubberduck.SmartIndenter/Properties/AssemblyInfo.cs
  Rubberduck.VBEEditor/Properties/AssemblyInfo.cs
  RubberduckTests/Properties/AssemblyInfo.cs
Due: inspections, tools

Register ExperimentalTypes as CTor argument for GeneralSettingsViewModel [WIP]
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
Due: none

Removed stray SourceControl mentions in Solution
  Rubberduck.Core/Properties/Settings.Designer.cs
  Rubberduck.Core/Properties/Settings.settings
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/Settings/GeneralConfigProvider.cs
  Rubberduck.Core/Settings/WindowSettings.cs
  Rubberduck.Core/UI/CodeExplorer/CodeExplorerControl.xaml
  Rubberduck.Core/UI/Command/MenuItems/ParentMenus/ToolsParentMenu.cs
  Rubberduck.Core/UI/Command/SourceControlCommand.cs
  Rubberduck.Core/UI/RubberduckUI.de.resx
  Rubberduck.Core/UI/RubberduckUI.fr.resx
  Rubberduck.Core/UnitTesting/PermissiveObjectComparer.cs
  Rubberduck.Core/app.config
  Rubberduck.Main/Rubberduck.Main.csproj
Due: none

Defer type assignability checks to the runtime.
  Rubberduck.Core/Refactorings/ExtractMethod/ExtractMethodModel.cs
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Inspections/Properties/AssemblyInfo.cs
  Rubberduck.Main/Root/TypeExtensions.cs
Due: inspections

Fix AddUserControl visibility
  Rubberduck.Main/ComInteraction/UI/DockableWindowHost.cs
Due: none

Move App and AppMenu back into Core
  Rubberduck.Core/App.cs
  Rubberduck.Core/AppMenu.cs
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Main/Rubberduck.Main.csproj
Due: none

Reinstate Command Registration code
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
Due: none

Clarify ExperimentalFeatureTypes usage
  Rubberduck.Core/Common/ModuleExporter.cs
  Rubberduck.Core/UI/Settings/GeneralSettingsViewModel.cs
  Rubberduck.Core/UI/Settings/SettingsForm.cs
Due: none

Comment out experimentalTypes registration and add FIXME
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
Due: none

Disable automatic COM interop registration
  RetailCoder.VBE/Rubberduck.csproj
Due: none

Add Rubberduck.Deployment (a Wix project)
  Rubberduck.Deployment/Product.wxs
  Rubberduck.Deployment/Rubberduck.Deployment.wixproj
  Rubberduck.Deployment/packages.config
  Rubberduck.sln
Due: none

Add Assembly Metainformation to Rd.API and retarget to .NET4.5
  Rubberduck.API/Properties/AssemblyInfo.cs
  Rubberduck.API/Rubberduck.API.csproj
  Rubberduck.Core/Properties/AssemblyInfo.cs
Due: none

Remove unnecessary variable from DockableToolwindowPresenter
  Rubberduck.Core/UI/DockableToolwindowPresenter.cs
Due: none

Update VBESettingsTest to not use the Locale-Dependent decimal.Parse
  Rubberduck.Core/Properties/AssemblyInfo.cs
  Rubberduck.Core/VBERuntime/VBESettings.cs
  RubberduckTests/VBE/VBESettingsTests.cs
Due: none

Release Transient Fakes obtained from CW after using them
  Rubberduck.Core/UnitTesting/IFakes.cs
  Rubberduck.Core/UnitTesting/TestEngine.cs
Due: none

Created SheetAccessedUsingString inspection
  RetailCoder.VBE/Properties/Settings.Designer.cs
  RetailCoder.VBE/Properties/Settings.settings
  RetailCoder.VBE/app.config
  Rubberduck.Inspections/Concrete/SheetAccessedUsingStringInspection.cs
  Rubberduck.Inspections/Rubberduck.Inspections.csproj
  Rubberduck.Parsing/Inspections/Resources/InspectionsUI.Designer.cs
  Rubberduck.Parsing/Inspections/Resources/InspectionsUI.resx
  RubberduckTests/Inspections/SheetAccessedUsingStringInspectionTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: inspections

Test fix after merging
  RubberduckTests/Inspections/SheetAccessedUsingStringInspectionTests.cs
Due: none

SheetAccessedUsingString inpection will be triggered only when using string literals
  Rubberduck.Inspections/Concrete/SheetAccessedUsingStringInspection.cs
  RubberduckTests/Inspections/SheetAccessedUsingStringInspectionTests.cs
Due: inspections

Path conditions:
  ui: any of: RetailCoder.VBE/UI, but not: Rubberduck.VBEEditor, RubberduckTests
  inspections: any of: Rubberduck.Inspections, but not: Rubberduck.VBEEditor, RubberduckTests
  tools: any of: Rubberduck.SourceControl, Rubberduck.SmartIndenter, Rubberduck.RegexAssistant, but not: Rubberduck.VBEEditor, RubberduckTests
