Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: ui, inspections, tools

codecov.yml:

codecov:
  branch: next
  ci:
    - appveyor
  max_report_age: off
  
ignore:
  # as requested by MDoerner, because they aren't really testable
  - Rubberduck.VBEEditor
  # it makes no sense to track coverage on unit-tests
  - RubberduckTests
    
coverage:
  round: nearest
  precision: 2
  range: 40..80 
  status:
    # don't check patch coverage
    patch: off
    project:
      default:
        target: 0 # don't force a minimum coverage
        # allow decrease by up to 5 %
        threshold: 5
        base: auto
  
comment:
  layout: "flags, diff, files"
  behavior: once
  require_changes: yes

flags:
  core:
    paths:
      - Rubberduck.Parsing
      - Rubberduck.Core
      # Exclude UI from the core flag, that has a separate flag
      - !Rubberduck.Core/UI 
  ui:
    paths:
      - Rubberduck.Core/UI
  inspections:
    paths:
      - Rubberduck.Inspections
  tools:
     paths:
       - Rubberduck.SourceControl
       - Rubberduck.SmartIndenter
       - Rubberduck.RegexAssistant

Wrap ActiveCodePane and CodeModule in using blocks
  Rubberduck.Core/Refactorings/MoveCloserToUsage/MoveCloserToUsageRefactoring.cs
Due: none

Test case for MoveCloserToUsage refactoring with line numbers
  RubberduckTests/Refactoring/MoveCloserToUsageTests.cs
Due: none

Rename ParserState to Parser
  Rubberduck.API/API/VBA/Parser.cs
  Rubberduck.API/Rubberduck.API.csproj
  Rubberduck.SharedResources/COM/RubberduckGuid.cs
Due: none

Simplify the event handling and set up the ParserState enum for API.
  Rubberduck.API/API/VBA/Parser.cs
  Rubberduck.API/API/VBA/ParserState.cs
  Rubberduck.API/Rubberduck.API.csproj
  Rubberduck.SharedResources/COM/RubberduckGuid.cs
Due: none

Set up event for entry during a busy state (e.g. VBA code may be running and thus cannot receive the event)
  Rubberduck.API/API/VBA/Parser.cs
Due: none

Move the VBA folder one folder down (the API folder is redundant since we're in "Rubberduck.API" project....
  Rubberduck.API/Rubberduck.API.csproj
  Rubberduck.API/VBA/Accessibility.cs
  Rubberduck.API/VBA/Declaration.cs
  Rubberduck.API/VBA/DeclarationType.cs
  Rubberduck.API/VBA/IdentifierReference.cs
  Rubberduck.API/VBA/Parser.cs
  Rubberduck.API/VBA/ParserState.cs
Due: none

Create a new Declarations collection class
  Rubberduck.API/Rubberduck.API.csproj
  Rubberduck.API/VBA/Declarations.cs
  Rubberduck.SharedResources/COM/RubberduckGuid.cs
  Rubberduck.SharedResources/COM/RubberduckProgId.cs
Due: none

Modify Parser to use Declarations instead of raw arrays of Declaration objects
  Rubberduck.API/VBA/Declarations.cs
  Rubberduck.API/VBA/Parser.cs
Due: none

Height adujst to show copyright. Width adjust to show full OS
  Rubberduck.Core/UI/About/AboutDialog.Designer.cs
Due: ui

Introduce the WellKnownDispIds class to avoid using magic numbers for DispIds that has special meaning to COM.
  Rubberduck.API/VBA/Declarations.cs
  Rubberduck.API/VBA/Parser.cs
  Rubberduck.SharedResources/COM/WellKnownDispIds.cs
  Rubberduck.SharedResources/Rubberduck.SharedResources.csproj
Due: none

Add resource strings
  Rubberduck.Core/UI/About/AboutControl.xaml
  Rubberduck.Core/UI/About/AboutDialog.Designer.cs
  Rubberduck.Core/UI/RubberduckUI.Designer.cs
  Rubberduck.Core/UI/RubberduckUI.resx
Due: ui

Missed resource strings. Fully spell out Rubberduck.
  Rubberduck.Core/UI/About/AboutControl.xaml
  Rubberduck.Core/UI/RubberduckUI.Designer.cs
  Rubberduck.Core/UI/RubberduckUI.resx
Due: ui

Retarget from 4.5 to 4.6 to support analyzer references.
  Rubberduck.API/Rubberduck.API.csproj
  Rubberduck.API/app.config
  Rubberduck.Core/Properties/Settings.Designer.cs
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/UI/CodeExplorer/CodeExplorer.Designer.cs
  Rubberduck.Core/app.config
  Rubberduck.Core/packages.config
  Rubberduck.Deployment/Rubberduck.Deployment.csproj
  Rubberduck.Inspections/Rubberduck.Inspections.csproj
  Rubberduck.Inspections/app.config
  Rubberduck.Inspections/packages.config
  Rubberduck.Main/Rubberduck.Main.csproj
  Rubberduck.Main/packages.config
  Rubberduck.Parsing/Inspections/Resources/InspectionsUI.Designer.cs
  Rubberduck.Parsing/ParsingText.Designer.cs
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  Rubberduck.Parsing/packages.config
  Rubberduck.RegexAssistant/Rubberduck.RegexAssistant.csproj
  Rubberduck.RegexAssistant/i18n/AssistantResources.Designer.cs
  Rubberduck.RegexAssistant/packages.config
  Rubberduck.SettingsProvider/Rubberduck.SettingsProvider.csproj
  Rubberduck.SettingsProvider/packages.config
  Rubberduck.SharedResources/App.config
  Rubberduck.SharedResources/Rubberduck.SharedResources.csproj
  Rubberduck.SmartIndenter/Rubberduck.SmartIndenter.csproj
  Rubberduck.SmartIndenter/packages.config
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
  Rubberduck.VBEEditor/packages.config
  Rubberduck.VBEditor.VB6/Rubberduck.VBEditor.VB6.csproj
  Rubberduck.VBEditor.VB6/packages.config
  Rubberduck.VBEditor.VBA/Rubberduck.VBEditor.VBA.csproj
  Rubberduck.VBEditor.VBA/app.config
  Rubberduck.VBEditor.VBA/packages.config
  Rubberduck.sln
Due: ui, inspections, tools

Remove the .NET Standard 1.3 project
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/Helpers/CodeFixVerifier.Helper.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/Helpers/DiagnosticResult.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/Helpers/DiagnosticVerifier.Helper.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/RubberduckCodeAnalysis.Test.csproj
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/RubberduckCodeAnalysisUnitTests.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/Verifiers/CodeFixVerifier.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.Test/Verifiers/DiagnosticVerifier.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/ComVisibleTypeAnalyzer.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/Resources.Designer.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/Resources.resx
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/RubberduckCodeAnalysis.csproj
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/RubberduckCodeAnalysisCodeFixProvider.cs
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/tools/install.ps1
  RubberduckCodeAnalysis/RubberduckCodeAnalysis/tools/uninstall.ps1
Due: none

Update the test projects and set up a new test project to house the analyzer's unit tests using same framework target
  RubberduckCodeAnalysis/ComVisibleTypeAnalyzer.cs
  RubberduckCodeAnalysis/Properties/AssemblyInfo.cs
  RubberduckCodeAnalysis/Resources.Designer.cs
  RubberduckCodeAnalysis/Resources.resx
  RubberduckCodeAnalysis/RubberduckCodeAnalysis.csproj
  RubberduckCodeAnalysis/RubberduckCodeAnalysisCodeFixProvider.cs
  RubberduckCodeAnalysis/app.config
  RubberduckCodeAnalysis/packages.config
  RubberduckCodeAnalysis/tools/install.ps1
  RubberduckCodeAnalysis/tools/uninstall.ps1
  RubberduckTests/RubberduckTests.csproj
  RubberduckTests/app.config
  RubberduckTestsCodeAnalysis/Helpers/CodeFixVerifier.Helper.cs
  RubberduckTestsCodeAnalysis/Helpers/DiagnosticResult.cs
  RubberduckTestsCodeAnalysis/Helpers/DiagnosticVerifier.Helper.cs
  RubberduckTestsCodeAnalysis/RubberduckCodeAnalysisUnitTests.cs
  RubberduckTestsCodeAnalysis/RubberduckTestsCodeAnalysis.csproj
  RubberduckTestsCodeAnalysis/Verifiers/CodeFixVerifier.cs
  RubberduckTestsCodeAnalysis/Verifiers/DiagnosticVerifier.cs
  RubberduckTestsCodeAnalysis/app.config
  RubberduckTestsCodeAnalysis/packages.config
Due: none

Include new app.config for deployment
  Rubberduck.Deployment/app.config
Due: none

Fix duplicate DispID
  Rubberduck.API/VBA/IdentifierReference.cs
Due: none

Remove unwanted reference
  Rubberduck.Inspections/Rubberduck.Inspections.csproj
Due: inspections

Remove another unwanted reference.
  Rubberduck.Deployment/Rubberduck.Deployment.csproj
Due: none

Negative test of analyzer in AV
  Rubberduck.API/VBA/Accessibility.cs
Due: none

Restore the original setting -- the negative test passed.
  Rubberduck.API/VBA/Accessibility.cs
Due: none

Introduce a ApiProvider factory to encapsulate the Parser creation
  Rubberduck.API/Properties/AssemblyInfo.cs
  Rubberduck.API/Rubberduck.API.csproj
  Rubberduck.API/VBA/APIProvider.cs
  Rubberduck.API/VBA/Parser.cs
  Rubberduck.Main/Properties/AssemblyInfo.cs
  Rubberduck.SharedResources/COM/RubberduckGuid.cs
  Rubberduck.SharedResources/COM/RubberduckProgId.cs
Due: none

Create IdentifierReferences collection and update the API (namespace change didn't work)
  Rubberduck.API/Properties/AssemblyInfo.cs
  Rubberduck.API/Rubberduck.API.csproj
  Rubberduck.API/VBA/Declaration.cs
  Rubberduck.API/VBA/IdentifierReferences.cs
  Rubberduck.API/VBA/Parser.cs
  Rubberduck.SharedResources/COM/RubberduckGuid.cs
  Rubberduck.SharedResources/COM/RubberduckProgId.cs
Due: none

revert string interpolation as per review comment
  Rubberduck.Core/Settings/HotkeySetting.cs
Due: none

Fix a bug in the powershell script
  Rubberduck.Deployment/BuildRegistryScript.ps1
Due: none

More czech translation of Rubberduck
  RetailCoder.VBE/UI/RubberduckUI.cs.resx
  Rubberduck.Parsing/Inspections/Resources/InspectionsUI.cs.resx
  Rubberduck.SourceControl/SourceControlText.cs.resx
Due: tools

Refactor the com event handling into UiDispatcher to make it more general.
  Rubberduck.API/VBA/Parser.cs
  Rubberduck.Parsing/UIContext/IUiDispatcher.cs
  Rubberduck.Parsing/UIContext/UiDispatcher.cs
Due: none

inlined single ParsingText.resx usage
  Rubberduck.Parsing/ParsingText.Designer.cs
  Rubberduck.Parsing/ParsingText.de.resx
  Rubberduck.Parsing/ParsingText.fr.resx
  Rubberduck.Parsing/ParsingText.resx
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  Rubberduck.Parsing/VBA/StringExtensions.cs
Due: none

restored "Inspection" suffix to match type names
  Rubberduck.Inspections/Concrete/RedundantOptionInspection.cs
  Rubberduck.Parsing/VBA/StringExtensions.cs
  Rubberduck.Resources/Inspections/InspectionNames.Designer.cs
  Rubberduck.Resources/Inspections/InspectionNames.de.resx
  Rubberduck.Resources/Inspections/InspectionNames.fr.resx
  Rubberduck.Resources/Inspections/InspectionNames.resx
  Rubberduck.Resources/Rubberduck.Resources.csproj
  RubberduckTests/Inspections/GeneralInspectionTests.cs
Due: inspections

renamed 'Meta' to more descriptive 'InspectionInfo'
  Rubberduck.Core/App.cs
  Rubberduck.Core/Settings/CodeInspectionSettings.cs
  Rubberduck.Inspections/Abstract/InspectionBase.cs
  Rubberduck.Inspections/Concrete/RedundantOptionInspection.cs
  Rubberduck.Resources/Inspections/InspectionInfo.Designer.cs
  Rubberduck.Resources/Inspections/InspectionInfo.de.Designer.cs
  Rubberduck.Resources/Inspections/InspectionInfo.de.resx
  Rubberduck.Resources/Inspections/InspectionInfo.fr.Designer.cs
  Rubberduck.Resources/Inspections/InspectionInfo.fr.resx
  Rubberduck.Resources/Inspections/InspectionInfo.resx
  Rubberduck.Resources/Inspections/Meta.de.Designer.cs
  Rubberduck.Resources/Inspections/Meta.fr.Designer.cs
  Rubberduck.Resources/Rubberduck.Resources.csproj
  RubberduckTests/Inspections/GeneralInspectionTests.cs
Due: inspections

extracted AboutUI.resx
  Rubberduck.Core/UI/About/AboutControl.xaml.cs
  Rubberduck.Core/UI/About/AboutControlViewModel.cs
  Rubberduck.Resources/About/AboutUI.Designer.cs
  Rubberduck.Resources/About/AboutUI.de.Designer.cs
  Rubberduck.Resources/About/AboutUI.de.resx
  Rubberduck.Resources/About/AboutUI.fr.Designer.cs
  Rubberduck.Resources/About/AboutUI.fr.resx
  Rubberduck.Resources/About/AboutUI.resx
  Rubberduck.Resources/Rubberduck.Resources.csproj
  Rubberduck.Resources/RubberduckUI.Designer.cs
  Rubberduck.Resources/RubberduckUI.de.resx
  Rubberduck.Resources/RubberduckUI.fr.resx
  Rubberduck.Resources/RubberduckUI.resx
Due: ui

Nuget package updates
  Rubberduck.Parsing/Rubberduck.Parsing.csproj
  RubberduckTests/app.config
  RubberduckTests/packages.config
  RubberduckTestsCodeAnalysis/RubberduckTestsCodeAnalysis.csproj
Due: none

yet another few lines of text translated to Czech
  RetailCoder.VBE/UI/RubberduckUI.cs.resx
Due: none

Removed loading of assemblies based on names.
  Rubberduck.Main/Root/RubberduckIoCInstaller.cs
Due: none

Go away, you old version that should never been merged in first place.
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
Due: none

Made ExtractMethod and RegexSearchAndReplace experimental in non-debug builds instead of only removing the menu entries.
  Rubberduck.Core/UI/Command/MenuItems/RefactorExtractMethodCommandMenuItem.cs
  Rubberduck.Core/UI/Command/MenuItems/RegexSearchReplaceCommandMenuItem.cs
  Rubberduck.Core/UI/Command/Refactorings/RefactorExtractMethodCommand.cs
  Rubberduck.Core/UI/Command/RegexSearchReplaceCommand.cs
Due: ui
